
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{'MWTN_SHOWOBJECT' |
		translate}}</h3>
</div>
<div class="modal-body" id="modal-body">

	<div class="container" style="width: 100%">

		<div class="row">
			<div class="col-md-3 text-right">{{'MWTN_NETWORKELEMENT' |
				translate}}</div>
			<div class="col-md-9">
				<b>{{path.nodeId}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right">{{'MWTN_LAYER' | translate}}
			</div>
			<div class="col-md-9">
				<b>{{['mwtn', path.layer].join('_').toUpperCase() | translate}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right">{{'MWTN_LP' | translate}}</div>
			<div class="col-md-9">
				<b>{{path.layerProtocolId}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right">{{'MWTN_CONDITIONALPACKAGE' |
				translate}}</div>
			<div class="col-md-9">
				<b>{{path.pacId}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right">{{'MWTN_SUBOBJECT' |
				translate}}</div>
			<div class="col-md-9">
				<b>{{path.partId}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right">{{'MWTN_ATTRIBUTE' |
				translate}}</div>
			<div class="col-md-9">
				<b>{{['mwtn', path.attribute].join('_').toUpperCase() |
					translate}}</b> <b ng-show="path.row"> / {{['mwtn',
					path.row].join('_').toUpperCase() | translate}}</b> <b
					ng-show="path.row">[{{path.value}}]</b> <br /> <br />
			</div>
		</div>

		<div class="row" ng-class="{'bgLightGrey': $index%2 !== 0}" ng-repeat="attribute in attributes">

			<div class="col-md-5 text-right">{{['mwtn',
				attribute.name].join('_').toUpperCase() | translate}}</div>
			<!-- string -->
			<div class="col-md-7" ng-show="getType(attribute.value) === 'string'">
				<b>{{attribute.value}}</b>
			</div>

			<!-- number, boolean -->
			<div class="col-md-2 text-right"
				ng-show="getType(attribute.value) !== 'string' && getType(attribute.value) !== 'object' && getType(attribute.value) !== 'array'">
				<b>{{attribute.value}}</b>
			</div>
			<div class="col-md-4"
				ng-show="getType(attribute.value) !== 'string' && getType(attribute.value) !== 'object' && getType(attribute.value) !== 'array'">{{schema[attribute.name].unit}}</div>


			<div class="col-md-7" ng-show="getType(attribute.value) === 'object'">
				<button ng-click="showObject(attribute.value)"
					class="btn btn-primary">{{'MWTN_SHOWOBJECT' |
					translate}}...</button>
			</div>
			<div class="col-md-7" ng-show="getType(attribute.value) === 'array'">
				<button ng-click="showArray(path, attribute.value)"
					class="btn btn-primary">{{'MWTN_SHOWLIST' | translate}}:
					{{attribute.value.length}} {{'MWTN_ITEMS'| translate}}...</button>
			</div>

		</div>

	</div>
</div>

<div class="modal-footer">
	<!--	<button class="btn btn-primary" type="button" ng-click="ok()">{{'MWTN_CREATE' | translate}}</button> -->
	<button class="btn btn-warning" type="button" ng-click="cancel()">{{'MWTN_CLOSE'
		| translate}}</button>
</div>