<div class="container" style="width: 100%">

	<div ng-hide="getType(attributes) === 'array'">{{ attributes }}</div>
	
	<div ng-show="getType(attributes) === 'array'" class="row" ng-repeat="attribute in attributes">
		<div class="col-md-5 text-right">{{['mwtn', attribute.name].join('_').toUpperCase() | translate}}</div>
		<!-- string -->
		<div class="col-md-7"
			ng-show="getType(attribute.value) === 'string'"><b>{{attribute.value}}</b></div>
		
		<!-- number, boolean -->
		<div class="col-md-3 text-right"
			ng-show="getType(attribute.value) !== 'string' && getType(attribute.value) !== 'object' && getType(attribute.value) !== 'array'"><b>{{attribute.value}}</b></div>
		<div class="col-md-3"
            ng-show="getType(attribute.value) !== 'string' && getType(attribute.value) !== 'object' && getType(attribute.value) !== 'array'">{{attribute.unit}}</div>
		
			
		<div class="col-md-7" ng-show="getType(attribute.value) === 'object'">
			<button ng-click="showObject(attribute.value)" class="btn btn-primary">{{'MWTN_SHOWOBJECT'
				| translate}}...</button>
		</div>
		<div class="col-md-7" ng-show="getType(attribute.value) === 'array'">
			<button ng-click="showArray(path, attribute)" class="btn btn-primary">{{'MWTN_SHOWLIST' | translate}}: {{attribute.value.length}}  {{'MWTN_ITEMS'| translate}}...</button>
		</div>
	</div>
</div>
