/**
 *  Add your application related css here
 */
#mwtnConfig .row {
	margin: 10px;
}


#mwtnConfig .pointer {
	cursor:pointer;
}

#mwtnConfig .modal-dialog .modal-huge {
  width: 1200px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

@media (min-width: 1296px) {
  .modal-huge {
    width: 1200px;
  }
}

.mwtnShowListGrid {
  height: 600px;
  background-color: white;
}
	
    
.bgLightGrey {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #fafafa;
    margin-top: 1px;
    margin-bottom: 1px;
}