<div id="mwtnConfig">
	<div class="container" style="width: 100%">

		<div class="row">
			<div class="col-md-2 text-right radio">
				<span>{{'Select NetworkElement' | translate}}</span>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<select class="form-control" ng-model="networkElement">
						<option ng-repeat="ne in networkElements" value="{{ne.id}}">{{ne.id}}
							(revision: {{ne.revision}})</option>
					</select>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<div class="form-group">
					<button type="button" class="btn btn-default"
						ng-click="collapseAll()">{{'Collapse all' | translate}}</button>
				</div>
			</div>

		</div>
	</div>
	<div class="container" style="width: 100%">
		<uib-accordion close-others="oneAtATime">

		<div class="row">
			<div class="col-md-12">
				<div uib-accordion-group class="panel-primary"
					is-open="status.ne">
					<uib-accordion-heading>
					    <i class="pull-left fa" ng-class="{'fa-chevron-down': status.ne, 'fa-chevron-right': !status.ne}"></i>
					    <span>{{'NetworkElement' | translate}} '{{onfNetworkElement.nameList[0].value}}'</span>
					</uib-accordion-heading>

						<div class="container" style="width:100%" path="path" parameters="onfNetworkElement" >
						</div>
					
					<div ng-repeat="ltp in onfLtps" uib-accordion-group
						class="panel-default"
						heading=""
						is-open="status['ltp' + separator + ltp.uuid]">
						<uib-accordion-heading>
						    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['ltp' + separator + ltp.uuid], 'fa-chevron-right': !status['ltp' + separator + ltp.uuid]}"></i>
						    <span>{{'LTP' | translate}}({{ltp._lpList[0].layerProtocolName}}) '{{ltp.uuid}}' -> '{{ltp._lpList[0].uuid}}'</span>
						</uib-accordion-heading>
						<div class="container" style="width:100%" path="path" parameters="ltp" >
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-class="{ 'col-md-12': containers.length === 1, 'col-md-6': containers.length === 2, 'col-md-4': containers.length === 3 , 'col-md-3': containers.length > 3 }" ng-repeat="container in containers">
				<div uib-accordion-group class="panel-primary"
					is-open="status['container' + separator + container.layerProtocol]">
					<uib-accordion-heading>
					    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['container' + separator + container.layerProtocol], 'fa-chevron-right': !status['container' + separator + container.layerProtocol]}"></i>
					    <span>Container '{{container.layerProtocol}}'</span>
					</uib-accordion-heading>
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" 
						is-open="status['container' + separator +  container.layerProtocol + separator + part]">
						<uib-accordion-heading>
						    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['container' + separator +  container.layerProtocol + separator + part], 'fa-chevron-right': !status['container' + separator +  container.layerProtocol + separator + part]}"></i>
						    <span>{{part}}</span>
						</uib-accordion-heading>
 						<div ng-show="part === 'Configuration'" class="container" style="width:100%">
   					      <i class="pull-right fa fa-pencil-square-o pointer" aria-hidden="true" ng-click="openConfigView({list:'containers', lp:container.layerProtocol})" ></i>
						</div>
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in container[part]" path="path" parameters="parameters" >
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-class="{ 'col-md-12': structures.length === 1, 'col-md-6': structures.length === 2, 'col-md-4': structures.length === 3 , 'col-md-3': structures.length > 3 }" ng-repeat="structure in structures">
				<div uib-accordion-group class="panel-primary"
					is-open="status['structure' + separator + structure.layerProtocol]">
					<uib-accordion-heading>
					    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['structure' + separator + structure.layerProtocol], 'fa-chevron-right': !status['structure' + separator + structure.layerProtocol]}"></i>
					    <span>Structure '{{structure.layerProtocol}}'</span>
					</uib-accordion-heading>
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" 
						is-open="status['structure' + separator + structure.layerProtocol + separator + part]">
						<uib-accordion-heading>
						    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['structure' + separator + structure.layerProtocol + separator + part], 'fa-chevron-right': !status['structure' + separator + structure.layerProtocol + separator + part]}"></i>
						    <span>{{part}}</span>
						</uib-accordion-heading>
 						<!-- <div ng-show="part === 'Configuration'" class="container" style="width:100%">
   					      <i class="pull-right fa fa-pencil-square-o pointer" aria-hidden="true" ng-click="openConfigView({list:'structures', lp:structure.layerProtocol})" ></i>
						</div>  -->
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in structure[part]" path="path" parameters="parameters" >
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-class="{ 'col-md-12': airinterfaces.length === 1, 'col-md-6': airinterfaces.length === 2, 'col-md-4': airinterfaces.length === 3 , 'col-md-3': airinterfaces.length > 3 }" ng-repeat="airinterface in airinterfaces">
				<div uib-accordion-group class="panel-primary"
					is-open="status['airinterface' + separator + airinterface.layerProtocol]">
					<uib-accordion-heading>
					    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['airinterface' + separator + airinterface.layerProtocol], 'fa-chevron-right': !status['airinterface' + separator + airinterface.layerProtocol]}"></i>
					    <span>Air interface '{{airinterface.layerProtocol}}'</span>
					</uib-accordion-heading>
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" 
						is-open="status['airinterface' + separator + airinterface.layerProtocol + separator + part]">
						<uib-accordion-heading>
						    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['airinterface' + separator + airinterface.layerProtocol + separator + part], 'fa-chevron-right': !status['airinterface' + separator + airinterface.layerProtocol + separator + part]}"></i>
						    <span>{{part}}</span>
 						</uib-accordion-heading>
 						<div ng-show="part === 'Configuration'" class="container" style="width:100%">
   					      <i class="pull-right fa fa-pencil-square-o pointer" aria-hidden="true" ng-click="openConfigView({list:'airinterfaces', lp:airinterface.layerProtocol})" ></i>
						</div>
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in airinterface[part]" path="path" parameters="parameters" >
						</div>
					</div>
				</div>
			</div>
		</div>

		</uib-accordion>
	</div>
</div>
<hr />
<p>
	<span>Build: @buildtime@</span>
</p>