<div id="mwtnConfig">
	<div class="container" style="width: 100%">

		<div class="row">
			<div class="col-md-2 text-right">
				<span>{{'Select NetworkElement' | translate}}</span>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<select class="form-control" ng-model="networkElement">
						<option ng-repeat="ne in networkElements" value="{{ne.id}}">{{ne.id}}
							(revision: {{ne.revision}})</option>
					</select>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<div class="form-group">
					<button type="button" class="btn btn-default"
						ng-click="collapseAll()">{{'Collapse all' | translate}}</button>
				</div>
			</div>

		</div>
	</div>
	<div class="container" style="width: 100%">
		<uib-accordion close-others="oneAtATime">

		<div class="row">
			<div class="col-md-12">
				<div uib-accordion-group class="panel-primary"
					heading="{{'NetworkElement' | translate}} '{{onfNetworkElement.nameList[0].value}}'"
					is-open="status.ne">
					<pre>{{onfNetworkElement | json}}</pre>

					<div ng-repeat="ltp in onfLtps" uib-accordion-group
						class="panel-default"
						heading="{{'LTP' | translate}}({{ltp._lpList[0].layerProtocolName}}) '{{ltp.uuid}}' -> '{{ltp._lpList[0].uuid}}'"
						is-open="status['ltp' + separator + ltp.uuid]">
						<pre>{{ltp | json}}</pre>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-class="{ 'col-md-12': containers.length === 1, 'col-md-6': containers.length === 2, 'col-md-4': containers.length === 3 , 'col-md-3': containers.length > 3 }" ng-repeat="container in containers">
				<div uib-accordion-group class="panel-primary"
					heading="Container '{{container.layerProtocol}}'"
					is-open="status['container' + separator + container.layerProtocol]">
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" heading="{{part}}"
						is-open="status['container' + separator +  container.layerProtocol + separator + part]">
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in container[part]" path="path" parameters="parameters" schema="schema" >
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-class="{ 'col-md-12': structures.length === 1, 'col-md-6': structures.length === 2, 'col-md-4': structures.length === 3 , 'col-md-3': structures.length > 3 }" ng-repeat="structure in structures">
				<div uib-accordion-group class="panel-primary"
					heading="Structure '{{structure.layerProtocol}}'"
					is-open="status['structure' + separator + structure.layerProtocol]">
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" heading="{{part}}"
						is-open="status['structure' + separator + structure.layerProtocol + separator + part]">
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in structure[part]" path="path" parameters="parameters" schema="schema" >
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-class="{ 'col-md-12': airinterfaces.length === 1, 'col-md-6': airinterfaces.length === 2, 'col-md-4': airinterfaces.length === 3 , 'col-md-3': airinterfaces.length > 3 }" ng-repeat="airinterface in airinterfaces">
				<div uib-accordion-group class="panel-primary"
					heading="Air interface '{{airinterface.layerProtocol}}'"
					is-open="status['airinterface' + separator + airinterface.layerProtocol]">
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" heading="{{part}}"
						is-open="status['airinterface' + separator + airinterface.layerProtocol + separator + part]">
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in airinterface[part]" path="path" parameters="parameters" schema="schema" >
						</div>

					</div>
				</div>
			</div>
		</div>

		</uib-accordion>
	</div>
</div>
<hr />
<p>
	<span>Build: @buildtime@</span>
</p>