<ht-header help-link='sdnr/pnfFault/0.4.0/README.md'></ht-header>
<div class="mwtnError">{{error}}</div>

<uib-accordion close-others="oneATime">

<div uib-accordion-group class="panel-primary" is-open="status.currentProblemList">
  <uib-accordion-heading> <i class="pull-left fa"
    ng-class="{'fa-chevron-down': status.currentProblemList, 'fa-chevron-right': !status.currentProblemList}"></i>
  <span>{{'MWTN_CURRENT_PROBLEM_LIST' | translate}}
    ({{gridOptionsCurrentProblemList.data.length}})</span> 
        <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.currentProblemList"></i>
    </uib-accordion-heading>


  <div id="mwtnFaultGridCurrentProblemList" ui-grid="gridOptionsCurrentProblemList" ui-grid-exporter
    ui-grid-selection ui-grid-pinning ui-grid-resize-columns
    ui-grid-move-columns class="mwtnFaultGrid"></div>
</div>

<div uib-accordion-group class="panel-primary" is-open="status.alarmNotifications">
  <uib-accordion-heading> <i class="pull-left fa"
    ng-class="{'fa-chevron-down': status.alarmNotifications, 'fa-chevron-right': !status.alarmNotifications}"></i>
  <span>{{'MWTN_ALARM_NOTIFICATIONS' | translate}}
    ({{gridOptionsAlarmNotifications.data.length}} since {{date}})</span>
    <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.alarmNotifications"></i>
    </uib-accordion-heading>


  <div id="mwtnFaultGridAlarmNotifications" ui-grid="gridOptionsAlarmNotifications"
    ui-grid-exporter ui-grid-selection ui-grid-pinning
    ui-grid-resize-columns ui-grid-move-columns class="mwtnFaultGrid"></div>
</div>

<div uib-accordion-group class="panel-primary" is-open="status.alarmLog">
  <uib-accordion-heading> <i class="pull-left fa"
    ng-class="{'fa-chevron-down': status.alarmLog, 'fa-chevron-right': !status.alarmLog}"></i>
  <span>{{'MWTN_ALARM_LOG' | translate}}
    ({{maxCount}})</span>
    <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.alarmLog"></i>
    </uib-accordion-heading>

    <div id="mwtnFaultGridAlarmLog" 
         ui-grid="gridOptionsAlarmLog"
         ui-grid-pagination 
         ui-grid-exporter 
         ui-grid-selection 
         ui-grid-pinning 
         ui-grid-resize-columns 
         ui-grid-move-columns class="mwtnFaultGrid">
    </div>
    
    <div class="ht-pagination">
      <button class="btn btn-default"
            ng-disabled="paginationOptions.pageNumber === 1"
            ng-click="gridApi.pagination.seek(1)"
            ng-class="{'cancelCursor':paginationOptions.pageNumber === 1}"
            role="menuitem" type="button" title="Page to first" aria-label="Page to first">
        <i class="fa fa-step-backward "></i>
      </button>
      <button class="btn btn-default"
            ng-disabled="paginationOptions.pageNumber === 1"
            ng-class="{'cancelCursor':paginationOptions.pageNumber === 1}"
            ng-click="gridApi.pagination.previousPage()"

            role="menuitem" type="button" title="Previous Page" aria-label="Previous Page">
        <i class="fa fa-play fa-rotate-180 "></i>
      </button>
      <input class="btn btn-default" style="text-align:right;"  border="1" 
           ng-model="gridOptionsAlarmLog.paginationCurrentPage"
           ng-change="seekPage(gridOptionsAlarmLog.paginationCurrentPage)"
           type="number" style="width:20px;"/>
      <span class="dark">&nbsp;/ {{ gridApi.pagination.getTotalPages() }}</span>

      <button class="btn btn-default" role="menuitem" type="button" title="Next Page" aria-label="Next Page"
            ng-disabled="gridOptionsAlarmLog.paginationCurrentPage === gridApi.pagination.getTotalPages()"
            ng-click="gridApi.pagination.nextPage()">
          <i class="fa fa-play "></i>
      </button>
      <button class="btn btn-default" ng-disabled="gridOptionsAlarmLog.paginationCurrentPage === gridApi.pagination.getTotalPages()"
            ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())"
            role="menuitem" type="button" title="Page to last" aria-label="Page to last">
        <i class="fa fa-step-forward "></i>
      </button>
    
      <select 
        class="btn btn-default" name="repeatSelect" id="repeatSelect" 
        ng-init="gridOptionsAlarmLog.paginationPageSize = gridOptionsAlarmLog.paginationPageSizes[0]" 
        ng-model="gridOptionsAlarmLog.paginationPageSize" 
        ng-options="option for option in gridOptionsAlarmLog.paginationPageSizes"></select>
    
      <span class="dark"> items per page </span>

      <span class="pull-right dark">{{ paginationStatusMessage() }}</span>
    
    </div>

    <div class="text-right">
     <button type="button" id="clearLog" class="btn btn-warning" ng-click="clearLog()">
      <i class="fa fa-times" aria-hidden="true"></i>
      <span>Clear log...</span>
     </button>
     <!-- 
      see gird menu Export ...
     <button type="button" id="saveLog" class="btn btn-default" ng-click="saveLog()">
      <i class="fa fa-save" aria-hidden="true"></i>
      <span>Save...</span>
     </button>  -->
     <button type="button" id="refreshLog" class="btn btn-primary" ng-click="refreshLog()">
      <span>{{'MWTN_REFRESH' | translate}}</span>
     </button> 
    </div>
  
  </div>
</uib-accordion>

<hr />
<div class="owl">
 <span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>