
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{'Add to required NetworkElements' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">

	<div class="container" style="max-width: 600px;">

		<div class="row">
			<div class="col-md-12">
				<span>Create a new NetworkElement in planning database as clone of existing real NetworkElement.</span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 text-right">
				<span>{{'MWTN_NAME' | translate}}</span>
			</div>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="netconfServer['node-id']"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 text-right">
				<span>{{'MWTN_IPADDRESS' | translate}}</span>
			</div>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="netconfServer['netconf-node-topology:host']"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 text-right">
				<span>{{'MWTN_NETCONF_PORT' | translate}}</span>
			</div>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="netconfServer['netconf-node-topology:port']"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 text-right">
				<span>{{'MWTN_USERNAME' | translate}}</span>
			</div>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="netconfServer.username"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 text-right">
				<span>{{'MWTN_PASSWORD' | translate}}</span>
			</div>
			<div class="col-md-4">
				<input class="form-control" type="password" ng-model="netconfServer.password"></input>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 text-right">
				<span>{{'MWTN_SITE' | translate}}</span>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<input list="sites" class="form-control" ng-model="netconfServer.site">
                    <datalist id="sites">
				      <option ng-repeat="site in sites" value="{{site.id}}" >{{site.name}}</option>
                    </datalist>
				</div>
			</div>
		</div>
      
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">{{'MWTN_ADD_TO_REQUIRED_NETWORKELEMENTS' | translate}}</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">{{'MWTN_CANCEL' | translate}}</button>
</div>