<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{ data.ne.name }}{{ data.ne['node-id'] }}</h3>
</div>
<div class="modal-body" id="modal-body" ng-hide="data.ne.required">
  <div class="row">
    <div class="col-md-2 text-right">
      <span>{{'MWTN_NETWORKELEMENT' | translate}}</span>
    </div>
    <div class="col-md-10">
      <b>{{data.ne['node-id']}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">
      <span>{{'MWTN_IPADDRESS' | translate}}</span>
    </div>
    <div class="col-md-10">
      <b>{{data.ne['netconf-node-topology:host']}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">
      <span>{{'MWTN_PORT' | translate}}</span>
    </div>
    <div class="col-md-10">
      <b>{{data.ne['netconf-node-topology:port']}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">
      <span>{{'MWTN_USERNAME' | translate}}</span>
    </div>
    <div class="col-md-10">
      <b>{{data.mountpoint['netconf-node-topology:username']}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-right">
      <span>{{'MWTN_PASSWORD' | translate}}</span>
    </div>
    <div class="col-md-10">
      <b>{{data.mountpoint['netconf-node-topology:password']}}</b>
    </div>
  </div>
</div>
<div class="modal-body" id="modal-body" ng-show="data.ne.required">
  <!-- web -->
  <div ng-show="data.web.supported">
      <p>
        <span>The network element supports a native web user interface.</span>
        <br/>
        <span> Please use following link:</span>
        <div class="input-append">
          <input class="mwtn-form-control" type="text" value="{{ data.web.getLink() }}" readonly></input>
          <a class="btn btn-default" href="{{ data.web.getLink() }}" target="_blank">
            <i class="fa fa-external-link" aria-hidden="true"></i>
          </a>
        </div>
      <p>
  </div>
  <div ng-show="!data.web.supported">
      <p>The network element does not support a native web user interface.</p>
  </div>
  <!-- terminal -->
  <hr/>
  <div ng-show="data.terminal.supported">
    <p>
      <span>The network element supports a native terminal or console application.</span>
      <br/>
      <span>Please the copy button and paste the command into a terminal window:</span>
    <p>
    <div class="input-append">
      <input class="mwtn-form-control" type="text" value="{{ data.terminal.getCommand() }}" readonly></input>
      <button class="btn btn-default" type="button" clipboard supported="supported" text="data.terminal.getCommand()" on-copied="data.terminal.copyToClipboard()" on-error="error(err)">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
      </button>
      <span ng-show="data.terminal.copied === true" class="green">Check your clipboard.</span>
    </div>
  </div>
  <div ng-show="!data.web.supported">
    <p>The network element does not support a native terminal or console application.</p>
  </div>

  <!-- application -->
  <hr/>
  <div ng-show="data.application.supported">
    <p>
      <span>The network element can be managed via a pre-installed application.</span>
      <br/>
      <span>Please the copy button and paste the command into a terminal window:</span>
    <p>
    <div class="input-append">
      <input class="mwtn-form-control" type="text" value="{{ data.application.getCommand() }}" readonly></input>
      <button class="btn btn-default" type="button" clipboard supported="supported" text="data.application.getCommand()" on-copied="data.application.copyToClipboard()" on-error="error(err)">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
      </button>
      <span ng-show="data.application.copied === true" class="green">Check your clipboard.</span>
    </div>
  </div>
  
</div>
<div class="modal-body" id="modal-body">
  <!-- yang capabilites -->
  <hr/>
  <h3>{{ 'MWTN_YANG_CAPABILITIES' | translate }}</h3>
  <div id="yangCapabilitiesGrid" 
        ui-grid="yangCapabilitiesGridOptions"
        ui-grid-exporter ui-grid-selection ui-grid-pinning
        ui-grid-resize-columns 
        ui-grid-move-columns class="yangCapabilitiesGrid">
  </div>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" type="button" ng-show="data.ne.required" ng-click="delete(data.ne)">
    <i class="fa fa-trash" aria-hidden="true"></i>
    <span>{{'MWTN_DELETE' | translate}}...</span>
  </button>
	<button class="btn btn-warning" type="button" ng-show="data.ne.required" ng-click="hide(data.ne)">
    <i class="fa fa-times" aria-hidden="true"></i>
    <span>{{'MWTN_HIDE' | translate}}...</span>
  </button>
	<button class="btn btn-primary" type="button" ng-click="ok()">
    <span>{{'MWTN_CLOSE' | translate}}</span>
  </button>
</div>
