
<uib-accordion close-others="oneAtATime">

<div uib-accordion-group class="panel-primary"
	is-open="status.requiredNes">
	<uib-accordion-heading>
	    <i class="pull-left fa" ng-class="{'fa-chevron-down': status.requiredNes, 'fa-chevron-right': !status.requiredNes}"></i>
	    <span>{{'Required NetworkElements' | translate}}</span>
	</uib-accordion-heading>
	<div id="requiredNesGrid" ui-grid="requiredNesGridOptions"
		ui-grid-exporter ui-grid-selection ui-grid-pinning
		ui-grid-resize-columns ui-grid-move-columns class="requiredNesGrid">
	</div>
</div>

<div uib-accordion-group class="panel-default"
	is-open="status.unkownNes">
	<uib-accordion-heading>
	    <i class="pull-left fa" ng-class="{'fa-chevron-down': status.unkownNes, 'fa-chevron-right': !status.unkownNes}"></i>
	    <span>{{'Unknown NetworkElements' | translate}}</span>
	</uib-accordion-heading>
	<div id="unknownNesGrid" ui-grid="unknownNesGridOptions"
		ui-grid-exporter ui-grid-selection ui-grid-pinning
		ui-grid-resize-columns ui-grid-move-columns class="unknownNesGrid">
	</div>
</div>

<div uib-accordion-group class="panel-default"
	is-open="status.mount">
	<uib-accordion-heading>
	    <i class="pull-left fa" ng-class="{'fa-chevron-down': status.mount, 'fa-chevron-right': !status.mount}"></i>
	    <span>{{'Mount NETCONF Servers (devices, nodes, mediators, controllers, ...)' | translate}}</span>
	</uib-accordion-heading>
	<div class="container">
		<div class="row" ng-repeat="(key, value) in newMountingPoint">
			<div class="col-md-2 text-right">
				<span>{{['mwtn', key].join('_').toUpperCase() | translate}}</span>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control"
					ng-model="newMountingPoint[key]"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-right">
					<br />
					<button type="button" class="btn btn-primary" ng-click="mount()">Mount!</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
					<br />
					<span class="mwtnSuccess" style="color: darkgreen;">{{mountSuccess}}</span>
					<span class="mwtnError" style="color: red;">{{mountError}}</span>
			</div>
		</div>
	</div>
</div>
</uib-accordion>

<hr />
<div class="owl">
	<span>ONF Wireless for Opendaylight Boron-SR1 - Build: @buildtime@</span>
</div>