/**
 *  Add your application related css here
 */

 .app-onapSo * {
  box-sizing: border-box;
}

.app-onapSo .col {
height: 70px;
width: 12.5%;
float: left;
padding: 15px;
}

.app-onapSo .row::after {
  content: "";
  clear: both;
  display: table;
}



.onapSoGrid {
  height: 600px;
  background-color: white;
}

.onapSoGrid span {
  color: #393939;
}
.ht-pagination span {
  color: #393939;
}
.ht-pagination span.dark {
  color: #393939;
}
.dark {
  color: #393939;
}



.onapSoGrid div.debug {
  color: #393939;
  background-color: white;
}
.onapSoGrid div.error {
  color: #ff0000;
  background-color: #ffeeee;
  font-weight: bold;
}

.onapSoGrid div.info {
  color: #3276b1;
  background-color: #eeeeff;
}

.onapSoGrid div.warning {
  color: #ffa500;
  background-color: #ffeedd;
}

.rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

h3.modal-title {
  color: #393939;
}

.modal-body span {
  color: #393939;
} 