<ht-header help-link='sdnr/onapSo/0.4.0/README.md'></ht-header>

<!--
"pnf-name": "@pnfId@",
"pnf-id": "@pnfId@",
"equip-type": "@type@",
"equip-model": "@model@",
"equip-vendor": "@vendor@",
"ipaddress-v4-oam": "@oamIp@",
"in-maint": true,
-->

<div class="app-onapSo container owl">

  <div class="row">

    <div class="col-md-12">
      <h3>Design Phase</h3>
      <h4>Create PNF via SO in A&amp;AI</h4>
    </div>

  </div>
  <div class="row">

    <div class="col-md-3 form-group">
      <label for="{{ pnf.pnfName.id }}">{{ pnf.pnfName.labelId | translate }}</label>
      <br/>
      <input type="text" class="form-control" id="{{ pnf.pnfName.id }}" ng-model="pnf.pnfName.value">
    </div>

    <div class="col-md-3 form-group">
      <label for="{{ pnf.pnfId.id }}">{{ pnf.pnfId.labelId | translate }}</label>
      <br/>
      <input type="text" class="form-control" id="{{ pnf.pnfId.id }}" ng-model="pnf.pnfId.value">
    </div>

    <div class="col-md-3 form-group">
      <label for="{{ pnf.equipType.id }}">{{ pnf.equipType.labelId | translate }}</label>
      <br/>
      <input type="text" class="form-control" id="{{ pnf.equipType.id }}" ng-model="pnf.equipType.value">
    </div>

    <div class="col-md-3 form-group">
      <label for="{{ pnf.equipModel.id }}">{{ pnf.equipModel.labelId | translate }}</label>
      <br/>
      <input type="text" class="form-control" id="{{ pnf.equipModel.id }}" ng-model="pnf.equipModel.value">
    </div>

    <div class="col-md-3 form-group">
      <label for="{{ pnf.equipVendor.id }}">{{ pnf.equipVendor.labelId | translate }}</label>
      <br/>
      <input type="text" class="form-control" id="{{ pnf.equipVendor.id }}" ng-model="pnf.equipVendor.value">
    </div>

    <div class="col-md-3 form-group">
      <label for="{{ pnf.ipaddressV4Oam.id }}">{{ pnf.ipaddressV4Oam.labelId | translate }}</label>
      <br/>
      <input type="text" class="form-control" id="{{ pnf.ipaddressV4Oam.id }}" ng-model="pnf.ipaddressV4Oam.value">
    </div>

    <div class="col-md-3 form-check">
      <input type="checkbox" class="form-check-input" id="{{ pnf.inMaintenance.id }}" ng-model="pnf.inMaintenance.value">
      <label class="form-check-label" for="{{ pnf.inMaintenance.id }}">
        <span>{{ pnf.inMaintenance.labelId | translate }}</span>
      </label>
    </div>

    <div class="col-md-3 form-group">
      <label for="{{ pnf.resourceVersion.id }}">{{ pnf.resourceVersion.labelId | translate }}</label>
      <br/>
      <input type="text" class="form-control" id="{{ pnf.resourceVersion.id }}" ng-model="pnf.resourceVersion.value">
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <button type="button" class="btn btn-primary" ng-click="createPnfInAai()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>{{'PNF_CREATE_IN_AAI' | translate}}</span>
      </button>
    </div>

  </div>
  <!-- api gateway must be enhanced to support query
      <div class="row">

    <div class="col-md-12">
      <button type="button" class="btn btn-danger" ng-click="deletePnfInAai()">
        <i class="fa fa-minus" aria-hidden="true"></i>
        <span>{{'PNF_DELETE_IN_AAI' | translate}}</span>
      </button>
    </div>

  </div>-->

</div>

<hr />
<div class="owl">
  <span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>