<uib-accordion close-others="false">

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.topologyIsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'Topology' | translate }}">
        <mwtn-topology-ethernet-path-graph ng-if="vm.status.topologyIsOpen" />
    </div>

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.portsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'Ports' | translate}}">
        <mwtn-topology-ports-grid />
    </div>

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.ethConnectionsIsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'ETH connections' | translate}}">
        <mwtn-topology-eth-connections-grid />
    </div>
   
</uib-accordion>
