<ht-header help-link='sdnr/mwtnTopology/0.4.0/README.md'></ht-header>
<div class="owl">
	<!-- Display a loading indicator as long as google isn't initialized. -->
	<div class="bbg" ng-if="!vm.googleIsReady">
		<i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
		<span>{{'MWTN_LOADING' | translate}}</span>
	</div>

	<uib-tabset id="mwtnTopology" active="vm.activeTab" ng-if="vm.googleIsReady">

		<uib-tab index="0" heading="{{'MWTN_SITE' | translate}}">
			<mwtn-topology-site-view  />
		</uib-tab>

    <uib-tab index="1" heading="{{'MWTN_AIR_INTERFACE' | translate}}">
      <mwtn-topology-physical-view />
    </uib-tab>

		<!-- [sko] no data for TST
    <uib-tab index="2" heading="{{'MWTN_ETHERNET' | translate}}">
      <mwtn-topology-ethernet-view />
    </uib-tab>

    <uib-tab index="3" heading="{{'MWTN_PTP' | translate}}">
      <mwtn-topology-ieee1588-view />
    </uib-tab>  -->

	</uib-tabset>

	<hr />
	<div class="owl">
		<span>ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
	</div>
</div>
