<uib-accordion close-others="false">

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.topologyIsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'Graph' | translate }}">
        <mwtn-topology-ieee1588-path-graph ng-if="vm.status.topologyIsOpen" />
    </div>

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.portsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'Clocks' | translate}}">
        <mwtn-topology-clocks-grid />
    </div>

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.ethConnectionsIsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'PTP links' | translate}}">
        <mwtn-topology-ptp-links-grid />
    </div>
   
</uib-accordion>
