<div>
  <uib-alert type="{{status.type}}" ng-show="status.message"> <i ng-show="status.isWorking" class="fa fa-spinner fa-pulse"></i> 
    <b><span>{{status.message}}</span></b> 
  </uib-alert>
  <div ng-show="!status.message">
    <p>
      <span>Sitelink name: </span>
      <b>{{vm.link.name || vm.link.id }}</b>
      <br/>      
      <span>Length: </span>
      <b> {{vm.link.length || 0 | number:3 }} </b>
      <span> km</span>
      <br/>      
      <span>Type: </span>
      <b> {{vm.link.type || 'traffic' }} </b>
      <span> </span>
    </p>
    <table>
      <caption class="text-left">
        <b>{{'SITE' | translate}} A</b>
      </caption>
      <tbody>
        <tr>
          <td class="text-right" style="padding-right: 5px;">{{'MWTN_SITE_ID' | translate}}:</td>
          <td class="text-left">
            <b>{{vm.link.siteA.id}}</b>
          </td>
        </tr>
        <tr>
          <td class="text-right" style="padding-right: 5px;">{{'MWTN_NAME' | translate}}:</td>
          <td class="text-left">
            <b>{{vm.link.siteA.name}}</b>
          </td>
        </tr>
        <tr>
          <td class="text-right" style="padding-right: 5px;">Lat/Lon:</td>
          <td class="text-left">
            <b>{{vm.link.siteA.location.lat | coordinateFilter:'toDMS':'lat'}} | {{vm.link.siteA.location.lng | coordinateFilter:'toDMS':'lon'}}</b>
          </td>
        </tr>
        <tr>
          <td class="text-right" style="padding-right: 5px;">Azimuth:</td>
          <td class="text-left">
            <b> {{vm.link.azimuthA || 0 | number:1 }} </b>
            <span> °</span>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <caption class="text-left">
        <b>{{'MWTN_SITE' | translate}} Z</b>
      </caption>
      <tbody>
        <tr>
          <td class="text-right" style="padding-right: 5px;">{{'MWTN_SITE_ID' | translate}}:</td>
          <td class="text-left">
            <b>{{vm.link.siteZ.id}}</b>
          </td>
        </tr>
        <tr>
          <td class="text-right" style="padding-right: 5px;">Site-Name:</td>
          <td class="text-left">
            <b>{{vm.link.siteZ.name}}</b>
          </td>
        </tr>
        <tr>
          <td class="text-right" style="padding-right: 5px;">Lat/Lon:</td>
          <td class="text-left">
            <b>{{vm.link.siteZ.location.lat | coordinateFilter:'toDMS':'lat'}} | {{vm.link.siteZ.location.lng | coordinateFilter:'toDMS':'lon'}}</b>
          </td>
        </tr>
        <tr>
          <td class="text-right" style="padding-right: 5px;">Azimuth:</td>
          <td class="text-left">
            <b> {{vm.link.azimuthB || 0 | number:1 }} </b>
            <span> °</span>
          </td>
        </tr>
      </tbody>
    </table> 
    <br/>
    <br/>
    <table class='table table-striped' ng-show="vm.link.airInterfaceLinks && vm.link.airInterfaceLinks.length">
       <caption class="text-left">
        <b>{{'MWTN_AIR_INTERFACE_LINKS' | translate}}</b>
      </caption>
      <thead>
        <tr>
          <th>{{'MWTN_ID' | translate}}</th>
          <th>{{'MWTN_RADIO' | translate}}</th>
          <th>{{'MWTN_BAND' | translate}}</th>
          <th>{{'MWTN_POLARIZATION' | translate}}</th>
          <th>{{'MWTN_STATUS' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="airIf in vm.link.airInterfaceLinks">
          <td> {{ airIf.id}} </td>
          <td> {{ airIf.radio}} </td>
          <td> {{ airIf.bandDesignator }} </td>
          <td> {{ airIf.polarization }} </td>
          <td> {{ airIf.mainStatus }} </td>

          
        </tr>
      </tbody>
    </table>
  </div>
</div>