<!--
<ui-gmap-google-map bounds="mapObjects.map.bounds"
                    center="mapObjects.map.center"
                    control="mapObjects.map.control"
                    dragging="mapObjects.map.dragging"
                    events="mapObjects.map.events"
                    options="mapObjects.map.options"
                    zoom="mapObjects.map.zoom">

            <ui-gmap-markers
                models="mapObjects.sites.models"
                idkey="marker.id"
                fit="true"
                coords="'self'"
                options="'options'"
                icon="mapObjects.sites.icon"
                doCluster="doGoogleCluster"
                events="mapObjects.sites.events"
                >
            </ui-gmap-markers>

            <ui-gmap-window
                coords="mapObjects.sites.tooltip"
                options="mapObjects.sites.tooltipOptions"
                show="mapObjects.sites.tooltip.show">
            </ui-gmap-window>-->

            <!--  siteLinks -->
<!--
            <ui-gmap-polylines
                models="mapObjects.siteLinks.models"
                events="mapObjects.siteLinks.events"
                path="'path'"
                stroke="'stroke'"
                geodesic="'geodesic'"
                editable="'editable'"
                draggable="'draggable'"
                static="true"
                visible="mapObjects.siteLinks.visible"
                zindex="'zIndex'"
                >
            </ui-gmap-polylines>

</ui-gmap-google-map>-->

<map center="{{mapObjects.map.center}}"
     map-type-id=“MapTypeId.HYBRID”
     street-view-control="false">

     <marker data-ng-repeat="mapObjects.sites.models"
             position="{{}}"
      />
</map>

<!--
  <sigma-topology drag-nodes="true" topology-data="topologyData" trigger-resize-sigma="triggerResizeSigma" panel="panel"
   topology-custfunc="topologyCustfunc">
  </sigma-toppology>
 -->
