<div class="owl">
  <uib-alert type="{{status.type}}" ng-show="status.message">
    <i ng-show="status.isWorking" class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
    <b><span>{{status.message}}</span></b>
  </uib-alert>
  <div ng-show="!status.message">
    <p>
      <span>{{'MWTN_SITE_ID' | translate}}: </span>
      <b>{{vm.site.id}}</b>
    </p>
    <hr />
    <p>
      <span>{{'MWTN_SITE_NAME' | translate}}: </span>
      <b>{{vm.site.name}}</b>
      <br />
      <span>{{'MWTN_LAT_LON' | translate}}</span>
      <b>{{ vm.site.location.lat | coordinateFilter:'toDMS':'lat'}} | {{ vm.site.location.lng | coordinateFilter:'toDMS':'lon'}}</b>
      <br />
      <span>{{'MWTN_AMSL_GRD' | translate}}: </span>
      <b> {{vm.site.amslGround | number:2 }} </b>
      <span> [m]</span>
      <br />
      <span>{{'MWTN_TYPE' | translate}}: </span>
      <b> {{vm.site.type || 'pyhsical-network-function' }} </b>
      <span> </span>
    </p>
    <p>
      <b>Site-Links ({{vm.site.siteLinks.length}}): </b>
      <span style="color: #337ab7;" class="pointer glyphicon glyphicon-plus-sign" aria-hidden="true" ng-class="{'selected-site' : createNewLinkMode}"
        ng-show="showNewLinkButton" ng-click="toggleCreateNewLinkMode()"></span>
      <p />
      <table class='table table-striped' ng-show="vm.site.siteLinks.length">
        <thead>
          <tr>
            <th class='text-left'>Site-Link-Name</th>
            <th class='text-right'>Azimuth A [°]</th>
            <th class='text-right'>Azimuth Z [°]</th>
            <th class='text-right'>Length [km]</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='siteLink in vm.site.siteLinks'>
            <td class='text-left'>
              <a href='/ux/#/siteLinks/{{siteIndex}}/{{siteLink._source.id.high}}/{{siteLink._source.id.low}}' target='htSolutions'>{{siteLink.id}}</a>
            </td>
            <td class='text-right'>{{ siteLink.azimuthAz | number : 1 }}</td>
            <td class='text-right'>{{ siteLink.azimuthZa | number : 1 }}</td>
            <td class='text-right'>{{ siteLink.length  | number : 3 }}</td>
          </tr>
        </tbody>
      </table>
    <p>
      <b>Network elements ({{vm.site.plannedNetworkElements.length}}): </b>
      <!--
      <span style="color: #337ab7;" class="pointer glyphicon glyphicon-plus-sign" aria-hidden="true" ng-class="{'selected-site' : createNewLinkMode}"
        ng-show="showNewLinkButton" ng-click="toggleCreateNewLinkMode()"></span> -->
      <p />
      <table class='table table-striped' ng-show="vm.site.plannedNetworkElements.length">
        <thead>
          <tr>
            <th class='text-left'>{{'MWTN_ID' | translate}}</th>
            <th class='text-left'>{{'MWTN_NAME' | translate}}</th>
            <th class='text-left'>{{'MWTN_TYPE' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='ne in vm.site.plannedNetworkElements'>
            <td class='text-left'>
              <a href='#/pnfInventory/{{ne.id}}' target='htSolutions'>{{ne.id}}</a>
            </td>
            <td class='text-left'>{{ ne.name }}</td>
            <td class='text-left'>{{ ne.type }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>