<uib-accordion close-others="false">

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.siteMapIsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'Map (' + vm.status.loadedSitesInBoundingBox + ' of ' + vm.status.totalSitesInBoundingBox + ' sites loaded)'}}">

        <mwtn-topology-map ng-if="vm.status.siteMapIsOpen" manual-map-bounds="vm.status.manualMapBounds" on-bounds-changed="vm.mapBoundsChanged(data, userOriginated)">
            <mwtn-topology-map-sites sites="vm.visibleSites" selected-site="vm.status.site" api="vm.mapSitesComponentApi" />
            <mwtn-topology-map-site-links site-links="vm.knownSiteLinks" selected-site-link="vm.status.siteLink" 
                                          api="vm.mapSiteLinksComponentApi" />
        </mwtn-topology-map>
    </div>

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.siteGridIsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'Sites' | translate}}">

        <mwtn-topology-site-grid visible-sites="vm.visibleSites" />
    </div>

    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.siteLinkGridIsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
        heading="{{'Site links' | translate}}">

        <mwtn-topology-site-link-grid known-site-links="vm.knownSiteLinks" />
    </div>
    
    <!-- [sko, 2017-06-23] TODO deferred
    <div uib-accordion-group="" class="panel-primary" is-open="vm.status.sitePathGridIsOpen" template-url="src/app/mwtnTopology/templates/accordeonHeader.tpl.html"
      heading="{{'Site paths' | translate}}">

      <mwtn-topology-site-path-grid />
    </div> -->
</uib-accordion>
