*~
*.class
.classpath
.project
.pydevproject
.settings
.javacp*
.checkstyle
target
*.iml
*.pyc
dependency-reduced-pom.xml
maven-metadata-local.xml
.idea
*.DS_Store
*.D
*.o
*.so
dependencies

core/store/trivial/data/
core/store/apps
/bin/
node_modules/
bower_components/
