*~
*.bak
*.class
.classpath
.checkstyle
.javacp*
.metadata
.project
.pydevproject
.recommenders
.settings
target
*.iml
*.pyc
dependency-reduced-pom.xml
maven-metadata-local.xml
.idea
*.DS_Store
*.D
*.o
*.so
*.md.html
dependencies

code/ux/ux-dev.sh
core/store/trivial/data/
core/store/apps
/bin/
node_modules/
bower_components/
yang-gen-sal/
yang-gen-config/
