*~
*.bak
*.class
.classpath
.checkstyle
.javacp*
.metadata
.project
.pydevproject
.recommenders
.settings
target
*.iml
*.pyc
dependency-reduced-pom.xml
maven-metadata-local.xml
.idea
*.DS_Store
*.D
*.o
*.so
*.md.html
dependencies
dist*

code/ux/ux-dev.sh
core/store/trivial/data/
core/store/apps
node_modules/
bower_components/
yang-gen-sal/
yang-gen-config/
models/tools/src/main/odl-yang-to-sources/src/main/yang/core-model@2017-12-29.yang
