.htRevisionStatus {
    margin: 10px 0px;
}

.modified {
    border-bottom: 3px solid blue;
    color: blue;
}

.text-bold {
    font-weight: bold;
}
.table .menu {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #ced2d9;
}