<div class="htProfile">
    <div class="container">
        <ht-header headline="REVISION_STATUS"></ht-header>
        <div class="row">
            <div class="col-md-12">
                <span>... {{'FOR' | translate}} {{'MWR_LINK_REVISION'}}: </span>
                <a
                    href="/ux/#/mwrLinkRevision/{{dbIndex}}/{{mwrLink.id.siteLinkId.high}}/{{mwrLink.id.siteLinkId.low}}/{{mwrLink.id.mwrLinkId}}/{{mwrLink.id.revision}}"
                    target="_self"
                >
                    <b>{{mwrLink.id.siteLinkId.high}}-{{mwrLink.id.siteLinkId.low}}-{{mwrLink.id.mwrLinkId}}-{{mwrLink.id.revision}}</b>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Netz: {{dbIndex}}</p>
                <p>Site1: {{siteLinkIdLow}}</p>
                <p>Site2: {{siteLinkIdHigh}}</p>
                <p>MWR-Link: {{mwrLinkId}}</p>
                <p>Revision: {{revision}}</p>
                <p>
                    <span title="{{username}}">User: {{username | username}}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-hover table-striped">
                    <thead>
                        <tr>
                            <th colspan="7">
                                <span></span>
                            </th>
                            <th colspan="3">
                                <span>{{'ASSESSMENT'|translate}}</span>
                        <tr>
                            <th>
                                <span>{{'NAME'|translate}}</span>
                            </th>
                            <th>
                                <span>{{'REQUIRED'|translate}}</span>
                            </th>
                            <th>
                                <span>{{'PLAN'|translate}}</span>
                            </th>
                            <th>
                                <span>{{'ACTUAL'|translate}}</span>
                            </th>
                            <th>
                                <span>{{'PLANNER'|translate}}</span>
                            </th>
                            <th>
                                <span>{{'COMMENT'|translate}}</span>
                            </th>
                            <th>
                                <span>
                                    <i class="glyphicon glyphicon-cog"></i>
                                </span>
                            </th>
                            <th>
                                <span>{{'DATE'|translate}}</span>
                            </th>
                            <th>
                                <span>{{'RESULT'|translate}}</span>
                            </th>
                            <th>
                                <span>{{'COMMENT'|translate}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in tableModel">
                            <td>
                                <span ng-class="{'text-bold':row.revisionState.isMain}">{{row.revisionState.name}}</span>
                            </td>
                            <td>
                                <span class="text-nowrap">{{row.required | date:'yyyy-MM-dd'}}</span>
                            </td>
                            <td>
                                <span class="text-nowrap">{{row.plan | date:'yyyy-MM-dd'}}</span>
                            </td>
                            <td>
                                <span class="text-nowrap">{{row.actual | date:'yyyy-MM-dd'}}</span>
                            </td>
                            <td>
                                <span title="{{row.planner}}">{{row.planner | username}}</span>
                            </td>
                            <td>
                                <span>{{row.comment}}</span>
                            </td>
                            <td class="pointer" ng-click="editRow(row.revisionState.id)">
                                <span>
                                    <i class="glyphicon glyphicon-cog"></i>
                                </span>
                            </td>
                            <td>
                                <span class="text-nowrap">{{row.assessment.date | date:'yyyy-MM-dd'}}</span>
                            </td>
                            <td>
                                <span>{{row.assessment.result}}</span>
                            </td>
                            <td>
                                <span>{{row.assessment.comment}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr style="clear: both" />
        <ht-footer></ht-footer>
    </div>
</div>