<ht-header help-link='sdnr/protection/0.4.0/README.md'></ht-header>

<article id="odlux-app-protection" class="odlux-app">
	<header>
		<div>
			<h1>Protection groups</h1>
		</div>
	</header>

	<main>
		<!--
		<nav>
			<ul>
				<li>
					<a href="#">app part#1</a>
				</li>
				<li>
					<a href="#">app part#1</a>
				</li>
				<li>
					<a href="#">app part#1</a>
				</li>
			</ul>
		</nav>
	    -->
		<section class="protection-group">
			<mwtn-select-network-element></mwtn-select-network-element>

			<h3 ng-if="processing">
				<i class="fa fa-spinner fa-pulse"></i>
				<span> Loading ...</span>
			</h3>
			<h3 ng-if="protectionGroups.error">
					<i class="fa fa-exclamation-triangle Critical"></i>
					<span>{{ protectionGroups.error }}</span>
			</h3>
			<h3 ng-if="!processing && !protectionGroups.error && networkElement && !protectionGroups.fc">
					<i class="fa fa-info-circle Warning"></i>
					<span>No 1+1 protection group configured.</span>
			</h3>

			<uib-accordion close-others="oneAtATime" ng-if="protectionGroups.fc">

				<div uib-accordion-group class="panel-primary" is-open="status[pg]" ng-repeat="pg in protectionGroups.fc">
					
					<uib-accordion-heading>
						<i class="pull-left fa" ng-class="{'fa-chevron-down': status[pg], 'fa-chevron-right': !status[pg]}"></i>
						<span>{{ pg }}</span>
					</uib-accordion-heading>

					<protection-group ng-if="status[pg]" network-element="onfNetworkElement" uuid="pg"></protection-group>

				</div>

			</uib-accordion>

		</section>
	</main>
	<footer>
		<div class="owl">
			<span class="white">ONAP SDN-R | ONF Wireless for @distversion@</span>
		</div>
		<div class="owl">
			<span class="white">Build: @buildtime@</span>
		</div>
	</footer>
</article>