<ht-header help-link='sdnr/onapAai/0.4.0/README.md'></ht-header>
<div id="emergency">
	<!--div class="ht-header-right">
		<alarm-status></alarm-status>
	</div-->

	<h2>Emergency</h2>
	<div class="col-md-12 form-group">
		<div class="row">
			<select class="form-control" ng-model="selectedEquipmentId" ng-options="x for x in equipmentIds" ng-disabled="loading"></select>
		</div>
	</div>
	<div ng-if="adminState != null" class="col-md-6">
		<div class="row">
			<div class="btn" ng-class="{ 'btn-success' : adminState, 'btn-warning' : !adminState }" ng-click="toggleAdminState()">AdminState {{ adminState ? 'Disable' : 'Enable' }}</div>
		</div>
		<table class="table params" ng-if="adminState && emergency != null">
			<tr>
				<td>special-ac:</td>
				<td><b> 
				{{ currentLteRanCellRestriction["lte-ran-cell-restriction"]["x-0005b9-mo-sig-barring-for-special-ac"] }} </b>
				</td>
			</tr>
			<tr>
				<td>
					x-0005b9-mo-sig-barring-factor:
				</td>
				<td>
					<b> {{ currentLteRanCellRestriction["lte-ran-cell-restriction"]["x-0005b9-mo-sig-barring-factor"] }} </b>
				</td>
			</tr>
			<tr>
				<td>
					x-0005b9-mo-sig-barring-time:
				</td>
				<td>
					<b> {{ currentLteRanCellRestriction["lte-ran-cell-restriction"]["x-0005b9-mo-sig-barring-time"] }} </b>
				</td>
			</tr>
		</table>
	</div>
	<div ng-if="adminState && emergency != null" class="col-md-2">
		<div class="indicator" ng-class="{'led-red' : emergency , 'led-green' : !emergency}"></div>
	  <div class="indicatorLabel"> Emergency State</div>
	</div>
	<div ng-if="adminState && emergency != null" class="col-md-4">
		<button ng-click="toggleEmergencyState()" class="pushFlat">Toggle Emergency</button>
	</div>

</div>