Property { maskLabel: name type multiplicity defaultValue;}

Label[type=StereotypeLabel]{
	visible:false;}

* {
	fontName:"Segoe UI";
	fillColor:#C3D7DD;
	transparency:0.0;
	gradient:#FFFFFF vertical;
	lineColor:#000000 }