<ht-header help-link='sdnr/pnfInventory/0.4.0/README.md'></ht-header>
<div class="app-mwtnInventory">
  <div class="col-md-12 form-group">
    <select class="form-control" ng-model="selectedMountPoint"  ng-options="x for x in activeMountPoints | orderBy" ng-disabled="loading"> </select>
  </div>
  <div ng-if="!loading && equipments != null && equipments.length > 0" >
     <mwtn-equipment-group equipments="equipments" />
  </div>
  <div class="col-md-12" ng-if="!loading && equipments == null" ><h2>This device does not support inventory</h2></div>
  <div class="col-md-12" ng-if="loading" ><h2>Loading ... </h2></div>
</div>

<hr />
<div class="owl">
 <span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>