
.app-mwtnInventory * {
    box-sizing: border-box;
}

.app-mwtnInventory .col {
  height: 70px;
  width: 12.5%;
  float: left;
  padding: 15px;
}

.app-mwtnInventory .row::after {
    content: "";
    clear: both;
    display: table;
}

@media (max-width: 1600px) {
 .app-mwtnInventory .col { width: 25%; }

}

@media (max-width: 1200px) {
 .app-mwtnInventory .col { width: 33.3%; }
}

.app-mwtnInventory-components-equipmentGroup {
  padding-left: 15px;
  padding-right: 15px; 
}