
<div class="modal-header">
        <h3 class="modal-title" id="modal-title">Refresh Confirmation</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p>Are you sure you want to Refresh all alarms for {{newcount}} Device{{newcount===1 ? "" : "s"}} ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="yes()">
           <i class="pull-left fa fa-spinner fa-pulse" ng-show="processing"></i>
             <span>Yes</span>
        </button>
        <button class="btn btn-warning" type="button" ng-click="no()">No</button>
    </div>