html {
  height: 100%; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%; }

.fa {
  font-size: 14pt; }

/* The best way */
.btn--twitter, .btn--facebook {
  min-width: 100px;
  padding: 1em;
  border-radius: 1em; }

.btn--twitter {
  color: #fff;
  background: #55acee; }

.btn--facebook {
  color: #fff;
  background: #3b5998; }

.htDashboard .row {
  margin: 10px 0px; }
  .htDashboard .row .panel {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1); }
  .htDashboard .row .utility .fa {
    font-size: 28px; }

.pointer {
  cursor: pointer; }

.bsConnectionsGrid {
  width: 100%;
  height: 439px; }
  .bsConnectionsGrid .ui-grid-pager-control input {
    width: 80px;
    text-align: right; }
  .bsConnectionsGrid .ui-grid-pager-row-count-picker select {
    width: 80px;
    text-align: right; }
  .bsConnectionsGrid .ui-grid-pager-max-pages-number {
    margin-top: 3px; }

.htDatabase .row {
  margin: 10px 0px; }
  .htDatabase .row div.cellTooltip {
    color: #337AB7; }

a.grey {
  color: #cccccc; }

.noWrap td {
  white-space: nowrap; }

tr.selected {
  border-top: 2px solid #0000aa;
  border-bottom: 2px solid #0000aa; }

.mwrLinkManagerGrid {
  width: 100%;
  height: 80%; }

.htMwrLinkRevision {
  margin: 10px 0px; }

.htNetworkElementDetails {
  margin: 50px; }
  .htNetworkElementDetails attention {
    color: #dd0000; }

.networkElementDetailsBsConnectionsGrid {
  width: 100%;
  height: 239px; }

.angular-google-map-container {
  height: 100vh; }

.labelClass {
  color: #eeeeee;
  text-align: center; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px; }

.table i {
  color: #CC0000; }

.table a i {
  color: #000000; }

.providera {
  color: #0CF; }

.telefonica {
  color: #0CF; }

.eplus {
  color: #0F3; }

.provider1 {
  color: #0F3; }

.mix {
  color: #00FFFF; }

.new-loslink {
  background-color: RGBA(127, 0, 0, 127); }

.left20 {
  margin-left: 20px; }

.hotspot {
  color: #ffffff;
  padding-bottom: 1px;
  border-bottom: 1px dotted #900;
  cursor: pointer; }

#text {
  margin: 50px auto;
  width: 500px; }

#tt {
  position: absolute;
  display: block; }

#tttop {
  display: block;
  height: 5px;
  margin-left: 5px;
  overflow: hidden; }

#ttcont {
  display: block;
  padding: 2px 5px;
  margin-left: 5px;
  background: #000;
  color: #FFF; }

#ttbot {
  display: block;
  height: 5px;
  margin-left: 5px;
  overflow: hidden; }

i.btn-accordion {
  margin-right: 5px; }

div.control {
  margin: 10px; }

div.mapCtrl {
  height: 100%; }

div.htPopUpPlane {
  color: #666666;
  padding: 6px 10px;
  max-width: 300px;
  z-index: -200;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9); }

/* overwrite */
.gm-style {
  font-size: 14px; }

.htPathDetails {
  margin: 50px; }
  .htPathDetails attention {
    color: #dd0000; }

.pathManagerGrid {
  width: 1110px;
  height: 439px; }

.htProfile .row {
  margin: 10px 0px; }
  .htProfile .row line, .htProfile .row path {
    stroke: #000fff;
    fill: none;
    stroke-width: 2;
    stroke-dasharray: 16 14; }

/* .view-animate-container 
 *   position: relative
 *   overflow: hidden
 *
 * .view-animate
 *   padding: 10px
 *
 * .view-animate.ng-enter, .view-animate.ng-leave
 *   transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s
 *   display: block
 *   width: 100%
 *   position: absolute
 *   top: 0
 *   left: 0
 *   right: 0
 *   bottom: 0
 *   padding: 10px
 *
 * .view-animate.ng-enter 
 *   left: 100%
 *
 * .view-animate.ng-enter.ng-enter-active 
 *   left: 0
 *
 * .view-animate.ng-leave.ng-leave-active 
 *   left: -100%
 *   */
.htRevisionStatus {
  margin: 10px 0px; }

.modified {
  border-bottom: 3px solid blue;
  color: blue; }

.text-bold {
  font-weight: bold; }

.table .menu {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #ced2d9; }

.htSiteDetails {
  margin: 50px; }
  .htSiteDetails attention {
    color: #dd0000; }

.htProfile .angular-google-map-container {
  height: 50vh; }

.siteManagerGrid {
  width: 1110px;
  height: 439px; }

.number {
  text-align: right; }

a.attention {
  color: #dd0000; }

a.attention:hower {
  color: #dd0000; }

.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg); }

.vCenter {
  margin: 5px 30px 5px 0px;
  display: inline-block;
  vertical-align: middle;
  float: none; }

.my-drop-zone {
  border: dotted 3px lightgray; }

.nv-file-over {
  border: dotted 3px red; }

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green; }

/*# sourceMappingURL=ht-solutions.css.map */
