html {
    height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

.grid {
        border: 1px solid rgb(212,212,212);
  width: 600px;
  height: 400px;
}

.selected-site {
    color: #dd0000;
}

a .fa {
    font-size: 18px;
}

.bottom {
    vertical-align:bottom;
}
.htLinkcalculatorCtrl {
    margin: 10px 20px;
}

.htStaticValue {
      display: inline-block;
  padding: 6px 0px;
  margin-bottom: 0;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
    
}

.htResult {
  display: inline-block;
  padding: 6px 0px;
  margin-bottom: 0;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}

.htResult-alert {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}

.pointer { cursor: pointer; }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*
        	      TELEFONICA: {label:'Telefonica', color:'#0CF', colors: {osm:'#0000FF', satellit: '#0CF'}},
        	      EPLUS: {label:'ePlus', color:'#0F3', colors: {osm:'#008800', satellit: '#0F3'}},
        	      MIX: {label:'Mix', color:'#00FFFF', colors: {osm:'#00AAAA', satellit: '#00FFFF'}}
*/
.telefonica_satellit {
    color: #0CF;
}

.eplus_satellit {
    color: #0F3;
}

.mix_satellit {
    color: #00FFFF;
}

.telefonica_osm {
    color: #0000FF;
}

.eplus_osm {
    color: #008800;
}

.mix_osm {
    color: #00AAAA;
}

.top10 {
    margin-top: 10px;
}

.left10 {
    margin-left: 10px;
}

.left-right-10 {
    margin: 10px;
    white-space: nowrap;
}

.left20 {
    margin-left: 20px;
}

.margin-left-5 {
    margin-left: 5px;
}

;
.htList {
    float: left;
    width: 950px;
    margin-right: 50px;
}

.angular-leaflet-map {
    height: 100%;
}

/* icon circle marker */
.white {
    background: white;
}

/* text-styles */
.right {
    text-align: right;
}

.error {
    color: #a94442;
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.legend {
    padding: 6px 8px;
    /* font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background: rgba(255, 255, 255, 0.85); */
    border-radius: 5px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    width: 130px;
}

.legend i {
    clear: both;
    width: 16px;
    height: 16px;
    float: left;
    opacity: 0.7;
    margin-right: 8px;
}

div.htMapAppCtrl {
    height: 100%;
}

div.htPopUpPlane {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.85);
    margin: 0px 0px 0px 0px;
}

div.htHeader {
    margin: 10px 3px 3px 46px;
    width: 300px;
    padding: 10px 10px 5px 10px;
}

div.htNav {
    margin: 24px 3px 3px 28px;
    width: 230px;
    padding: 5px 10px 5px 30px;
}

h1 {
    witdh: 100%;
}

/* overwrite */
.leaflet-popup-content-wrapper {
    min-width: 480px;
    background-color: rgba(255, 255, 255, 0.85);
}

.leaflet-control-zoomslider-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid #ccc;
}

.leaflet-control-zoomslider-body {
    width: 2px;
    border: solid rgba(255, 0, 255, 0.0);
    border-width: 0px 9px 0px 9px;
    background-color: rgba(255, 0, 255, 0.0);
}

.leaflet-label {
    border-width: 1px;
    font-weight: normal;
}

.nav li a {
    padding: 5px 10px;
}

htMapAppCtrl .panel {
    background-color: rgba(255, 0, 255, 0.0);
}

htMapAppCtrl .panel-body {
    background-color: rgba(255, 0, 255, 0.0);
}

htMapAppCtrl .panel-group {
    background-color: rgba(255, 0, 255, 0.0);
    margin-bottom: 0px;
}