<ht-header help-link='sdnr/mwtnTdm/0.4.0/README.md'></ht-header>

<div class="owl container" style="width: 100%;">

  <div class="row bbg">
    <div class="col-md-2">
      <button type="button" id="scan" class="btn btn-primary" ng-click="scan()">
        <i class="fa fa-spinner fa-pulse" aria-hidden="true" ng-if="progress.show"></i>
        <span>{{'MWTN_SCAN_NETWORK' | translate}}</span>
      </button>
    </div>
    <div class="col-md-3" ng-if="message.startTime !== undefined">
      <span>{{'MWTN_START_TIME' | translate}}</span>
      <b>{{message.startTime.toHumanReadableTimeFormat()}}</b> 
    </div>
    <div class="col-md-3" ng-if="message.endTime !== undefined">
      <span>{{'MWTN_END_TIME' | translate}}</span>
      <b>{{message.endTime.toHumanReadableTimeFormat()}}</b>
    </div>
    <div class="col-md-2" ng-if="message.duration !== undefined">
      <span>{{'MWTN_DURATION' | translate}}</span>
      <b>{{message.duration}}</b>
    </div>
  </div>

  <div class="row">
    <div class=" col-md-12">
      <hr/>
    </div>
  </div>
  
  <div class="row">
    <div class=" col-md-12">
      <div id="mwtnTdmGrid" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns
        class="mwtnLogGrid"></div>
    </div>
  </div>

  <div class="row">
    <div class=" col-md-12">
      <uib-progressbar ng-if="progress.show" class="progress-striped col-md-12" type="primary" max="progress.max" value="progress.value">
        <i class="owl-dark">{{progress.value}} / {{progress.max}}</i>
      </uib-progressbar>
    </div>
  </div>

</div>

<hr />
<div class="owl">
  <span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>