<td style="text-align: right;" ng-class="{ 'red': !item.match }">{{	item.labelId | translate }}</td>
<td><b ng-class="{ 'red': !item.match }">{{ item.requiredValue}}</b></td>
<td>
	<!-- [sko]: Bug reported by Amy: Of cause item.actualValue === false does not mean "missing"
    <b ng-show="!item.actualValue">{{ item.missingActualValueLabelId | translate }}</b>  -->
	<b ng-class="{ 'red': !item.match }">{{ item.actualValue }}</b>
</td>
<td>{{ item.unit }}</td>
<td style="max-width: 300px;" ng-show="item.showDescriptions">
	<p ng-repeat="p in item.description">{{ p }}</p>
</td>