<uib-alert type="{{status.type}}" ng-show="status.message"> <i ng-show="status.isWorking" class="fa fa-spinner fa-pulse"></i> <b>
    <span>{{status.message}}</span>
</b> </uib-alert>
<div ng-show="!status.message">
<p>
  <span>{{'SITE_ID' | translate}}: </span>
    <b>{{site.id.siteId}}</b>
  <a href="/ux/#/sites/{{siteIndex}}/{{site.id.siteId}}" target="htSolutions">
  <span class="glyphicon glyphicon-info-sign"></span>
  </a>
  <span class="pointer glyphicon glyphicon-trash" aria-hidden="true" ng-show="!site.siteLinks.length" ng-click="removeSite()"></span>
<hr />
  <span>{{'SITE_NAME' | translate}}: </span>
    <b>{{site.siteName}}</b>
    <br/>
    
<div ng-show="site.siteExtensions">
<div ng-show="site.siteExtensions.fiberPlanDate">
  <span>SourceGeo: </span>
  <b>{{site..geoLocation.sourceGeo</b>
  <br />
  <span>is Fibre PoP (planned): </span>
  <b>{{site.siteExtensions.fiberPlanDate  | date:'yyyy-MM-dd'}}</b>
  <br />
  </div>
  <div ng-show="site.siteExtensions.fiberActualDate">
  
  <span>is Fibre PoP (actual): </span>
  <b>{{site.siteExtensions.fiberActualDate  | date:'yyyy-MM-dd'}}</b>
  </div>
</div>
<br />
<span>is Aggregator: </span>
<b>{{site.isAggregator}}</b>
<br />
<div ng-show="false">
<span>is Concentrator: </span>
<b>{{site.siteExtensions.concentrator}}</b>
<br /></div>
<span>is Fibre PoP: </span>
<b>{{site.isFiberPoP()}}</b>
<br />
<span>Lat/Lon: </span>
  <b>{{ site.geoLocation.location.lat | coordinateFilter:'toDMS':'lat'}} | {{ site.geoLocation.location.lon | coordinateFilter:'toDMS':'lon'}}</b>
  <a href="/ux/modules/networkMap/map.html#/{{siteIndex}}?site={{site.id.siteId}}" target="htNetworkMap">
  <span class="glyphicon glyphicon-map-marker"></span>
</a>
<br />
<span>{{'AMSL_GRD' | translate}}: </span>
<b> {{site.geoLocation.amslGrd | number:2 }} </b>
<span> [m]</span>
<!-- 
<br />
<span>Source: </span>
<b> {{site.siteSource }} </b>
<br /> -->
</p>
<p />
<p>
  <b>Site-Links ({{site.siteLinks.length}}): </b>
  <span  style="color: #337ab7;" class="pointer glyphicon glyphicon-plus-sign" aria-hidden="true" ng-class="{'selected-site' : createNewLinkMode}" ng-show="showNewLinkButton" ng-click="toggleCreateNewLinkMode()"></span>
<p />
<table class='table table-striped' ng-show="site.siteLinks.length">
  <thead>
    <tr>
      <th class='text-left'>Site-Link-Name</th>
      <th class='text-right'>Azimuth A [°]</th>
      <th class='text-right'>Azimuth B [°]</th>
      <th class='text-right'>Length [km]</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='siteLink in detailedSiteLinks'>
      <td class='text-left'>
        <a href='/ux/#/siteLinks/{{siteIndex}}/{{siteLink._source.id.high}}/{{siteLink._source.id.low}}' target='htSolutions'>{{siteLink._source.name}}</a>
      </td>
      <td class='text-right'>{{siteLink._source.azimuthA | number:1}}</td>
      <td class='text-right'>{{siteLink._source.azimuthB | number:1}}</td>
      <td class='text-right'>{{siteLink._source.length | number:3 }}</td>
    </tr>
  </tbody>
</table>
<p>
  <b>{{'NETWORK_ELEMENTS' | translate}} ({{site.networkElements.length}}): </b>
  <a href="/ux/#/rack/{{siteIndex}}/{{site.id.siteId}}" ng-show="site.networkElements.length" target="htSolutions">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
  </a>
</p>
<table class='table table-striped' ng-show="site.networkElements.length">
  <thead>
    <tr>
      <th class='text-left'>NE-Id</th>
      <th class='text-left'>Type</th>
      <th class='text-left'>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='ne in detailedNetworkElements'>
      <td class='text-left'>
         <a href='/ux/#/networkElements/{{siteIndex}}/{{ne._source.id.networkElementId}}' target='htSolutions'>{{ne._source.id.networkElementId}}</a>
      </td>
      <td class='text-left'>{{ne._source.type}}</td>
      <td class='text-left'>{{ne._source.lifeCycleStatus[0].catgegorie}}</td>
    </tr>
  </tbody>
</table>
</p>
</div>