<div class="row header">
  <div class="col-md-2 text-left">
    <a href="{{previous.link}}" title="{{previous.title}}" target="htSolutions""  ng-class="{grey: !previous.active}">
      <i class="fa fa-caret-left"></i>
    </a>
    <a href="/#/" title="{{'HOME' | translate}}" target="htSolutions">
      <i class="fa fa-home"></i>
    </a>
    <a href="/#/login" title="{{'LOGOUT' | translate}}" target="htSolutions">
      <i ng-show="!status.isWorking" class="fa fa-refresh"></i>
      <i ng-show="status.isWorking" class="fa fa-spinner fa-pulse"></i>
    </a>
     <a href="/#/login" title="{{'LOGOUT' | translate}}" target="htSolutions"">
      <i class="fa fa-power-off"></i>
    </a>
    <a href="{{next.link}}" title="{{next.title}}" target="htSolutions" ng-class="{grey: !next.active}">
      <i class="fa fa-caret-right"></i>
    </a>
  </div>
  <div class="col-md-10 text-right">
    <ul class="f32">
      <li ng-repeat="(key, value) in languages" class="flag {{value.flag}} pointer" title="{{value.title}}" ng-click="changeLanguage('{{key}}')"></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <table>
      <tr>
        <td style="vertical-align: top; padding-right: 10px;">
          <h3>{{headline | translate}} </h3>
        </td>
        <td>
          <h3><span>{{objectId}}</span>
          <div ng-show="objectId !== objectName">
          <br/>
          <span>{{objectName}}</span></div></h3>
        </td>
      </tr>
    </table>
    <hr />
  </div>
  <div class="form-group col-md-5 col-md-offset-0">
    <uib-alert type="{{status.type}}" ng-show="status.message" close="clear()"> <i ng-show="status.isWorking" class="fa fa-spinner fa-pulse"></i> <b>{{status.message
      | translate}}</b> </uib-alert>
  </div>
</div>