<div class="htProfile">
    <div class="container" style="width: 100%;">
        <ht-header headline="ENGINEER"></ht-header>
        <div class="row">
            <div class="col-md-12">
                <p>Netz: {{dbIndex}}</p>
                <p>Site1: {{siteLinkIdLow}}</p>
                <p>Site2: {{siteLinkIdHigh}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{'MWR_LINK_REVISION_VARIANTS' | translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover noWrap">
                    <thead>
                        <tr>
                              <th rowspan="2">{{'#' | translate}}</th>
<!--                            <th rowspan="2">{{'REFERENCE_LINK' | translate}}</th> -->
                            <th rowspan="2">{{'TYPE' | translate}}</th>
                            <th rowspan="2">{{'STATUS' | translate}}</th>
                            <th rowspan="2">{{'CW_PROJECT' | translate}}</th>
                            <th rowspan="2">{{'BAND' | translate}}</th>
                            <th rowspan="2">{{'BANDWIDTH' | translate}}</th>
                            <th rowspan="2">{{'POL' | translate}}</th>
                            <th colspan="3">{{'KPI' | translate}}</th>
                            <th rowspan="2">{{'RADIO' | translate}}</th>
                            <th colspan="3">{{'ANTENNA' | translate}} {{'SITEA' | translate}}</th>
                            <th colspan="3">{{'ANTENNA' | translate}} {{'SITEB' | translate}}</th>
                        </tr>
                        <tr>
                            <th>{{'AVL' | translate}} [%]</th>
                            <th>{{'CFM' | translate}} [dB]</th>
                            <th>{{'RSL' | translate}} [dB]</th>
                            <th>{{'NAME' | translate}}</th>
                            <th>{{'DIA' | translate}} [m]</th>
                            <th>{{'CENTER_LINE' | translate}} [m]</th>
                            <th>{{'NAME' | translate}}</th>
                            <th>{{'DIA' | translate}} [m]</th>
                            <th>{{'CENTER_LINE' | translate}} [m]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mwrLink in results.engineeringResult" ng-click="select(mwrLink)" ng-class="{selected: mwrLink.id.variant === selectedVariant.id.variant}">
                             <td>{{mwrLink.mwrLiReference.id.mwrLinkId}}-{{mwrLink.mwrLiReference.id.revision}}-{{mwrLink.mwrLiReference.id.variant}}</td>
<!--                            <td>{{$last}}</td> -->


                            <td>{{mwrLink.mwrLiReference.revisionType | translate}}</td>
                            <td>{{mwrLink.mwrLiReference.revisionStatus | translate}}</td>
                            <td>{{mwrLink.liFEP}}</td>

                            <td>{{mwrLink.li.mwpA.mwChannel.band | translate}}</td>
                            <td>{{mwrLink.li.mwpA.mwChannel.bandwidth | translate}}</td>
                            <td>{{mwrLink.li.mwpA.polarization}}</td>
                            <td>{{mwrLink.li.avl | number:6}}</td>
                            <td>{{mwrLink.li.cfm | number:1}}</td>
                            <td>{{mwrLink.li.rsl | number:1}}</td>
                            <td>{{mwrLink.li.radio.name}}</td>
                            <td>{{mwrLink.li.sa.ant.name}}</td>
                            <td>{{mwrLink.li.sa.ant.dia}}</td>
                            <td>{{mwrLink.li.sa.ant.currentHightCL}}</td>
                            <td>{{mwrLink.li.sb.ant.name}}</td>
                            <td>{{mwrLink.li.sb.ant.dia}}</td>
                            <td>{{mwrLink.li.sb.ant.currentHightCL}}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" ng-click="createMwrLinkRevision()" ng-show="results.length > 1">
                <span class="glyphicon glyphicon-save"></span>
                <span>{{'CREATE'|translate}} {{'MWR_LINK_REVISiON'|translate}} {{'BASED_ON'|translate}} {{'VARIANT'|translate}} #{{selectedVariant.id.variant}}</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{'SELECTED' | translate}}</h3>
                <pre>{{selectedVariant | json}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{'RAW_DATA' | translate}}</h3>
                <pre>{{results | json}}</pre>
            </div>
        </div>
        <hr style="clear: both" />
        <ht-footer></ht-footer>
    </div>
</div>