body {
}

body::after {
  content: "";
  background-image: url('/images/login-background.jpg');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.error {
    color: #CC0000;
    font-weight: bold;
}

.htLogin {
    margin: 50px 50px;
}

.login-panel {
    background-color: #FFFFFF;
}

.pointer { cursor: pointer; }

img.logo {
    margin: 10px 0px;
    width: 350px;
}