<div class="table">
  <div class="table-caption">{{ data.label }}</div>

  <div class="table-row" title="tx-frequency-cur" ng-if="direction === 'tx'">
    <div class="table-cell text-right value">{{ data['air-interface-status']['tx-frequency-cur'] / 1000}}</div>
    <div class="table-cell text-left">MHz</div>
  </div>
  <div class="table-row" title="tx-level-cur" ng-if="direction === 'tx'">
    <div class="table-cell text-right value">{{ data['air-interface-status']['tx-level-cur'] }}</div>
    <div class="table-cell text-left">dBm</div>
  </div>

  <div class="table-row" title="rx-frequency-cur" ng-if="direction === 'rx'">
    <div class="table-cell text-right value">{{ data['air-interface-status']['rx-frequency-cur'] / 1000}}</div>
    <div class="table-cell text-left">MHz</div>
  </div>
  <div class="table-row" title="rx-level-cur" ng-if="direction === 'rx'">
    <div class="table-cell text-right value">{{ data['air-interface-status']['rx-level-cur'] }}</div>
    <div class="table-cell text-left">dBm</div>
  </div>
  <div class="table-row" title="code-rate-cur">
    <div class="table-cell text-right value">{{ data['air-interface-status']['code-rate-cur'] }}</div>
    <div class="table-cell text-left">%</div>
  </div>
  <!--
  <div class="table-row" title="rf-temp-cur">
    <div class="table-cell text-right value">{{ data['air-interface-status']['rf-temp-cur'] }}</div>
    <div class="table-cell text-left">°C</div>
  </div>
  -->
  <div class="table-row" title="modulation-cur">
    <div class="table-cell text-right value">{{ data['air-interface-status']['modulation-cur'] }}</div>
    <div class="table-cell text-left">symbols</div>
  </div>
  <!--
  <div class="table-row">
    <div class="table-cell text-right">{{ 'MWTN_REMOTE_END_POINT_ID' | translate }}</div>
    <div class="table-cell text-left">{{ data['air-interface-status']['remote-end-point-id'] }}</div>
  </div>
  <div class="table-row">
    <div class="table-cell text-right">{{ 'MWTN_LTP' | translate }}</div>
    <div class="table-cell text-left">{{ data.ltpUuid }}</div>
  </div>
  -->
</div>