<div>
  <span>protection-lock-out: </span>
  <b>{{ data['is-protection-lock-out'] }}</b>
</div>
<div>
  <span>forwarding-direction: </span>
  <b>{{ data['forwarding-direction'] }}</b>
</div>

<div class="flex-row">
  <div class="flex-column" style="max-width: 250px;">

    <protection-group-protected data="terminationPoints.protected"></protection-group-protected>

  </div>
  <div class="flex-column" style="max-width: 200px;">

    <protection-group-graph data="protectionGroupGraphData"></protection-group-graph>

  </div>
  <div class="flex-column">

    <protection-group-working data="terminationPoints.working" direction="protectionGroupGraphData.direction"></protection-group-working>
    <hr />
    <protection-group-protection data="terminationPoints.protection" direction="protectionGroupGraphData.direction"></protection-group-protection>

  </div>
</div>