<div class="table">
  <div class="table-caption text-right">{{ data.label}}</div>
  <div class="table-row">
    <div class="table-cell text-right">{{ 'MWTN_LTP' | translate }}</div>
    <div class="table-cell text-left">{{ data.ltpUuid }}</div>
  </div>
  <div class="table-row">
    <div class="table-cell text-right">{{ 'MWTN_LAYER' | translate }}</div>
    <div class="table-cell text-left">{{ data.layer }}</div>
  </div>
  <!--
    <div class="table-row">
      <div class="table-cell text-right">34.300</div>
      <div class="table-cell text-left unit">MBit/s</div>
    </div>
    -->
</div>