<script src="src/app/mwtnCommons/bower_components/angular-ui-grid/ui-grid.min.js"></script>
<script src="src/app/mwtnCommons/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<div>
	<br /> <br />
</div>
<div class="container">

	<div class="row">
		<div class="col-md-2 text-right">
			<span>{{'Select NetworkElement' | translate}}</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<select class="form-control" ng-model="networkElement">
					<option ng-repeat="ne in networkElements" value="{{ne.id}}">{{ne.id}}
						(revision: {{ne.revision}})</option>
				</select>
			</div>
		</div>
		<div class="col-md-6 text-right">
			<div class="form-group">
				<button type="button" class="btn btn-default"
					ng-click="collapseAll()">{{'Collapse all' | translate}}</button>
			</div>
		</div>

	</div>
	<div class="container">

		<uib-accordion close-others="oneAtATime">

		<div uib-accordion-group class="panel-primary"
			heading="{{'NetworkElement' | translate}} '{{onfNetworkElement.nameList[0].value}}'"
			is-open="status.ne">
			<pre>{{onfNetworkElement | json}}</pre>
		</div>

		<div ng-repeat="ltp in onfLtps" uib-accordion-group
			class="panel-default"
			heading="{{'LTP' | translate}}({{ltp._lpList[0].layerProtocolName}}) '{{ltp.uuid}}' -> '{{ltp._lpList[0].uuid}}'"
			is-open="status['ltp' + separator + ltp.uuid]">
			<pre>{{ltp | json}}</pre>
		</div>

		<div ng-repeat="airinterface in airinterfaces" uib-accordion-group
			class="panel-primary"
			heading="AirInterface (Pac) '{{airinterface.layerProtocol}}'"
			is-open="status['airinterface' + separator + airinterface.layerProtocol]">
			<div ng-repeat="part in parts" uib-accordion-group
				class="panel-default" heading="{{part}}"
				is-open="status['airinterface' + separator + airinterface.layerProtocol + separator + part]">
				<pre>{{airinterface[part] | json}}</pre>
			</div>
		</div>

		<div ng-repeat="structure in structures" uib-accordion-group
			class="panel-primary"
			heading="Structure (Pac) '{{structure.layerProtocol}}'"
			is-open="status['structure' + separator + structure.layerProtocol]">
			<div ng-repeat="part in parts" uib-accordion-group
				class="panel-default" heading="{{part}}"
				is-open="status['structure' + separator + structure.layerProtocol + separator + part]">
				<pre>{{structure[part] | json}}</pre>
			</div>
		</div>

		<div ng-repeat="container in containers" uib-accordion-group
			class="panel-primary"
			heading="Container (Pac) '{{container.layerProtocol}}'"
			is-open="status['container' + separator + container.layerProtocol]">
			<div ng-repeat="part in parts" uib-accordion-group
				class="panel-default" heading="{{part}}"
				is-open="status['container' + separator +  container.layerProtocol + separator + part]">
				<pre>{{container[part] | json}}</pre>
			</div>
		</div>

		</uib-accordion>
	</div>
</div>
<hr />
<p>
	<span>Build: @buildtime@</span>
</p>