<td style="text-align: right;" ng-class="{ 'red': !item.match }">{{['mwtn', item.labelId].join('_').toUpperCase() | translate}}</td>
<td><b ng-class="{ 'red': !item.match }" ng-bind-html="item.requiredValue"></b></td>

<td>
	<!-- [sko]: Bug reported by Amy: Of cause item.actualValue === false does not mean "missing"
    <b ng-show="!item.actualValue">{{ item.missingActualValueLabelId | translate }}</b>  -->
	<b ng-class="{ 'red': !item.match }" ng-bind-html="item.actualValue"></b>
</td>
<td>{{ item.unit }}</td>
<td style="max-width: 300px;" ng-show="item.showDescriptions">
	    {{item.description}}
</td>