bla bla bla


<div class="container">
  <div class="row">
    <div class="col-md-6" style="border-bottom: 1px solid darkgrey">
      <span>{{'GROUP_NAME' | translate}}  blablub: </span>
      <span class="pull-right glyphicon glyphicon-edit" aria-hidden="true" ng-click="group1.readonly = !group1.readonly"></span>
    </div>
  </div>
  <div ng-show="group1.readonly">
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'OBJECT' | translate}}: </span>
      </div>
      <div class="col-md-4">
        <b>
          <span>{{object.id}}</span>
        </b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'NAME' | translate}}: </span>
      </div>
      <div class="col-md-4">
        <b>
          <span>{{object.name}}</span>
        </b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'INTEGER' | translate}}: </span>
      </div>
      <div class="col-md-2 text-right">
        <b>
          <span>{{object.integer}}</span>
        </b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'UNIT' | translate}}: </span>
      </div>
      <div class="col-md-2 text-right">
        <b>
          <span>{{object.unit | number:1}}</span>
        </b>
      </div>
      <div class="col-md-2">
        <span>dBm</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'DATE' | translate}}: </span>
      </div>
      <div class="col-md-4">
        <b>
          <span>{{object.date | date:'yyyy-MM-dd'}}</span>
        </b>
      </div>
    </div>
  </div>
  <div ng-hide="group1.readonly">
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'OBJECT' | translate}}: </span>
      </div>
      <div class="col-md-4">
        <b>
          <span>{{object.id}}</span>
        </b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'NAME' | translate}}: </span>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" ng-model="object.name" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'INTEGER' | translate}}: </span>
      </div>
      <div class="col-md-2 text-right">
        <input class="form-control" type="number" step="1" ng-model="object.integer" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'UNIT' | translate}}: </span>
      </div>
      <div class="col-md-2 text-right">
        <input class="form-control" type="number" min="-20" max="30" step="0.1" ng-model="object.unit" />
      </div>
      <div class="col-md-2">
        <span>-20.0 .. 30.0 dBm</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <span>{{'DATE' | translate}}: </span>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="date" ng-model="object.date" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-defaul">{{'CANCEL' | translate}}</button>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-primary">{{'APPLY' | translate}}</button>
      </div>
    </div>
  </div>
</div>