<div class="container" style="width: 480px;">
    <div class="row">
        <div class="col-md-12">
            <span>{{'NEW_MWRLINK' | translate}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="htStaticValue col-md-4">
            <span> </span>
        </div>
        <div class="htStaticValue col-md-4 text-center">
            <b>{{'SITEA' | translate}}</b>
        </div>
        <div class="htStaticValue col-md-4 text-center">
            <b>{{'SITEB' | translate}}</b>
        </div>
    </div>
    <div class="row">
        <div class="htStaticValue col-md-4 text-right">
            <span>{{'SITE_ID' | translate}}: </span>
        </div>
        <div class="col-md-4">
            <input class="form-control input-sm" type="text" placeholder="enter value" ng-model="siteIdA">
        </div>
        <div class="col-md-4">
            <input class="form-control input-sm" type="text" placeholder="enter value" ng-model="siteIdB">
        </div>
    </div>
    <div class="row">
        <div class="htStaticValue col-md-4 text-right">
            <span>{{'MOUNTING_POSITION' | translate}}: </span>
        </div>
        <div class="col-md-4">
                    
            
<select ng-model="mpA" class="form-control">
<option value="item{{$index}}" ng-repeat="mp in siteA._source.antennamountingpositions">{{mp.antennaSupportId}}-{{mp.id}}</option>
<option value="new">New CW project</option>
</select>
        </div>
        <div class="col-md-4">
<select ng-model="mpB" class="form-control">
<option value="item{{$index}}" ng-repeat="mp in siteB._source.antennamountingpositions">{{mp.antennaSupportId}}-{{mp.id}}</option>
<option value="new">New CW project</option>
</select>
        </div>
    </div>
    <div class="row">
        <div class="htStaticValue col-md-4 text-right">
            <span>{{'LNK_REVTYP' | translate}}: </span>
        </div>
        <div class="htStaticValue col-md-8 text-center" >
            <b> {{'CONSTRUCTION' | translate}}</b>
        </div>
    </div>
    <div class="row">
        <div class="htStaticValue col-md-4 text-right">
            <span>{{'LNK_REVSTAT' | translate}}: </span>
        </div>
        <div class="htStaticValue col-md-8 text-center">
            <b> {{'CREATED' | translate}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-default" ng-click="cancelMwrLink();">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span>{{'BTN_CANCEL' | translate}}</span>
            </button>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-primary" ng-click="createMwrLink();">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span>{{'BTN_CREATE' | translate}}</span>
            </button>
        </div>
    </div>
    <div class="row" ng-show="status.message">
        <div class="col-md-12">
            <hr />
            <uib-alert type="{{status.type}}"> <i ng-show="status.isWorking" class="fa fa-spinner fa-pulse"></i> <b>
                <span>{{status.message}}</span>
            </b> </uib-alert>
        </div>
    </div>
</div>
