/**
 *  Add your application related css here 
 *  Build: @buildtime@
 */
 
.connected {
   color: lightgreen;
}

.connected span {
   color: lightgreen;
}

.match span {
   color: lightgreen;
}

.nowrap {
    white-space: nowrap;
}

.red {
    color: red;
}