/**
 *  Add your application related css here
 */
 
.mwtnError {
   color: red;
}

.panel-group .panel-default span .mwtnError {
	color: red;
}

.mwtnSuccess {
   color: darkgreen;
}

.panel-group .panel-default span .mwtnSuccess {
	color: darkgreen;
}

.number {
    text-align: right;
}

.rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.vCenter {
    margin: 5px 30px 5px 0px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
