<!-- This is the landing page of you application, Update the content as per your requirements -->

<h2>Closed Loop Automation Setup</h2>
<hr />

<div class="container">
	<div class="row">
		<div class="col-md-2 text-right">
			<span>{{'Timer ON/OFF' | translate}}</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input type="checkbox" ng-model="timerEnabled">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 text-right">
			<span>{{'Timer Option' | translate}}</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<select class="form-control" ng-model="timerOption" ng-disabled="!timerEnabled">
					<option ng-repeat="timerOption in timerOptionList" value="{{timerOption.id}}">
						{{timerOption.name}}</option>
				</select>
			</div>
		</div>

		<div class="col-md-6 text-right">
			<div class="form-group">
				<button type="button" class="btn btn-default" ng-click="save()">{{'Save' | translate}}</button>
			</div>
		</div>
	</div>
</div>
<hr />
<div class="container">
	<div class="row">
		<div class="col-md-2 text-right">
			<div class="form-group">
				<button type="button" class="btn btn-default" ng-click="executeNow()">{{'Execute now' | translate}}</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div clase="col-md-12 text-right">
			<button class="btn btn-primary pull-right" ng-click="refresh()">
                <i class="fa fa-refresh" ng-class="{'fa-spin':processing == true}" aria-hidden="true"></i>
				<span>{{'MWTN_REFRESH' | translate}}</span>
			</button>
			<br/><br/>
		</div>
	</div>
	<div class="row">
		<div clase="col-md-12">
			<div id="mwtnClosedLoopGrid" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns
			 class="mwtnClosedLoopGrid">
			 </div>
		</div>
	</div>

</div>
<p>
	<span>Build: @buildtime@</span>
</p>
