<td style="text-align: right;">{{ item.labelId | translate }}</td>
<td>
 <b class="nowrap">{{ item.requiredValue }}</b>
</td>
<td>
 <b class="nowrap red" ng-show="!item.actualValue">{{ item.missingActualValueLabelId | translate }}</b>
 <b class="nowrap" ng-class="{ 'red': item.requiredValue !== item.actualValue }" ng-show="item.actualValue">{{ item.actualValue }}</b>
</td>
<td>{{ item.unit }}</td>
<td style="max-width: 300px;" ng-show="item.showDescriptions">
 <p ng-repeat="p in item.description">{{ p }}</p>
</td>