<div class="owl container" ng-hide="networkElements.lenght !== 0" style="width: 100%">
  <p>
    <span>{{ 'MWTN_NO_DEVICES_CONNECTED' | translate }}</span>
    <span>Please check</span>
    <a href="#/mwtnConnect" class="white">
      <span>MWTN Connect</span>
    </a>
    <span>.</span>
  </p>
</div>
<div class="owl container" ng-show="networkElements.lenght !== 0" style="width: 100%">
  <div class="row">
    <div class="col-md-3 form-group" ng-show="networkElements.length > 30">
      <input list="networkElements" class="form-control" ng-model="networkElement">
      <datalist id="networkElements">
        <option ng-repeat="ne in networkElements" value="{{ne.id}}">{{ne.id}}</option>
      </datalist>
    </div>
    <div class="col-md-3 form-group" ng-hide="networkElements.length > 30">
      <select class="form-control" ng-model="networkElement">
				<option ng-repeat="ne in networkElements" value="{{ne.id}}">{{ne.id}}</option>
			</select>
    </div>
    <div class="col-md-2">
      <span class="white">{{'MWTN_SELECT_NETWORK_ELEMENT' | translate}}</span>
    </div>
    <div class="col-md-7 text-right">
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="collapseAll()">{{'MWTN_COLLAPSE_ALL' | translate}}</button>
      </div>
    </div>
  </div>
</div>