
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{'MWTN_CONFIGURATION' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="container" style="width:100%">
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_NETWORKELEMENT' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{networkElement}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_CONDITIONAL_PACKAGE' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{path.split('&amp;nbsp;')[0]}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_LP' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{path.split('&amp;nbsp;')[1]}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_SUBOBJECT' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{path.split('&amp;nbsp;')[2]}}</b>
			</div>
			<hr />
		</div>
		<div class="row">
			<mwtn-json-viewer network-element="networkElement" data="value" ng-if="type === 'object'"></mwtn-json-viewer>
			<mwtn-grid network-element="networkElement" data="value" ng-if="type === 'array'"></mwtn-grid>
		</div>
	</div>
</div>
<div class="modal-footer">
    <div class="{{applied.class}}", ng-show="applied">{{applied.text}}</div>
<!--
		<button class="btn btn-primary" type="button" ng-click="ok()">
	    <span>{{'MWTN_APPLY' | translate}}</span>
	    <i class="pull-right fa fa-spinner fa-pulse" ng-show="processing"></i>
	</button> -->
	<button class="btn btn-warning" type="button" ng-click="cancel()">{{'MWTN_CLOSE' | translate}}</button>
</div>