
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{'Clear Log Confirmation' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
	<p>All log entries  stored in the database will be deleted.</p>
	<p>Please make, sure you have exported the log entries, otherwise they will get lost.</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">{{'Clear log' | translate}}</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">{{'Cancel' | translate}}</button>
</div>