<div ng-app="htLogin" class="htLogin">
    <div ng-controller="htLoginCtrl" class="container ">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-right">
                <ul class="f32">
                    <li class="flag us pointer" ng-click="changeLanguage('en_US', null)"></li>
                    <li class="flag br pointer" ng-click="changeLanguage('pt_BR', null)"></li>
                    <li class="flag es pointer" ng-click="changeLanguage('es_ES', null)"></li>
                    <li class="flag it pointer" ng-click="changeLanguage('it_IT', null)"></li>
                    <li class="flag fr pointer" ng-click="changeLanguage('fr_FR', null)"></li>
                    <li class="flag de pointer" ng-click="changeLanguage('de_DE', null)"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{'SIGN_IN' | translate}}</h3>
                    </div>
                    <img class="logo" src="/images/highstreet-technologies-logo.jpg" alt="highstreet technologies">
                    <div class="panel-body">
                        <form role="form" class="ng-pristine ng-valid">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control ng-pristine ng-valid ng-touched" ng-model="login.email" placeholder="{{'EMAIL' | translate}}"
                                        name="email" type="text" autofocus=""
                                    >
                                </div>
                                <div class="form-group input-group">
                                    <input class="form-control ng-pristine ng-untouched ng-valid" placeholder="{{'PASSWORD' | translate}}"
                                        ng-model="login.password" name="password" type="password" value="" aria-describedby="basic-addon2"
                                    >
                                    <span class="input-group-addon" id="basic-addon2">
                                        <a
                                            href="mailto:info@highsteet-technologies.com?Subject=Forgot%20password&Body=Please%20reset%20my%20password%20for%20the%20email%20address%20of%20this%20email."
                                        >
                                            <b>?</b>
                                        </a>
                                    </span>
                                </div>
                                <div class="form-group" ng-show="message">
                                    <p class="error">{{'LOGIN_FAILURE' | translate}}</p>
                                    <a
                                        href="mailto:info@highsteet-technologies.com?Subject=Forgot%20password&Body=Please%20reset%20my%20password%20for%20the%20email%20address%20of%20this%20email."
                                    >{{'PASSWORD_FORGET' | translate}}</a>
                                </div>
                                <!-- 
                                 <div class="checkbox">
                                    <label>
                                        <input ng-model="login.remember" name="remember" type="checkbox" value="remember"
                                            class="ng-pristine ng-untouched ng-valid"
                                        >
                                        {{'REMEMBER' | translate}}
                                    </label>
                                </div>
                                 -->
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" ng-click="sendLogin()" class="btn btn-lg btn-primary btn-block">
                                    <i ng-show="isWorking" class="fa fa-spinner fa-pulse"></i>
                                    <span>{{'LOGIN' | translate}}</span>
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>