/**
 *  Add your application related css here
 */

.json-formatter-row .constructor-name {
    cursor: pointer;
    color: #333333;
}

.json-formatter-row .toggler:after {
    color: darkgreen;
    font-weight: bold;
    display: inline-block;
    transition: transform .1s ease-in;
    content: ">"
}

.owl span.key-text {
    color: #333333;
}

.owl span.colon {
    color: #333333;
}