/**
 *  Add your application related css here
 */
.ethServiceGrid {
  height: 600px;
  background-color: white;
}

.ethServiceGrid span {
  color: #393939;
}
.ht-pagination span {
  color: #393939;
}
.ht-pagination span.dark {
  color: #393939;
}
.dark {
  color: #393939;
}



.ethServiceGrid div.debug {
  color: #393939;
  background-color: white;
}
.ethServiceGrid div.error {
  color: #ff0000;
  background-color: #ffeeee;
  font-weight: bold;
}

.ethServiceGrid div.info {
  color: #3276b1;
  background-color: #eeeeff;
}

.ethServiceGrid div.warning {
  color: #ffa500;
  background-color: #ffeedd;
}

.rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

h3.modal-title {
  color: #393939;
}

.modal-body span {
  color: #393939;
} 