<uib-tabset id="mwtnTopology" active="activeTab" >
    <uib-tab index="$index" heading="{{ layer.label | translate}}" ng-repeat="layer in layers">
    
 		<uib-accordion close-others="oneAtATime">

		<div ng-repeat="sec in layer.section" uib-accordion-group class="panel-primary" is-open="sec.status">
			<uib-accordion-heading>
			    <i class="pull-left fa" ng-class="{'fa-chevron-down': sec.status, 'fa-chevron-right': !sec.status}"></i>
			    <span>{{ sec.label | translate}}</span>
			    <i class="pull-right fa fa-spinner fa-pulse" ng-show="sec.procesing"></i>
			</uib-accordion-heading>
			
            <div ng-include="sec.template"></div>
		</div>
 
        </uib-accordion>   
    
   </uib-tab>
</uib-tabset>
<hr />
<p>
	<span>Build: @buildtime@</span>
</p>