*.sw*
*~
# assets/
dlux-web/**/assets/
build/
bin/
node/
node_modules/
target/
vendor/
.DS_Store

# dlux app

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
dlux-web/node
dlux-web/src/LICENSE
