<ht-header help-link='sdnr/mwtnCompare/0.4.0/README.md'></ht-header>
<div id="mwtnCompare">
  <div class="owl container" style="width: 100%">
    <div class="row" ng-show="neSelection.length === 0">
      <p>
        <span>{{ 'MWTN_NO_DEVICES_CONNECTED' | translate }}</span>
        <span>Please check</span>
        <a href="#/mwtnConnect" class="white">
            <span>MWTN Connect</span>
        </a>
        <span>.</span>
      </p>
    </div>
    <div class="row" ng-show="neSelection.length > 0">
      <div class="col-md-2 text-right radio">
        <span class="white">{{'Select planned NetworkElement' | translate}}</span>
      </div>
      <div class="col-md-4">
        <div class="form-group">

          <input list="networkElements" class="form-control" ng-model="selection">
          <datalist id="networkElements">
            <option ng-repeat="ne in neSelection" value="{{ne.id}}">{{ne.id}}</option>
          </datalist>

        </div>
      </div>
      <div class="col-md-2 text-right">
        <span class="white" ng-class="{'connected':connectionStatus === 'connected'}">{{'MWTN_CONNECTIONSTATUS' | translate}}: </span><br/>
        <span class="white" ng-class="{'match':match.numberOfLTPs}">{{'MWTN_NUMBEROFLTPS' | translate}}: </span><br/>
        <span class="white" ng-class="{'match':match.radioSignalIds}">{{'MWTN_RADIOSIGNALIDS' | translate}}: </span>
      </div>
      <div class="col-md-2">
        <a href="#/mwtnConnect">
          <i ng-show="connectionStatus === 'connected'" class="fa fa-link" aria-hidden="true" ng-class="{'connected':connectionStatus === 'connected'}"></i>
          <span class="white" ng-class="{'connected':connectionStatus === 'connected'}">{{connectionStatus}}</span>
        </a><br/>
        <i ng-class="{'match':match.numberOfLTPs}" ng-show="match.numberOfLTPs" class="fa fa-check-square-o" aria-hidden="true"></i>
        <span class="white" ng-class="{'match':match.numberOfLTPs}">{{match.numberOfLTPsStatus}}</span><br/>
        <i ng-class="{'match':match.radioSignalIds}" ng-show="match.radioSignalIds" class="fa fa-check-square-o" aria-hidden="true"></i>
        <span class="white" ng-class="{'match':match.radioSignalIds}">{{match.radioSignalIdsStatus}}</span>
      </div>
      <div class="col-md-2 text-right">
        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click="collapseAll()">{{'Collapse all' | translate}}</button>
        </div>
      </div>

    </div>
  </div>
  <div class="owl container" style="width: 100%">
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <uib-accordion close-others="oneATime">

          <div uib-accordion-group class="panel-primary" is-open="status.ne">
            <uib-accordion-heading>
              <i class="pull-left fa" ng-class="{'fa-chevron-down': status.ne, 'fa-chevron-right': !status.ne}"></i>
              <span>{{'MWTN_NETWORKELEMENT' | translate}} '{{requiredNetworkElement['core-model:network-element'].nameList[0].value}}'</span>
              <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.ne"></i>
            </uib-accordion-heading>
<pre>{{requiredNetworkElement | json}}</pre>

            <table class="table">
              <tr>
                <td>
                  <table class="footable table table-hover">
                    <thead>
                      <tr>
                        <th class="nowrap">{{ 'Label' | translate }}</th>
                        <th class="nowrap">{{ 'Required value' | translate }}</th>
                        <th class="nowrap">{{ 'Actual value' | translate }}</th>
                        <th>{{ 'Unit' | translate }}</th>
                        <th ng-show="mwps.showDescriptions">{{ 'Description' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="compare in requiredNetworkElement['core-model:network-element'].compares" compare="compare"></tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <h4 style="color: #444444;">
                    <b>NetworkElement</b>
                  </h4>
                  <p>{{ schema['NetworkElement'].description }}</p>
                </td>
              </tr>
            </table>
          </div>

          <div ng-repeat="mwps in requiredNetworkElement.MW_AirInterface_Pac" uib-accordion-group class="panel-primary" is-open="status['airinterface' + separator + mwps.layerProtocol]">
            <uib-accordion-heading>
              <i class="pull-left fa" ng-class="{'fa-chevron-down': status[['airinterface', mwps.layerProtocol].join(separator)], 'fa-chevron-right': !status['airinterface' + separator + airinterface.layerProtocol]}"></i>
              <span>AirInterface MWPS '{{mwps.layerProtocol}}'</span>
              <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner[['airinterface', mwps.layerProtocol].join(separator)]"></i>
            </uib-accordion-heading>

            <div class="text-right">
              <a style="cursor: pointer;" ng-click="mwps.showDescriptions = !mwps.showDescriptions">
              <span ng-show="mwps.showDescriptions" style="color: #444444">Hide </span>
              <span ng-show="!mwps.showDescriptions" style="color: #444444">Show </span>
              <span style="color: #444444"> descriptions</span>
            </a>
            </div>

            <table class="table" ng-show="mwps.showDescriptions">
              <tr>

                <td style="width: 50%">
                  <div ng-repeat="item in ['LogicalTerminationPoint', 'LayerProtocol', 'MW_AirInterface_Pac']">
                    <h4 style="color: #444444;">
                      <b>{{item}}</b>
                    </h4>
                    {{schema[item].description}}
                  </div>
                </td>
                <td style="width: 50%">
                  <h4 style="color: #444444;">
                    <b>AirInterfaceConfiguration</b>
                  </h4>
                  {{schema['AirInterfaceConfiguration'].description}}
                </td>

              </tr>
              </table>


                <table class="footable table table-hover">
                  <thead>
                    <tr>
                      <th>{{ 'Label' | translate }}</th>
                      <th>{{ 'Required value' | translate }}</th>
                      <th>{{ 'Actual value' | translate }}</th>
                      <th>{{ 'Unit' | translate }}</th>
                      <th ng-show="mwps.showDescriptions">{{ 'Description' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="compare in mwps.compares" compare="compare"></tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="99" ng-class="text-center">
                        <button class="btn btn-default" title="Operation to planning" ng-click="message('operation2Planning', mwps)">
                          <i class="icon-forward"></i>
                        </button>
                        <button class="btn btn-default" title="Planning to operation" ng-click="message('planning2Operation', mwps)">
                          <i class="icon-backward"></i>
                        </button>
                      </td>
                    </tr>
                  </tfoot>
                </table>

          </div>

          <div ng-repeat="mws in requiredNetworkElement.MW_PureEthernetStructure_Pac" uib-accordion-group class="panel-primary" heading=""
            is-open="status['structure' + separator + mws.layerProtocol]">
            <uib-accordion-heading>
              <i class="pull-left fa" ng-class="{'fa-chevron-down': status[['structure', mws.layerProtocol].join(separator)], 'fa-chevron-right': !status['structure' + separator + structure.layerProtocol]}"></i>
              <span>Structure MWS '{{mws.layerProtocol}}'</span>
              <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner[['structure', mws.layerProtocol].join(separator)]"></i>
            </uib-accordion-heading>

            <div class="text-right">
              <a style="cursor: pointer;" ng-click="mws.showDescriptions = !mws.showDescriptions">
                <span ng-show="mws.showDescriptions" style="color: #444444">Hide </span>
                <span ng-show="!mws.showDescriptions" style="color: #444444">Show </span>
                <span style="color: #444444"> descriptions</span>
              </a>
            </div>

            <table class="table" ng-show="mws.showDescriptions">
              <tr>

                <td style="width: 50%">
                  <div ng-repeat="item in ['LogicalTerminationPoint', 'LayerProtocol', 'MW_PureEthernetStructure_Pac']">
                    <h4 style="color: #444444;">
                      <b>{{item}}</b>
                    </h4>
                    {{schema[item].description}}
                  </div>
                </td>
                <td style="width: 50%">
                  <h4 style="color: #444444;">
                    <b>PureEthernetStructureConfiguration</b>
                  </h4>
                  {{schema['PureEthernetStructureConfiguration'].description}}
                </td>

              </tr>
            </table>
            <table class="footable table table-hover">
              <thead>
                <tr>
                  <th>{{ 'Label' | translate }}</th>
                  <th>{{ 'Required value' | translate }}</th>
                  <th>{{ 'Actual value' | translate }}</th>
                  <th>{{ 'Unit' | translate }}</th>
                  <th ng-show="mws.showDescriptions">{{ 'Description' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="compare in mws.compares" compare="compare"></tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="99" ng-class="text-center">
                    <button class="btn btn-default" title="Operation to planning" ng-click="message('operation2Planning', mws)">
                      <i class="icon-forward"></i>
                    </button>
                    <button class="btn btn-default" title="Planning to operation" ng-click="message('planning2Operation', mws)">
                      <i class="icon-backward"></i>
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div ng-repeat="mwClient in requiredNetworkElement.MW_EthernetContainer_Pac" uib-accordion-group class="panel-primary" is-open="status['container' + separator + mwClient.layerProtocol]">
            <uib-accordion-heading>
              <i class="pull-left fa" ng-class="{'fa-chevron-down': status[['container', mwClient.layerProtocol].join(separator)], 'fa-chevron-right': !status['container' + separator + container.layerProtocol]}"></i>
              <span>Container ETH '{{mwClient.layerProtocol}}'</span>
              <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner[['container', mwClient.layerProtocol].join(separator)]"></i>
            </uib-accordion-heading>

            <div class="text-right">
              <a style="cursor: pointer;" ng-click="mwClient.showDescriptions = !mwClient.showDescriptions">
                <span ng-show="mwClient.showDescriptions" style="color: #444444">Hide </span>
                <span ng-show="!mwClient.showDescriptions" style="color: #444444">Show </span>
                <span style="color: #444444"> descriptions</span>
              </a>
            </div>
            <table class="table" ng-show="mwClient.showDescriptions">
              <tr>
                <td style="width: 50%">
                  <div ng-repeat="item in ['LogicalTerminationPoint', 'LayerProtocol', 'MW_EthernetContainer_Pac']">
                    <h4 style="color: #444444;">
                      <b>{{item}}</b>
                    </h4>
                    {{schema[item].description}}
                  </div>
                </td>
                <td style="width: 50%">
                  <div ng-repeat="item in ['EthernetContainerConfiguration', 'ethernetContainerConfiguration']">
                    <h4 style="color: #444444;">
                      <b>{{item}}</b>
                    </h4>
                    {{schema[item].description}}
                  </div>
                </td>
              </tr>
            </table>

            <table class="footable table table-hover">
              <thead>
                <tr>
                  <th>{{ 'Label' | translate }}</th>
                  <th>{{ 'Required value' | translate }}</th>
                  <th>{{ 'Actual value' | translate }}</th>
                  <th>{{ 'Unit' | translate }}</th>
                  <th ng-show="mwClient.showDescriptions">{{ 'Description' | translate }}</th>
                </tr>
              </thead>
              </tbody>
              <tr ng-repeat="compare in mwClient.compares" compare="compare"></tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="99" ng-class="text-center">
                    <button class="btn btn-default" title="Operation to planning" ng-click="message('operation2Planning', mwClient)">
                        <i class="icon-forward"></i>
                      </button>
                    <button class="btn btn-default" title="Planning to operation" ng-click="message('planning2Operation', mwClient)">
                         <i class="icon-backward"></i>
                      </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

        </uib-accordion>
      </div>
    </div>
  </div>

  <div class="container" style="width: 100%">
    <div class="row">
      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group panel-class="panel-odl" ng-repeat="ne in referenceValues.network.networkElement" is-open="ne.open">
          <uib-accordion-heading>
            <i class="pull-left" ng-class="{'icon-angle-down': ne.open, 'icon-angle-right': !ne.open}"></i> <span>Network element: </span>            <b>"{{ne.name}}"</b> </uib-accordion-heading>
          <accordion close-others="oneAtATime">
            <div uib-accordion-group panel-class="panel-odl" is-open="ne['core-model:network-element'][0].open">
              <uib-accordion-heading>
                <i class="pull-left" ng-class="{'icon-angle-down': ne['core-model:network-element'][0].open, 'icon-angle-right': !ne['core-model:network-element'][0].open}"></i>                <span>
 {{ 'Network element' | translate}}
 <span></uib-accordion-heading>
1



</div> <div uib-accordion-group panel-class="panel-odl" ng-repeat="mwps in ne.MW_AirInterface_Pac" is-open="mwps.open"> <uib-accordion-heading>
<i class="pull-left" ng-class="{'icon-angle-down': mwps.open, 'icon-angle-right': !mwps.open}"></i> <span>
 LTP ({{mwps.layerProtocol}})
 <span></uib-accordion-heading>


  </div>
  <div uib-accordion-group panel-class="panel-odl" ng-repeat="mws in ne.MW_PureEthernetStructure_Pac" is-open="mws.open"> <uib-accordion-heading>
  <i class="pull-left" ng-class="{'icon-angle-down': mws.open, 'icon-angle-right': !mws.open}"></i> <span>
   LTP ({{mws.layerProtocol}})
   <span></uib-accordion-heading>


  </div>
  <div uib-accordion-group panel-class="panel-odl" ng-repeat="mwClient in ne.MW_EthernetContainer_Pac" is-open="mwClient.open"> <uib-accordion-heading>
  <i class="pull-left" ng-class="{'icon-angle-down': mwClient.open, 'icon-angle-right': !mwClient.open}"></i> <span>
   LTP ({{mwClient.layerProtocol}})
   <span></uib-accordion-heading>
    </div>
    </uib-accordion>
    <div>
</div>    
</div>
<hr />
<div class="owl">
	<span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
            </div>