extends layout

block content
  h2 Welcome to #{title}
  script.
    var mediatorData = !{mediatorData};
  p Execute Javascript File
  div
    label Select Mediator :
    select#mediatorList
  br
  div
    label Select Script :
    select#scriptList
      option(value='01-standalone-YANG-parser.js') 01-standalone-YANG-parser.js
      option(value='02-netconfserver-YANG-parser.js') 02-netconfserver-YANG-parser.js
      option(value='03-netconfserver-YANG.js') 03-netconfserver-YANG.js
  script.
    for(var i =0; i < mediatorData.length; i++){
      var element = mediatorData[i];
      if(element['type'] != "controller-wipro"){
        $("#mediatorList").append('<option value="'+element["name"]+'keyvalue:'+i+'">'+element["name"]+'</option>');
      }
    }
    var myVar = null;
    var ajaxexe = null;
    var onClickBtn1 = function(){$("#shellresult").html("Executing script....");$('#btn1').prop('disabled', true);$('#resultLog').val("");$("#reset").html("Stop");
      var getLog = function () {
        $.get("getlog", function (data, status) {
          $('#resultLog').val(data.message);var textarea = document.getElementById('resultLog');textarea.scrollTop = textarea.scrollHeight;


        });
      };
      var mediator_dropdown = document.getElementById('mediatorList');
      var script_dropdown = document.getElementById('scriptList');
      myVar = setInterval(function(){ getLog() }, 3000);
      ajaxexe = $.get("executescript?jsfile=" + script_dropdown.value+"&mediatorNameandId=" + $( "#mediatorList" ).val(), function (data, status) {
        console.log(data.message);  $("#shellresult").html(data.messageObj);$('#btn1').prop('disabled', false);
        clearInterval(myVar);getLog();$("#reset").html("Reset"); ajaxexe= null;
      });


    };
    var onClickreset = function(){
       if(myVar != null){ 
         clearInterval(myVar); 
       }
       if(ajaxexe != null){
         ajaxexe.abort();
         ajaxexe= null;
       }else{
         $("#shellresult").html("");$('#resultLog').val("");
       }      

      $('#btn1').prop('disabled', false);$("#reset").html("Reset");
            
    }

  br
  button#btn1(onclick = 'onClickBtn1()') Execute
  button#reset(style='', onclick = 'onClickreset()') Reset
  #shellresult
  br
  p Result Log
  div
    textarea#resultLog(rows='18', cols='100')
