<div class="control">
  <div ng-show="!showControls" class="white htPopUpPlane text-right">
    <span ng-click="controlClick()" class="glyphicon glyphicon-cog pointer" aria-hidden="true"></span>
  </div>
  <div ng-show="showControls" class="htPopUpPlane text-right">
    <span ng-click="controlClick()" class="glyphicon glyphicon-remove pointer" aria-hidden="true"></span>
    <br />
    <uib-accordion close-others="oneAtATime" class="text-left">
      <uib-accordion-group ng-repeat="group in groups" is-open="group.open">
        <uib-accordion-heading>
    <div class="pointer" style="width: 240px;">
      <i class="pull-left glyphicon btn-accordion" ng-class="{'glyphicon-chevron-down': group.open, 'glyphicon-chevron-right': !group.open}"></i>
      <span class="left10" ng-bind="group.title"></span>
    </div>
    </uib-accordion-heading>
    <div ng-include src="group.templateUrl"></div>
    </uib-accordion-group> </uib-accordion>
    <table class="table">
      <tr>
        <td>
          <i ng-show="isWorking" class="fa fa-spinner fa-pulse" ng-click="refresh()"></i>
          <a ng-show="!isWorking" href="/ux/#/" title="Home" target="htSolutions">
            <i class="glyphicon glyphicon-home"></i>
          </a>
        </td>
        <td>
          <a href="http://highstreet-technologies.com" target="htSolutions">&copy; 2015 highstreet technologies</a>
        </td>
      </tr>
    </table>
  </div>
</div>
