<form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="submit();">
    <div class="control-group">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="query" placeholder="Enter search text">
            <div class="input-group-addon">
            <span class="pointer glyphicon glyphicon-search" aria-hidden="true" ng-click="submit();" ng-show="!isSearching"></span>
            <span class="fa fa-spinner fa-pulse" aria-hidden="true" ng-show="isSearching"></span>
        </div></div>
    </div>
</form>
<br />
<p ng-bind="queryResult"></p>
