<ht-header help-link='sdnr/mwtn/mwtnClosedLoop/0.4.0/README.md'></ht-header>
<div class="owl container">
	<div class="row">
		<div class="col-md-2 text-right">
			<span class="white">{{'Timer ON/OFF' | translate}}</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input type="checkbox" ng-model="timerEnabled">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 text-right">
			<span class="white">{{'Timer Option' | translate}}</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<select class="form-control" ng-model="timerOption" ng-disabled="!timerEnabled">
					<option ng-repeat="timerOption in timerOptionList" value="{{timerOption.id}}">{{timerOption.name}}</option>
				</select>
			</div>
		</div>

		<div class="col-md-6 text-right">
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="save()">{{'Save' | translate}}</button>
			</div>
		</div>
	</div>
	<div class="row">
		<hr />
		<div class="col-md-2">
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="executeNow()">{{'Execute now' | translate}}</button>
			</div>
		</div>
		<div class="col-md-8">
			<div class="form-group">
				<span class="white" ng-show="info">{{ info }}</span> 
				<span ng-show="error" class="mwtnError">{{ error }}</span>
			</div>
		</div>
		<div clase="col-md-2 text-right">
			<button class="btn btn-primary pull-right" ng-click="refresh()">
				<i class="fa fa-refresh" ng-class="{'fa-spin':processing == true}" aria-hidden="true"></i> 
				<span>{{'MWTN_REFRESH' | translate}}</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div clase="col-md-12">
			<div id="mwtnClosedLoopGrid" ui-grid="gridOptions" ui-grid-exporter
				ui-grid-selection ui-grid-pinning ui-grid-resize-columns
				ui-grid-move-columns class="mwtnClosedLoopGrid"></div>
		</div>
	</div>

</div>
<hr />
<div class="owl">
	<span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>
