/**
 *  Add your application related css here
 */
 
.mwtnClosedLoopGrid {
  height: 600px;
  background-color: white;
}

.mwtnClosedLoopGrid span {
  color: #393939;
}

.mwtnClosedLoopGrid span.mismatch {
  font-weight: bold;
  color: #428bca;	
}

.mwtnClosedLoopGrid .green {
  color: darkgreen;
}
.mwtnClosedLoopGrid .green span  {
  color: darkgreen;
}
 
 