
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{'MWTN_SHOWLIST' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">

	<div class="owl container" style="width:100%">

		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_NETWORKELEMENT' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{path.nodeId}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_LAYER' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{['mwtn', path.layer].join('_').toUpperCase() | translate}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_LP' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{path.layerProtocolId}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_CONDITIONALPACKAGE' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{path.pacId}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_SUBOBJECT' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{path.partId}}</b>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right" >
			{{'MWTN_ATTRIBUTE' | translate}}
			</div>
			<div class="col-md-9">
			<b>{{['mwtn', path.attribute].join('_').toUpperCase() | translate}}</b>
			<b ng-show="path.row"> / {{['mwtn', path.row].join('_').toUpperCase() | translate}}</b>
			<b ng-show="path.row">[{{path.value}}]</b>
			
			<br/>
			<br/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
			
			<div id="mwtnShowListGrid" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns
 class="mwtnShowListGrid"></div>
			</div>
		</div>
      
	</div>
</div>
<div class="modal-footer">
    <div class="owl {{applied.class}}", ng-show="applied">{{applied.text}}</div>
    <button ng-show="path.partId === 'Configuration' && path.attribute !== 'segmentsIDList'" class="btn btn-primary" type="button" ng-click="ok()">
	    <span>{{'MWTN_APPLY' | translate}}</span>
	    <i class="pull-right fa fa-spinner fa-pulse" ng-show="processing"></i>
    </button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">{{'MWTN_CLOSE' | translate}}</button>
</div>