/**
 *  Add your application related css here
 */

.owl p span {
  color: #393939;
}

.angular-google-map-container {
	height: 1200px;
}

.mwtnTopologyGrid {
  height: 412px;
  background-color: white;
}

.mwtnTopologyGrid span {
  color: #393939;
}

#mwtnTopology .nav-tabs {
  border-bottom: 1px solid #ddd;
}
#mwtnTopology .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
#mwtnTopology .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;

  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
#mwtnTopology .nav-tabs > li > a:hover {
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border: 1px solid #428bca;
  border-color: #eee #eee #ddd;
  border-bottom-color: transparent;

}
#mwtnTopology .nav-tabs > li.active > a,
#mwtnTopology .nav-tabs > li.active > a:hover,
#mwtnTopology .nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border: 1px solid #428bca;
  border-bottom-color: transparent;
}
#mwtnTopology .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
#mwtnTopology .nav-tabs.nav-justified > li {
  float: none;
}
#mwtnTopology .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
#mwtnTopology .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  #mwtnTopology .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  #mwtnTopology .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
#mwtnTopology .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
#mwtnTopology .nav-tabs.nav-justified > .active > a,
#mwtnTopology .nav-tabs.nav-justified > .active > a:hover,
#mwtnTopology .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  #mwtnTopology .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  #mwtnTopology .nav-tabs.nav-justified > .active > a,
  #mwtnTopology .nav-tabs.nav-justified > .active > a:hover,
  #mwtnTopology .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
