<div id="forgot-box" class="forgot-box widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                <i class="icon-key"></i>
                Retrieve Password
            </h4>

            <div class="space-6"></div>
            <p>
                Enter your email and to receive instructions
            </p>

            <form>
                <fieldset>
                    <label>
															<span class="block input-icon input-icon-right">
																<input type="email" class="span12"
                                                                       data-ng-model="recover.email"
                                                                       placeholder="Email"/>
																<i class="icon-envelope"></i>
															</span>
                    </label>

                    <div class="clearfix">
                        <button ng-click="sendForgotPassword()" type="button"
                                class="width-35 pull-right btn btn-small btn-danger">
                            <i class="icon-lightbulb"></i>
                            Send Me!
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--/widget-main-->

        <div class="toolbar center">
            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                Back to login
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
    <!--/widget-body-->
</div><!--/forgot-box-->