<ht-header help-link='sdnr/pnfPerformance/0.4.0/README.md'></ht-header>
<mwtn-select-network-element></mwtn-select-network-element>

<div class="owl container" ng-if="networkElements.lenght !== 0 && networkElement" style="width: 100%">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<select class="form-control" ng-model="layerProtocol">
					<option ng-repeat="protocol in layerProtocols">{{protocol}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<span class="white">{{'Select Layer Protocol' }}</span>
		</div>
	</div>
	<div class="row" ng-if="layerProtocol === 'MWPS' ">
		<div class="col">
		<uib-accordion close-others="oneATime">
			<div uib-accordion-group class="panel-primary" is-open="status.performance826">
				<uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.performance826, 'fa-chevron-right': !status.performance826}"></i>
					<span>Performance Data G.826</span>
					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.performance826"></i>
				</uib-accordion-heading>

				<div id="mwtnFaultGridAlarmLog" ui-grid="gridOptionsPerformance826" ui-grid-pagination ui-grid-exporter ui-grid-selection
				 ui-grid-pinning ui-grid-resize-columns ui-grid-auto-resize ui-grid-move-columns class="mwtnCurrentGrid">
				</div>
			</div>
			<div uib-accordion-group class="panel-primary" is-open="status.receiveLevel">
				<uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.receiveLevel, 'fa-chevron-right': !status.receiveLevel}"></i>
					<span>Receive Level</span>
					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.receiveLevel"></i>
				</uib-accordion-heading>

				<div ui-grid="gridOptionsReceiveLevel" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
				 ui-grid-auto-resize ui-grid-move-columns class="mwtnCurrentGrid">
				</div>

			</div>
			<div uib-accordion-group class="panel-primary" is-open="status.transmissionLevel">
				<uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.transmissionLevel, 'fa-chevron-right': !status.transmissionLevel}"></i>
					<span>Transmission Power</span>
					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.transmissionLevel"></i>
				</uib-accordion-heading>

				<div ui-grid="gridOptionsTransmissionLevel" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
				 ui-grid-auto-resize ui-grid-move-columns class="mwtnCurrentGrid">
				</div>

			</div>
			<div uib-accordion-group class="panel-primary" is-open="status.modulation">
				<uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.modulation, 'fa-chevron-right': !status.modulation}"></i>
					<span>Adaptive Modulation</span>
					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.modulation"></i>
				</uib-accordion-heading>

				<div ui-grid="gridOptionsModulation" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
				 ui-grid-move-columns class="mwtnCurrentGrid">
				</div>

			</div>
			<div uib-accordion-group class="panel-primary" is-open="status.temperature">
				<uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.temperature, 'fa-chevron-right': !status.temperature}"></i>
					<span>Temperature</span>
					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.temperature"></i>
				</uib-accordion-heading>

				<div ui-grid="gridOptionsTemperature" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
				 ui-grid-move-columns class="mwtnFaultGrid">
				</div>

			</div>
			<div uib-accordion-group class="panel-primary" is-open="status.snir">
				<uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.snir, 'fa-chevron-right': !status.snir}"></i>
                <span>{{'MWTN_SINR' | translate}}</span>
				<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.snir"></i>
				</uib-accordion-heading>

				<div ui-grid="gridOptionsSnir" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
				 ui-grid-move-columns class="mwtnCurrentGrid">
				</div>

			</div>
			<div uib-accordion-group class="panel-primary" is-open="status.crossPolarDiscrimination">
				<uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.crossPolarDiscrimination, 'fa-chevron-right': !status.crossPolarDiscrimination}"></i>
					<span>Cross Polar Discrimination</span>
					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.crossPolarDiscrimination"></i>
				</uib-accordion-heading>

				<div ui-grid="gridOptionsCrossPolarDiscrimination" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
				 ui-grid-move-columns class="mwtnCurrentGrid">
				</div>

			</div>
		</uib-accordion>
		</div>
	</div>
	<div class="row" ng-if="layerProtocol === 'ETC' ">
		<div class="col">
		<uib-accordion close-others="oneATime">
			<div uib-accordion-group class="panel-primary" is-open="status.performanceEthernetContainer">
				<uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.performanceEthernetContainer, 'fa-chevron-right': !status.performanceEthernetContainer}"></i>
					<span>Performance Data</span>
					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.performanceEthernetContainer"></i>
				</uib-accordion-heading>

				<div ui-grid="gridOptionsPerformanceEthernetContainer" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
				 ui-grid-auto-resize ui-grid-move-columns class="mwtnCurrentGrid">
				</div>
			</div>
		</uib-accordion>
		</div>
	</div>
</div>
<hr />
<div class="owl">
	<span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>