<div class="container">
 <div class="row">
  <div class="col-md-2 text-right">
   <span class="htStaticValue">{{'SITE' | translate}}: </span>
  </div>
  <div class="col-md-3">
   <b>{{networkElement.model.siteRef}}</b>
  </div>
 </div>
 <div class="row">
  <div class="col-md-2 text-right">
   <span class="htStaticValue">{{'TYPE' | translate}}: </span>
  </div>
  <div class="col-md-3">
   <b>{{networkElement.model.type}}</b>
  </div>
 </div>
 <div class="row">
  <div class="col-md-2 text-right">
   <span class="htStaticValue">{{'IS_BASESTATION' | translate}}: </span>
  </div>
  <div class="col-md-3">
   <b>{{networkElement.model.basisStation !== undefined}}</b>
  </div>
 </div>
</div>