<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h3>{{'ADDRESS' | translate}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 text-right">
            <span class="htStaticValue">{{'NAME' | translate}}: </span>
          </div>
          <div class="col-md-3">
            <input class="form-control input-sm" type="text" placeholder="site name" ng-model="site.model.siteName">
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 text-right">
            <span class="htStaticValue">{{'OWNER' | translate}}: </span>
          </div>
          <div class="col-md-3">
            <input class="form-control input-sm" type="text" placeholder="site owner" ng-model="site.model.owner">
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 text-right">
            <span class="htStaticValue">{{'STREET' | translate}}: </span>
          </div>
          <div class="col-md-3">
            <input class="form-control input-sm" type="text" placeholder="street" ng-model="site.model.address.street">
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 text-right">
            <span class="htStaticValue">{{'CITY' | translate}}: </span>
          </div>
          <div class="col-md-1">
            <input class="form-control input-sm" type="text" placeholder="zip" ng-model="site.model.address.zip">
          </div>
          <div class="col-md-2">
            <input class="form-control input-sm" type="text" placeholder="city" ng-model="site.model.address.city">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>{{'GEO_LOCATION' | translate}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-right">
            <span class="htStaticValue">{{'LAT' | translate}}: </span>
          </div>
          <div class="col-md-2">
            <input class="form-control input-sm text-right" type="number" min="-90" max="90" step="0.000001" placeholder="latitude"
              ng-model="site.model.geoLocation.location.lat"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-right">
            <span class="htStaticValue">{{'LNG' | translate}}: </span>
          </div>
          <div class="col-md-2">
            <input class="form-control input-sm text-right" type="number" min="-180" max="180" step="0.000001" placeholder="longitude"
              ng-model="site.model.geoLocation.location.lon"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 text-right">
            <span class="htStaticValue">{{'AMSL_GRD' | translate}}: </span>
          </div>
          <div class="col-md-2">
            <input class="form-control input-sm text-right" type="number" min="-40" max="4000" step="0.1" placeholder="above mean sea level"
              ng-model="site.model.geoLocation.amslGrd"
            >
          </div>
          <div class="col-md-1">
            <span class="htStaticValue">m</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-right">
    <button class="btn btn-primary" ng-click="modifySite()">
      <span class="glyphicon glyphicon-cog" ></span>
      <span> {{ 'APPLY' | translate }} </span>
    </button>
</div>

