<div class="row">
<table class="table table-striped mountingPositions">
  <thead>
    <tr>
      <th rowspan="2">
        <span>{{'ID' | translate}} </span>
      </th>
      <th colspan="3">
        <span>{{'OPTIONS' | translate}} </span>
      </th>
    </tr>
    <tr>
      <th>
        <span>{{'DIA' | translate}} [mm]</span>
      </th>
      <th>
        <span>{{'AZIMUTH' | translate}} [°]</span>
      </th>
      <th>
        <span>{{'CENTER_LINE' | translate}} [m]</span>
      </th>
      <th>
        <span>{{'MWRLINKS' | translate}}</span>
      </th>
      <th>
        <span>{{'ACTIONS' | translate}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="mp in site.model.antennaResources.antennamountingpositions">
      <td>
        <span> {{mp.antennaSupportId}}-{{mp.id}}</span>
      </td>
      <td>
        <span> {{mp.diameter.lowerBound}} - {{mp.diameter.upperBound}}</span>
      </td>
      <td>
        <span> {{mp.azimuth.lowerBound}} - {{mp.azimuth.upperBound}}</span>
      </td>
      <td>
        <span> {{mp.centerline.lowerBound}} - {{mp.centerline.upperBound}}</span>
      </td>
      <td>{{mp.mwrLinkRevisionVariantReference.mwrLinkId}}</td>
      <td class="text-right">
        <a class="vCenter" ng-class="{attention: mp.hover}">
          <span ng-show="!mp.mwrLinkRevisionVariantReference" ng-mouseenter="mp.hover=true" ng-mouseleave="mp.hover=false" title="{{'DELETE' | translate}} {{mp.antennaSupportId}}-{{mp.id}}"
            ng-click="mp.delete()" class="pointer glyphicon glyphicon-trash attention"
          ></span>
          <span> </span>
          <span title="{{'MODIFY'| translate}} {{mp.antennaSupportId}}-{{mp.id}}" ng-click="mp.modify()" class="pointer glyphicon glyphicon-cog"></span>
          <span> </span>
          <span title="{{'COPY' | translate}} {{mp.antennaSupportId}}-{{mp.id}}" ng-click="mp.copy(row.entity)" class="pointer glyphicon glyphicon-asterisk"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
    <button class="btn btn-primary" ng-click="addMountingPosition()">
      <span class="glyphicon glyphicon-plus-sign" ></span>
      <span> {{ 'ADD' | translate }} </span>
    </button>
</div>
