<p>
  <b>{{'NETWORK_ELEMENTS' | translate}} ({{site.model.networkElements.length}}): </b>
  <a href="/ux/#/rack/{{dbIndex}}/{{site.model.id.siteId}}" ng-show="site.model.networkElements.length" target="htSolutions">
    <span>{{'RACKLAYOUT'|translate}} </span>
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
  </a>
</p>
<table class='table table-striped' ng-show="site.model.networkElements.length">
  <thead>
    <tr>
      <th class='text-left'>NE-Id</th>
      <th class='text-left'>Type</th>
      <th class='text-left'>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='ne in detailedNetworkElements'>
      <td class='text-left'>
        <a href='/ux/#/networkElements/{{dbIndex}}/{{ne._source.id.networkElementId}}' target='htSolutions'>{{ne._source.id.networkElementId}}</a>
      </td>
      <td class='text-left'>{{ne._source.type}}</td>
      <td class='text-left'>{{ne._source.lifeCycleStatus[0].catgegorie}}</td>
    </tr>
  </tbody>
</table>