.htSiteLinkDetails {
    margin: 50px;
}

.angular-google-map-container {
    width: 100%;
    height: 400px;
}

#tt {position:absolute; display:block;}
#tttop {display:block; height:5px; margin-left:5px; overflow:hidden}
#ttcont {display:block; padding: 2px 5px; margin-left:5px; background:#000; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; overflow:hidden}
