<div uib-accordion-group="" class="panel-primary" template-url="src/app/mwtnInventory/templates/accordeonHeader.tpl.html"
 heading="{{equipment.uuid + ' | '+ equipment.name || equipment.label }}">
	<div class="row">
		<div class="col">
			Manufacturer: <br /> <b> {{ equipment.manufacturer.id }} </b>
		</div>
		<div class="col">
			Serial:  <br /> <b> {{ equipment.manufacturer.serial }} </b>
		</div>
    
	  <div class="col">
      Version: <br /> <b> {{ equipment.manufacturer.version }} </b>
	  </div>
    <div class="col">
	  	Date:  <br /> <b> {{ equipment.manufacturer.date | date }} </b>
	  </div>

		<div class="col">
			Description: <br /> <b> {{ equipment.manufacturer.description }} </b>
		</div>
		<div class="col">
			Part Type Id:  <br /> <b> {{ equipment.manufacturer.partTypeIdentifier }} </b>
		</div>
    
		<div class="col">
      Model Identifier: <br /> <b> {{ equipment.manufacturer.modelIdentifier }} </b>
		</div>
    <div class="col">
			Type Name:  <br /> <b> {{ equipment.manufacturer.partTypeIdetypeNamentifier }} </b>
		</div>
	</div>
	<div class="row">
			<mwtn-equipment-group equipments="equipment.children" />
  </div>
		<div class="row">
  </div>
</div>
