<ht-header help-link='sdnr/mwtnLog/0.4.0/README.md'></ht-header>
<div id="mwtnLogGrid" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns
 class="mwtnLogGrid"></div>
 <uib-progressbar ng-show="progress.show" class="progress-striped" type="warning" max="progress.max" value="progress.value" ><i>{{progress.value}} / {{progress.max}}</i></uib-progressbar>
 
<div class="text-right">
 <br/>
 <button type="button" id="clearLog" class="btn btn-warning" ng-click="clearLog()">
  <i class="fa fa-times" aria-hidden="true"></i>
  <span>Clear log</span>
 </button>
 <!-- see gird menu Export ...
 <button type="button" id="saveLog" class="btn btn-primary" ng-click="saveLog()">
  <i class="fa fa-save" aria-hidden="true"></i>
  <span>Save...</span>
 </button>  -->
 <button type="button" id="refreshLog" class="btn btn-primary" ng-click="refreshLog()">
  <i class="fa fa-refresh" ng-class="{'fa-pulse':processing}" aria-hidden="true"></i>
  <span>{{'MWTN_REFRESH' | translate}}</span>
 </button>
</div>

<hr />
<div class="owl">
 <span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>