/**
 *  Add your application related css here
 */ 
.owl .uib-tab a {
    border: 1px solid #000;
    background-color: white;
    color: #3276b1;
}

.owl .uib-tab.active a {
    background-color: #3276b1;
    color: white;
}

.mwtnLogGrid {
  height: 600px;
  background-color: white;
}

.mwtnLogGrid span {
  color: #393939;
}

.mwtnLogGrid div.debug {
  color: #393939;
  background-color: white;
}
.mwtnLogGrid div.error {
  color: #ff0000;
  background-color: #ffeeee;
  font-weight: bold;
}

.mwtnLogGrid div.info {
  color: #3276b1;
  background-color: #eeeeff;
}

.mwtnLogGrid div.warning {
  color: #ffa500;
  background-color: #ffeedd;
}

.rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

h3.modal-title {
  color: #393939;
}

.modal-body span {
  color: #393939;
} 