<!-- This is the landing page of you application, Update the content as per your requirements -->
<div class="container" style="width: 800px">

 <div class="row">
  <div class="col-md-11">
   <h4>Simple chat application based on (ODL) WebSockets</h4>
  </div>
 </div>

 <div class="row">
  <div class="col-md-11">
   <hr/ >
  </div>
 </div>

 <div class="row">
  <div class="col-md-11">
   <p>
    <span>The beauty of WebSockets within OpenDaylight.</span>
   </p>
   <p>
    <span>Useful links:</span>
   <ul>
    <li>
     <a href="https://github.com/opendaylight/docs/blob/master/manuals/developer-guide/src/main/asciidoc/controller/websocket-notifications.adoc">
      <span>https://github.com/opendaylight/docs/blob/master/manuals/developer-guide/src/main/asciidoc/controller/websocket-notifications.adoc</span>
     </a>
    </li>
    <li>
     <a href="https://wiki.opendaylight.org/view/OpenDaylight_DLUX:Create_application_with_archetype">
      <span>https://wiki.opendaylight.org/view/OpenDaylight_DLUX:Create_application_with_archetype</span>
     </a>
    </li>
   </ul>
   </p>
   <p>
    <span>Code:</span>
   <ul>
    <li>
     <a href="https://github.com/OpenNetworkingFoundation/CENTENNIAL/tree/master/03-WTN-PoC/code/apps/odlChat">
      <span>https://github.com/OpenNetworkingFoundation/CENTENNIAL/tree/master/03-WTN-PoC/code/apps/odlChat</span>
     </a>
    </li>
   </ul>
   </p>


  </div>
 </div>

 <div class="row">
  <div class="col-md-11">
   <hr/ >
  </div>
 </div>

 <div class="row" ng-repeat="tweet in collection">
  <div class="col-md-2 text-right">
   <span>{{tweet.nickname}}:</span>
  </div>
  <div class="col-md-8">
   <span>
    <b>{{tweet.message}}</b>
   </span>
  </div>
  <div class="col-md-1">
   <span>{{tweet.time}}</span>
  </div>
 </div>

 <div class="row">
  <div class="col-md-11">
   <hr/ >
  </div>
 </div>

 <div class="row">
  <div class="col-md-2 text-right">
   <input class="form-control" type="text" step="1" ng-model="chat.nickname" />
  </div>
  <div class="col-md-8 text-right">
   <input class="form-control" type="text" step="1" ng-model="chat.message" />
  </div>
  <div class="col-md-1">
   <button class="btn btn-primary" type="submit" ng-click="send(chat)">{{'Send' | translate}}</button>
  </div>
 </div>

 <div class="row">
  <div class="col-md-2 text-right">
   <span>{{'Nickname' | translate}} </span>
  </div>
  <div class="col-md-8 text-right">
   <span>{{'Message' | translate}} </span>
  </div>
  <div class="col-md-1"></div>
 </div>
</div>

<hr />
<p>
 <span>Build: @buildtime@</span>
</p>
