<ht-header help-link='sdnr/pnfPerformance/0.4.0/README.md'></ht-header>
<mwtn-select-network-element></mwtn-select-network-element>

<div class="owl container" ng-if="networkElements.lenght !== 0 && networkElement" style="width: 100%">

  <div class="row" ng-show="networkElements.lenght !== 0">
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control" ng-model="selecteditem.selectedLtpId">
				  <option ng-repeat="ltp in availableLtpIds" value="{{ltp.key}}">{{ltp.label}}</option>
				</select>
      </div>
    </div>
    <div class="col-md-3">
      <span class="white">{{'MWTN_SELECT_LTP' | translate }}</span>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select class="form-control" ng-model="selecteditem.timePeriod">
          <option ng-repeat="time in timePeriods">{{time}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <span class="white">{{'MWTN_TIME_PERIOD' | translate}}</span>
    </div>
  </div>

  <div class="row" ng-show="selecteditem.selectedLtpId">
    <div class="col-md-12">
    <uib-accordion close-others="true">
      <div uib-accordion-group class="panel-primary" is-open="status.performance826" ng-show="layerProtocol==='MWPS'">
        <uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.performance826, 'fa-chevron-right': !status.performance826}"></i>
          <span>Performance Data G.826</span>
          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.performance826"></i>
        </uib-accordion-heading>

        <div id="mwtnFaultGridAlarmLog" ui-grid="gridOptionsPerformance826" ui-grid-pagination ui-grid-exporter ui-grid-selection
          ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns class="mwtnHistoryGrid">
        </div>
      </div>
      <div uib-accordion-group class="panel-primary" is-open="status.receiveLevel" ng-show="layerProtocol==='MWPS'">
        <uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.receiveLevel, 'fa-chevron-right': !status.receiveLevel}"></i>
          <span>Receive Level</span>
          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.receiveLevel"></i>
        </uib-accordion-heading>

        <div ui-grid="gridOptionsReceiveLevel" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
          ui-grid-move-columns class="mwtnHistoryGrid">
        </div>

      </div>
      <div uib-accordion-group class="panel-primary" is-open="status.transmissionLevel" ng-show="layerProtocol==='MWPS'">
        <uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.transmissionLevel, 'fa-chevron-right': !status.transmissionLevel}"></i>
          <span>Transmission Power</span>
          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.transmissionLevel"></i>
        </uib-accordion-heading>

        <div ui-grid="gridOptionsTransmissionLevel" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
          ui-grid-move-columns class="mwtnHistoryGrid">
        </div>

      </div>
      <div uib-accordion-group class="panel-primary" is-open="status.modulation" ng-show="layerProtocol==='MWPS'">
        <uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.modulation, 'fa-chevron-right': !status.modulation}"></i>
          <span>Adaptive Modulation</span>
          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.modulation"></i>
        </uib-accordion-heading>

        <div ui-grid="gridOptionsModulation" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
          ui-grid-move-columns class="mwtnHistoryGrid">
        </div>

      </div>
      <div uib-accordion-group class="panel-primary" is-open="status.temperature" ng-show="layerProtocol==='MWPS'">
        <uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.temperature, 'fa-chevron-right': !status.temperature}"></i>
          <span>Temperature</span>
          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.temperature"></i>
        </uib-accordion-heading>

        <div ui-grid="gridOptionsTemperature" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
          ui-grid-move-columns class="mwtnHistoryGrid">
        </div>

      </div>
      <div uib-accordion-group class="panel-primary" is-open="status.snir" ng-show="layerProtocol==='MWPS'">
        <uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.snir, 'fa-chevron-right': !status.snir}"></i>
          <span>{{'MWTN_SINR' | translate}}</span>
          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.snir"></i>
        </uib-accordion-heading>

        <div ui-grid="gridOptionsSnir" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
          ui-grid-move-columns class="mwtnHistoryGrid">
        </div>

      </div>
      <div uib-accordion-group class="panel-primary" is-open="status.crossPolarDiscrimination" ng-show="layerProtocol==='MWPS'">
        <uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.crossPolarDiscrimination, 'fa-chevron-right': !status.crossPolarDiscrimination}"></i>
          <span>Cross Polar Discrimination</span>
          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.crossPolarDiscrimination"></i>
        </uib-accordion-heading>

        <div ui-grid="gridOptionsCrossPolarDiscrimination" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
          ui-grid-move-columns class="mwtnHistoryGrid">
        </div>

      </div>

      <div uib-accordion-group class="panel-primary" is-open="status.performanceEthernetContainer" ng-show="layerProtocol==='ETC'">
        <uib-accordion-heading> <i class="pull-left fa" ng-class="{'fa-chevron-down': status.performanceEthernetContainer, 'fa-chevron-right': !status.performanceEthernetContainer}"></i>
          <span>Performance Data</span>
          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.performanceEthernetContainer"></i>
        </uib-accordion-heading>

        <div ui-grid="gridOptionsPerformanceEthernetContainer" ui-grid-pagination ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns
          ui-grid-auto-resize ui-grid-move-columns class="mwtnHistoryGrid">
        </div>
      </div>

    </uib-accordion>
  </div>  
  </div>  
</div>
<hr />
<div class="owl">
  <span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>