.app-help {
  color:azure; 
}

.global-help {
  float: left;
  margin: 5px;
  margin-left: 8px;
}

.app-help th {
  padding: 3px;
  border-bottom: #eeeeee solid 1px;
}

.app-help td {
  padding: 2px;
}

.app-help tbody {
  padding: 2px;
  border-bottom: #eeeeee solid 1px;
  margin-bottom: 20px;
}

.app-help .toc {
  padding-left: 0;
  padding-top: 25px;
  max-width: 170px;
}

.app-help a[href^="http://"]:after {
  content: "\f08e";
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  padding-left: 3px;
}

.app-help a[href^="https://"]:after {
  content: "\f08e";
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  padding-left: 3px;
}

.app-help a, .global-help a {
  color:azure; 
  text-decoration: none;
}

.app-help a:visited, .global-help a:visited {
  color:azure; 
   text-decoration: none;
}

.app-help a:hover, .global-help a:hover {
  color:bisque; 
}

.app-help .toc ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  border: none;
  overflow: hidden;
}

.app-help .toc li {
  line-height: 1.5em;
  position: relative;
  padding: 0 0 0 20px;
}

.app-help .toc > tree > ul > li {
  padding: 0
}

.app-help .toc li a {
  color:azure; 
  text-decoration: none;
}

.app-help .toc li a:visited {
  color:azure; 
  text-decoration: none;
}

.app-help .toc li a:hover {
  color:bisque; 
  text-decoration: none;
}

.app-help > .help {
  color:azure;
}

.app-help > .help img {
  width: 100%
}