/**
 *  Add your application related css here
 */

.mwtnLinkGrid {
  height: 600px;
  background-color: white;
  color:black;
}

.mwtnLinkGrid span {
  color: #393939;
}

.ht-pagination span{
    color: #393939;
}