<ht-header help-link='sdnr/pnfPerformance/0.4.0/README.md'></ht-header>
<div class="owl container">

<!--	input for link id 
  <div class="row">
		 <div class="col-md-2 text-right radio">
      <span>{{'MWTN_LINK_IDENTIFIER' | translate }}</span>
    </div>
    <div class="col-md-4">
      <div class="form-group">
			 <input list="linkIds" class="form-control" ng-model="linkId">
       <datalist id="linkIds">
			   <option ng-repeat="linkId in linkIds" value="{{linkId}}" >{{linkId}}</option>
       </datalist>
      </div>
    </div>
	</div> -->

  <div class="row">
		<div class="col-md-2 text-right radio">
			<span class="white">{{'MWTN_NETWORKELEMENT' | translate}} A</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
        <input list="networkElementsA" class="form-control" ng-model="networkElementA" placeholder="Select network element">
        <datalist id="networkElementsA">
          <option ng-repeat="ne in networkElements" value="{{ne.id}}">{{ne.id}}</option>
        </datalist>
			</div>
		</div>
		
    	<div class="col-md-2 text-right radio">
			<span class="white">{{'MWTN_NETWORKELEMENT' | translate}} B</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
        <input list="networkElementsB" class="form-control" ng-model="networkElementB" placeholder="Select network element">
        <datalist id="networkElementsB">
          <option ng-repeat="ne in networkElements" value="{{ne.id}}">{{ne.id}}</option>
        </datalist>
			</div>
		</div>

	</div>
	<div class="row">
			<div class="col-md-2 text-right radio">
			<span class="white">{{'MWTN_AIR_INTERFACE' | translate }} A</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<select class="form-control" ng-model="selectedLtpIdA">
			  	<option ng-repeat="protocol in availableLtpIdsA">{{protocol}}</option>
				</select>
			</div>
		</div>


    	<div class="col-md-2 text-right radio">
			<span class="white">{{'MWTN_AIR_INTERFACE' | translate }} B</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<select class="form-control" ng-model="selectedLtpIdB">
			  	<option ng-repeat="protocol in availableLtpIdsB">{{protocol}}</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		 <div class="col-md-2 text-right radio">
      <span class="white">{{'MWTN_TIME_PERIOD' | translate}}</span>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <select class="form-control" ng-model="timePeriod">
          <option ng-repeat="time in timePeriods">{{time}}</option>
        </select>
      </div>
    </div>
	</div>

	<div class="row" ng-if="networkElementA && networkElementB && selectedLtpIdA !== 'Select LTP' && selectedLtpIdB !== 'Select LTP' ">
		<uib-accordion close-others="true">
					<div uib-accordion-group class="panel-primary" is-open="status.receiveLevel">
  			   	<uib-accordion-heading> <i class="pull-left fa"
  					    ng-class="{'fa-chevron-down': status.receiveLevel, 'fa-chevron-right': !status.receiveLevel}"></i>
  					  	<span>Receive Level</span>
    					  <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.receiveLevel"></i>
    				  	</uib-accordion-heading>
							  		<canvas id="line" 
 										  	class="chart chart-line" 
 										  	chart-data="receiveData"
										  	chart-series="receiveSeries" 
										  	chart-options="receiveOptions"
										  	chart-dataset-override="receiveDatasetOverride" 
										  	chart-colors="defaultColors">
								  	</canvas
			  		</div> <!-- canvas bugs with div, please keep in!-->

				   	<div 
         					  ui-grid="gridOptionsReceiveLevel"
       					    ui-grid-pagination 
        				    ui-grid-exporter 
       					    ui-grid-selection 
        				    ui-grid-pinning 
                    ui-grid-resize-columns 
                    ui-grid-move-columns class="mwtnLinkGrid">
					   </div>

              <!-- pagniation controll for grid-->
					    <div class="ht-pagination">
                  <button class="btn btn-default"
                       ng-disabled="gridOptionsReceiveLevel.paginationCurrentPage === 1"
                       ng-click="recvGridApi.pagination.seek(1)"
                       ng-class="{'cancelCursor':gridOptionsReceiveLevel.paginationCurrentPage === 1}"
                       role="menuitem" type="button" title="Page to first" aria-label="Page to first">
                         <i class="fa fa-step-backward "></i>
                 </button>
                 <button class="btn btn-default"
                     ng-disabled="gridOptionsReceiveLevel.paginationCurrentPage === 1"
                     ng-class="{'cancelCursor':gridOptionsReceiveLevel.paginationCurrentPage === 1}"
                     ng-click="recvGridApi.pagination.previousPage()"
                     role="menuitem" type="button" title="Previous Page" aria-label="Previous Page">
                      <i class="fa fa-play fa-rotate-180 "></i>
                 </button>
                 <input class="btn btn-default" style="text-align:right;"  border="1" 
                     ng-model="gridOptionsReceiveLevel.paginationCurrentPage"
                     ng-change="seekPage(gridOptionsReceiveLevel.paginationCurrentPage,'receiveLevel')"
                     type="number" style="width:20px;"/>
                                    <span class="dark">&nbsp;/ {{ recvGridApi.pagination.getTotalPages() }}</span>
                <button class="btn btn-default" role="menuitem" type="button" title="Next Page" aria-label="Next Page"
                      ng-disabled="gridOptionsReceiveLevel.paginationCurrentPage === recvGridApi.pagination.getTotalPages()"
                      ng-click="recvGridApi.pagination.nextPage()">
                    <i class="fa fa-play "></i>
                </button>
                <button class="btn btn-default" ng-disabled="gridOptionsReceiveLevel.paginationCurrentPage === recvGridApi.pagination.getTotalPages()"
                        ng-click="recvGridApi.pagination.seek(recvGridApi.pagination.getTotalPages())"
                        role="menuitem" type="button" title="Page to last" aria-label="Page to last">
                  <i class="fa fa-step-forward "></i>
                </button>
               <select 
                  class="btn btn-default" name="repeatSelect" id="repeatSelect" 
                  ng-init="gridOptionsReceiveLevel.paginationPageSize = gridOptionsReceiveLevel.paginationPageSizes[0]" 
                  ng-model="gridOptionsReceiveLevel.paginationPageSize" 
                  ng-options="option for option in gridOptionsReceiveLevel.paginationPageSizes"></select>
                <span class="dark"> {{ itemsMessage() }}</span>
                <span class="pull-right dark">{{ paginationStatusMessage('receiveLevel') }}</span>
            </div>		
					</div>

					<div uib-accordion-group class="panel-primary" is-open="status.transmissionLevel">
              <uib-accordion-heading> <i class="pull-left fa"
                  ng-class="{'fa-chevron-down': status.transmissionLevel, 'fa-chevron-right': !status.transmissionLevel}"></i>
                  <span>Transmission Power</span>
                  <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.transmissionLevel"></i>
                  </uib-accordion-heading>
                  <canvas id="line" 
                          class="chart chart-line" 
                          chart-data="transmissionData"
                          chart-series="transmissionSeries" 
                          chart-options="transmissionOptions"
                          chart-dataset-override="transmissionDatasetOverride" 
                          chart-colors="defaultColors">
                  </canvas
                  </div> <!-- canvas bugs with div, please keep in!-->
                  <div 
                        ui-grid="gridOptionsTransmissionLevel"
                        ui-grid-pagination 
                        ui-grid-exporter 
                        ui-grid-selection 
                        ui-grid-pinning 
                        ui-grid-resize-columns 
                        ui-grid-move-columns class="mwtnLinkGrid">
                </div>
                  <!-- pagniation controll for grid-->
				    		<div class="ht-pagination">
                <button class="btn btn-default"
                      ng-disabled="gridOptionsTransmissionLevel.paginationCurrentPage === 1"
                      ng-click="transmissionGridApi.pagination.seek(1)"
                      ng-class="{'cancelCursor':gridOptionsTransmissionLevel.paginationCurrentPage === 1}"
                      role="menuitem" type="button" title="Page to first" aria-label="Page to first">
                  <i class="fa fa-step-backward "></i>
                </button>
                <button class="btn btn-default"
                      ng-disabled="gridOptionsTransmissionLevel.paginationCurrentPage === 1"
                      ng-class="{'cancelCursor':gridOptionsTransmissionLevel.paginationCurrentPage === 1}"
                      ng-click="transmissionGridApi.pagination.previousPage()"

                      role="menuitem" type="button" title="Previous Page" aria-label="Previous Page">
                  <i class="fa fa-play fa-rotate-180 "></i>
                </button>
                <input class="btn btn-default" style="text-align:right;"  border="1" 
                    ng-model="gridOptionsTransmissionLevel.paginationCurrentPage"
                    ng-change="seekPage(gridOptionsTransmissionLevel.paginationCurrentPage,'transmissionLevel')"
                      type="number" style="width:20px;"/>
                <span class="dark">&nbsp;/ {{ transmissionGridApi.pagination.getTotalPages() }}</span>

                <button class="btn btn-default" role="menuitem" type="button" title="Next Page" aria-label="Next Page"
                      ng-disabled="gridOptionsTransmissionLevel.paginationCurrentPage === transmissionGridApi.pagination.getTotalPages()"
                      ng-click="transmissionGridApi.pagination.nextPage()">
                    <i class="fa fa-play "></i>
                </button>
                <button class="btn btn-default" ng-disabled="gridOptionsTransmissionLevel.paginationCurrentPage === transmissionGridApi.pagination.getTotalPages()"
                      ng-click="transmissionGridApi.pagination.seek(transmissionGridApi.pagination.getTotalPages())"
                      role="menuitem" type="button" title="Page to last" aria-label="Page to last">
                  <i class="fa fa-step-forward "></i>
                </button>
                <select 
                  class="btn btn-default" name="repeatSelect" 
                  ng-init="gridOptionsTransmissionLevel.paginationPageSize = gridOptionsTransmissionLevel.paginationPageSizes[0]" 
                  ng-model="gridOptionsTransmissionLevel.paginationPageSize" 
                  ng-options="option for option in gridOptionsTransmissionLevel.paginationPageSizes"></select>
              
                <span class="dark"> {{ itemsMessage() }}</span>
                <span class="pull-right dark">{{ paginationStatusMessage('transmissionLevel') }}</span>
               </div>		
					</div>

					<div uib-accordion-group class="panel-primary" is-open="status.modulation">
  				<uib-accordion-heading> <i class="pull-left fa"
  					  ng-class="{'fa-chevron-down': status.modulation, 'fa-chevron-right': !status.modulation}"></i>
  						<span>Adaptive Modulation</span>
    					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.modulation"></i>
    					</uib-accordion-heading>
							<canvas id="line" 
 											class="chart chart-line" 
 											chart-data="modulationData"
											chart-series="modultaionSeries" 
											chart-options="modulationOptions"
											chart-dataset-override="modulationDatasetOverride">
							</canvas
							</div> <!-- canvas bugs with div, please keep in!-->
				  		<div 
         				  	ui-grid="gridOptionsModulation"
       					    ui-grid-pagination 
        				    ui-grid-exporter 
       					    ui-grid-selection 
        				    ui-grid-pinning 
                    ui-grid-resize-columns 
                    ui-grid-move-columns class="mwtnLinkGrid">
					   </div>
               <!-- pagniation controll for grid-->
					  	<div class="ht-pagination">
              <button class="btn btn-default"
                    ng-disabled="gridOptionsModulation.paginationCurrentPage === 1"
                    ng-click="gridApi.pagination.seek(1)"
                    ng-class="{'cancelCursor':gridOptionsModulation.paginationCurrentPage === 1}"
                    role="menuitem" type="button" title="Page to first" aria-label="Page to first">
                <i class="fa fa-step-backward "></i>
              </button>
              <button class="btn btn-default"
                    ng-disabled="gridOptionsModulation.paginationCurrentPage === 1"
                    ng-class="{'cancelCursor':gridOptionsModulation.paginationCurrentPage === 1}"
                    ng-click="gridApi.pagination.previousPage()"
                    role="menuitem" type="button" title="Previous Page" aria-label="Previous Page">
                <i class="fa fa-play fa-rotate-180 "></i>
              </button>
              <input class="btn btn-default" style="text-align:right;"  border="1" 
                  ng-model="gridOptionsModulation.paginationCurrentPage"
                  ng-change="seekPage(gridOptionsModulation.paginationCurrentPage,'modulation')"
                  type="number" style="width:20px;"/>
              <span class="dark">&nbsp;/ {{ gridApi.pagination.getTotalPages() }}</span>
              <button class="btn btn-default" role="menuitem" type="button" title="Next Page" aria-label="Next Page"
                    ng-disabled="gridOptionsModulation.paginationCurrentPage === gridApi.pagination.getTotalPages()"
                    ng-click="gridApi.pagination.nextPage()">
                  <i class="fa fa-play "></i>
              </button>
              <button class="btn btn-default" ng-disabled="gridOptionsModulation.paginationCurrentPage === gridApi.pagination.getTotalPages()"
                    ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())"
                    role="menuitem" type="button" title="Page to last" aria-label="Page to last">
                <i class="fa fa-step-forward "></i>
              </button>
              <select 
                class="btn btn-default" name="repeatSelect" 
                ng-init="gridOptionsModulation.paginationPageSize = gridOptionsModulation.paginationPageSizes[0]" 
                ng-model="gridOptionsModulation.paginationPageSize" 
                ng-options="option for option in gridOptionsModulation.paginationPageSizes"></select>
              <span class="dark"> {{ itemsMessage() }}</span>
              <span class="pull-right dark">{{ paginationStatusMessage('modulation') }}</span>
            </div>		
					</div>

					<div uib-accordion-group class="panel-primary" is-open="status.temperature">
  				<uib-accordion-heading> <i class="pull-left fa"
  					  ng-class="{'fa-chevron-down': status.temperature, 'fa-chevron-right': !status.temperature}"></i>
  						<span>Temperature</span>
    					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.temperature"></i>
    					</uib-accordion-heading>
							<canvas id="line" 
 											class="chart chart-line" 
 											chart-data="tempData"
											chart-series="tempSeries" 
											chart-options="tempOptions"
											chart-dataset-override="tempDatasetOverride" 
											chart-colors="defaultColors">
							</canvas
				    	</div> <!-- canvas bugs with div, please keep in!-->
		  				<div 
         					  ui-grid="gridOptionsTemperature"
       					    ui-grid-pagination 
        				    ui-grid-exporter 
       					    ui-grid-selection 
        				    ui-grid-pinning 
                    ui-grid-resize-columns 
                    ui-grid-move-columns  
                    class="mwtnLinkGrid">
					   </div>
               <!-- pagniation controll for grid-->
						<div class="ht-pagination">
                <button class="btn btn-default"
                      ng-disabled="gridOptionsTemperature.paginationCurrentPage === 1"
                      ng-click="gridTemperatureApi.pagination.seek(1)"
                      ng-class="{'cancelCursor':gridOptionsTemperature.paginationCurrentPage === 1}"
                      role="menuitem" type="button" title="Page to first" aria-label="Page to first">
                  <i class="fa fa-step-backward "></i>
                </button>
                <button class="btn btn-default"
                      ng-disabled="gridOptionsTemperature.paginationCurrentPage === 1"
                      ng-class="{'cancelCursor':gridOptionsTemperature.paginationCurrentPage === 1}"
                      ng-click="gridTemperatureApi.pagination.previousPage()"
                      role="menuitem" type="button" title="Previous Page" aria-label="Previous Page">
                  <i class="fa fa-play fa-rotate-180 "></i>
                </button>
                <input class="btn btn-default" style="text-align:right;"  border="1" 
                    ng-model="gridOptionsTemperature.paginationCurrentPage"
                    ng-change="seekPage(gridOptionsTemperature.paginationCurrentPage,'temperature')"
                      type="number" style="width:20px;"/>
                <span class="dark">&nbsp;/ {{ gridTemperatureApi.pagination.getTotalPages() }}</span>
                <button class="btn btn-default" role="menuitem" type="button" title="Next Page" aria-label="Next Page"
                      ng-disabled="gridOptionsTemperature.paginationCurrentPage === gridTemperatureApi.pagination.getTotalPages()"
                      ng-click="gridTemperatureApi.pagination.nextPage()">
                    <i class="fa fa-play "></i>
                </button>
                <button class="btn btn-default" ng-disabled="gridOptionsTemperature.paginationCurrentPage === gridTemperatureApi.pagination.getTotalPages()"
                      ng-click="gridTemperatureApi.pagination.seek(gridTemperatureApi.pagination.getTotalPages())"
                      role="menuitem" type="button" title="Page to last" aria-label="Page to last">
                  <i class="fa fa-step-forward "></i>
                </button>
                <select 
                  class="btn btn-default" name="repeatSelect" 
                  ng-init="gridOptionsTemperature.paginationPageSize = gridOptionsTemperature.paginationPageSizes[0]" 
                  ng-model="gridOptionsTemperature.paginationPageSize" 
                  ng-options="option for option in gridOptionsTemperature.paginationPageSizes"></select>
                <span class="dark"> {{ itemsMessage() }}</span>
                <span class="pull-right dark">{{ paginationStatusMessage('temperature') }}</span>
             </div>		
					</div>

					<div uib-accordion-group class="panel-primary" is-open="status.snir">
  				<uib-accordion-heading> <i class="pull-left fa"
  					  ng-class="{'fa-chevron-down': status.snir, 'fa-chevron-right': !status.snir}"></i>
              <span>{{'MWTN_SINR' | translate}}</span>
    					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.snir"></i>
    					</uib-accordion-heading>
								   <canvas id="line" 
 											class="chart chart-line" 
 											chart-data="snirChartData"
											chart-series="snirSeries" 
											chart-options="snirOptions"
											chart-dataset-override="snirsetOverride" 
											chart-colors="defaultColors">
									</canvas
		        			</div> <!-- canvas bugs with div, please keep in!-->
				    			<div 
         			  		ui-grid="gridOptionsSnir"
       					    ui-grid-pagination 
        				    ui-grid-exporter 
       					    ui-grid-selection 
        				    ui-grid-pinning 
                    ui-grid-resize-columns 
                    ui-grid-move-columns  
                    class="mwtnLinkGrid">
					       </div>	
                   <!-- pagniation controll for grid-->		   					   
              	<div class="ht-pagination">
                <button class="btn btn-default"
                      ng-disabled="gridOptionsSnir.paginationCurrentPage === 1"
                      ng-click="gridSNIRApi.pagination.seek(1)"
                      ng-class="{'cancelCursor':gridOptionsSnir.paginationCurrentPage === 1}"
                      role="menuitem" type="button" title="Page to first" aria-label="Page to first">
                  <i class="fa fa-step-backward "></i>
                </button>
                <button class="btn btn-default"
                      ng-disabled="gridOptionsSnir.paginationCurrentPage === 1"
                      ng-class="{'cancelCursor':gridOptionsSnir.paginationCurrentPage === 1}"
                      ng-click="gridSNIRApi.pagination.previousPage()"
                      role="menuitem" type="button" title="Previous Page" aria-label="Previous Page">
                  <i class="fa fa-play fa-rotate-180 "></i>
                </button>
                <input class="btn btn-default" style="text-align:right;"  border="1" 
                    ng-model="gridOptionsSnir.paginationCurrentPage"
                    ng-change="seekPage(gridOptionsSnir.paginationCurrentPage,'snir')"
                      type="number" style="width:20px;"/>
                <span class="dark">&nbsp;/ {{ gridSNIRApi.pagination.getTotalPages() }}</span>
                <button class="btn btn-default" role="menuitem" type="button" title="Next Page" aria-label="Next Page"
                      ng-disabled="gridOptionsSnir.paginationCurrentPage === gridSNIRApi.pagination.getTotalPages()"
                      ng-click="gridSNIRApi.pagination.nextPage()">
                    <i class="fa fa-play "></i>
                </button>
                <button class="btn btn-default" ng-disabled="gridOptionsSnir.paginationCurrentPage === gridSNIRApi.pagination.getTotalPages()"
                      ng-click="gridSNIRApi.pagination.seek(gridSNIRApi.pagination.getTotalPages())"
                      role="menuitem" type="button" title="Page to last" aria-label="Page to last">
                  <i class="fa fa-step-forward "></i>
                </button>
                <select 
                  class="btn btn-default" name="repeatSelect" 
                  ng-init="gridOptionsSnir.paginationPageSize = gridOptionsSnir.paginationPageSizes[0]" 
                  ng-model="gridOptionsSnir.paginationPageSize" 
                  ng-options="option for option in gridOptionsSnir.paginationPageSizes"></select>
                <span class="dark"> {{ itemsMessage() }}</span>
                <span class="pull-right dark">{{ paginationStatusMessage('snir') }}</span>
              </div>	
					</div>

					<div uib-accordion-group class="panel-primary" is-open="status.crossPolarDiscrimination">
  				<uib-accordion-heading> <i class="pull-left fa"
  					  ng-class="{'fa-chevron-down': status.crossPolarDiscrimination, 'fa-chevron-right': !status.crossPolarDiscrimination}"></i>
  						<span>Cross Polar Discrimination</span>
    					<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.crossPolarDiscrimination"></i>
    					</uib-accordion-heading>						
							<canvas id="line" 
 											class="chart chart-line" 
 											chart-data="xpdChartData"
											chart-series="xpdSeries" 
											chart-options="xpdOptions"
											chart-dataset-override="crossPolarDiscriminationsetOverride" 
											chart-colors="defaultColors">
							</canvas
			    		</div> <!-- canvas bugs with div, please keep in!-->
							<div 
         					ui-grid="gridOptionsCrossPolarDiscrimination"
       					    ui-grid-pagination 
        				    ui-grid-exporter 
       					    ui-grid-selection 
        				    ui-grid-pinning 
                    ui-grid-resize-columns 
                    ui-grid-move-columns  
                    class="mwtnLinkGrid">
					   </div>
               <!-- pagniation controll for grid-->
					   <div class="ht-pagination">
                <button class="btn btn-default"
                      ng-disabled="gridOptionsCrossPolarDiscrimination.paginationCurrentPage === 1"
                      ng-click="gridXpdApi.pagination.seek(1)"
                      ng-class="{'cancelCursor':gridOptionsCrossPolarDiscrimination.paginationCurrentPage === 1}"
                      role="menuitem" type="button" title="Page to first" aria-label="Page to first">
                  <i class="fa fa-step-backward "></i>
                </button>
                <button class="btn btn-default"
                      ng-disabled="gridOptionsCrossPolarDiscrimination.paginationCurrentPage === 1"
                      ng-class="{'cancelCursor':gridOptionsCrossPolarDiscrimination.paginationCurrentPage === 1}"
                      ng-click="gridXpdApi.pagination.previousPage()"
                      role="menuitem" type="button" title="Previous Page" aria-label="Previous Page">
                  <i class="fa fa-play fa-rotate-180 "></i>
                </button>
                <input class="btn btn-default" style="text-align:right;"  border="1" 
                    ng-model="gridOptionsCrossPolarDiscrimination.paginationCurrentPage"
                    ng-change="seekPage(gridOptionsCrossPolarDiscrimination.paginationCurrentPage,'crossPolarDiscrimination')"
                      type="number" style="width:20px;"/>
                <span class="dark">&nbsp;/ {{ gridXpdApi.pagination.getTotalPages() }}</span>
                <button class="btn btn-default" role="menuitem" type="button" title="Next Page" aria-label="Next Page"
                      ng-disabled="gridOptionsCrossPolarDiscrimination.paginationCurrentPage === gridXpdApi.pagination.getTotalPages()"
                      ng-click="gridXpdApi.pagination.nextPage()">
                    <i class="fa fa-play "></i>
                </button>
                <button class="btn btn-default" ng-disabled="gridOptionsCrossPolarDiscrimination.paginationCurrentPage === gridXpdApi.pagination.getTotalPages()"
                      ng-click="gridXpdApi.pagination.seek(gridXpdApi.pagination.getTotalPages())"
                      role="menuitem" type="button" title="Page to last" aria-label="Page to last">
                  <i class="fa fa-step-forward "></i>
                </button>
                <select 
                  class="btn btn-default" name="repeatSelect" 
                  ng-init="gridOptionsCrossPolarDiscrimination.paginationPageSize = gridOptionsCrossPolarDiscrimination.paginationPageSizes[0]" 
                  ng-model="gridOptionsCrossPolarDiscrimination.paginationPageSize" 
                  ng-options="option for option in gridOptionsCrossPolarDiscrimination.paginationPageSizes"></select>
                <span class="dark"> {{ itemsMessage() }}</span>
                <span class="pull-right dark">{{ paginationStatusMessage('crossPolarDiscrimination') }}</span>
              </div>	
					</div>
				</uib-accordion>
	</div>
</div>
<hr />
<div class="owl">
 <span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>