/**
 *  Add your application related css here
 */

.alarm div {
  height: 160px;
  vertical-align: middle;	
}
 
.cleared {
  color: lightgreen;
}
.cleared span {
  color: lightgreen;
}
 
.raised {
  color: red;
}
.raised span {
  color: red;
}

.mwtnSpectrumGrid {
  height: 600px;
  background-color: white;
}

.mwtnSpectrumGrid span {
  color: #393939;
}

.mwtnSpectrumGrid span.mismatch {
  font-weight: bold;
  color: #428bca;	
}

.mwtnSpectrumGrid .green {
  color: darkgreen;
}
.mwtnSpectrumGrid .green span  {
  color: darkgreen;
}
 
 