/**
 *  Add your application related css here
 */
.mwtnMediatorGrid {
  height: 600px;
  background-color: white;
}

.mwtnMediatorGrid span {
  color: #393939;
}
span.mwtnMediatorStatusRunning{
	color: darkgreen;
}
span.mwtnMediatorStatusNotRunning{
	color: darkred;
}
span.mwtnMediatorCStatusIcon{
	font-size:2rem;
	vertical-align:middle;
}
span.mwtnMediatorOStatusIcon{
	font-size:2.5rem;
	vertical-align:middle;
}

#mediatorserver-list{
	list-style-type:none;
	padding:0;
	margin:0;
	display:block;

}
#mediatorserver-list > li
{
	padding:0.3rem;
	display:block;
	position:relative;
}
#mediatorserver-list > li:nth-child(even)
{
	background:#FFF;
}
#mediatorserver-list > li:nth-child(odd)
{
	background:#EEE;
}
#mediatorserver-list > li.selected
{
	background:#EBFF7F;
}
#mediatorserver-list > li > span.desc
{
	display:block;
}
#mediatorserver-list > li > div.icons
{
	position:absolute;
	right:0;top:0;bottom:0;width:auto;
}
#mediatorserver-list > li > div.icons > span.fa
{
	position:relative;margin-right:.6rem;margin-top:.3rem;font-size:2rem;cursor:pointer;
}
#mediatorserver-list > li > div.icons > span.fa:hover
{
	font-weight:bold;
}
.acc-mediatorlog > .panel-group .panel-body{padding:0;}