/**
 *  Add your application related css here
 */

.panel-odl > .panel-heading {
    color: #444444;
    background-color: orange;
    border-color: #000000;
    cursor: pointer;
}

.accordion-toggle {
    text-decoration: none;
}
.accordion-toggle span {
    color: #444444;
}
.modal-title {
    color: #444444;
}
.modal-body span {
    color: #444444;
}
.ht-right {
   color: red;
   text-align: right;
}
.nowrap {white-space: nowrap;}
