<ht-header help-link='sdnr/mwtnSpectrum/0.4.0/README.md'></ht-header>
<div class="owl container">
	<div class="row">
		<div clase="col-md-12 text-left radio"
			ng-class="{'raised':interference.alarmStatus !== 'cleared', 'cleared':interference.alarmStatus === 'cleared' }">
			<span>{{'MWTN_INTERFERENCE_ALARM_STATUS' | translate}}: </span>
			<i class="fa fa-bell" aria-hidden="true" ng-show="interference.alarmStatus !== 'cleared'"></i> 
			<span>{{interference.alarmStatus}}</span>
		</div>
	</div>
	<div class="row">
		<div clase="col-md-12">
		    <hr/>
			<button class="btn btn-lg btn-block" ng-click="execute()" ng-class="{'btn-danger':interference.alarmStatus !== 'cleared', 'btn-success':interference.alarmStatus === 'cleared' }">
				<div class="container" >
					<div class="row alarm">
						<div class="col-md-2 text-left">
						  <img ng-show="interference.alarmStatus !== 'cleared'" src="src/app/mwtnSpectrum/images/bluelight.gif" ></img>
						</div>
						<div class="col-md-8">
						    </br></br>
							<i class="fa" ng-class="{'fa-exclamation-triangle':interference.alarmStatus !== 'cleared', 'fa-question-circle-o':interference.alarmStatus === 'cleared' }" aria-hidden="true"></i>
							<span ng-show="interference.alarmStatus !== 'cleared'">{{'MWTN_INTERFERENCE_ALARM!' | translate}}</span>
							<span ng-show="interference.alarmStatus === 'cleared'">{{'MWTN_INTERFERENCE_ALARM?' | translate}}</span>
						</div>
						<div class="col-md-2">
						  <img  ng-show="interference.alarmStatus !== 'cleared'" src="src/app/mwtnSpectrum/images/bluelight.gif" ></img>
						</div>
					</div>
				</div>
			</button>
			<hr/>
		</div>
	</div>
<!-- 	<div class="row">
		<div clase="col-md-12">
			<button class="btn btn-success" ng-click="clear()">
               <i class="fa fa-magic" aria-hidden="true"></i>
				<span>{{'MWTN_CLEAR' | translate}}</span>
			</button>
		</div>
	</div>  -->
	<div class="row">
		<div clase="col-md-12 text-right">
			<button class="btn btn-primary pull-right" ng-click="refresh()">
                <i class="fa fa-refresh" ng-class="{'fa-spin':processing == true}" aria-hidden="true"></i>
				<span>{{'MWTN_REFRESH' | translate}}</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div clase="col-md-12">
		    <div><span class="white">All frequencies in kHz</span></div>
			<div id="mwtnSpectrumGrid" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns
			 class="mwtnSpectrumGrid">
			 </div>
		</div>
	</div>

</div>
<hr />
<div class="owl">
	<span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>