.htDatabase {
    margin: 10px 20px;
}

table.dataTable thead td {
    padding: 10px 2px;
}

.dtFilter40 {
    display: inline-block;
    max-width: 40px;
    vertical-align: middle;
}

.dtFilter50 {
    display: inline-block;
    max-width: 50px;
    vertical-align: middle;
}

.dtFilter60 {
    display: inline-block;
    max-width: 60px;
    vertical-align: middle;
}

.dtFilter70 {
    display: inline-block;
    max-width: 70px;
    vertical-align: middle;
}

.dtFilter80 {
    display: inline-block;
    max-width: 80px;
    vertical-align: middle;
}

.dtFilter90 {
    display: inline-block;
    max-width: 90px;
    vertical-align: middle;
}

.dtFilter100 {
    display: inline-block;
    max-width: 100px;
    vertical-align: middle;
}

.dtFilter200 {
    display: inline-block;
    max-width: 200px;
    vertical-align: middle;
}

.dtFilterAuto {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}