
<ht-header help-link='sdnr/security/0.4.0/README.md'></ht-header>

<uib-accordion close-others="oneAtATime">

	<div uib-accordion-group class="panel-primary" is-open="status.user">
		<uib-accordion-heading>
			<i class="pull-left fa" ng-class="{'fa-chevron-down': status.user, 'fa-chevron-right': !status.user}"></i>
			<span>Users</span>
		</uib-accordion-heading>
		<div id="userGrid" ui-grid="userDetailsGridOptions" ui-grid-exporter ui-grid-edit ui-grid-selection ui-grid-pinning
		 ui-grid-resize-columns ui-grid-move-columns class="userGrid">
		</div>
	</div>

	<div uib-accordion-group class="panel-primary" is-open="status.role">
		<uib-accordion-heading>
			<i class="pull-left fa" ng-class="{'fa-chevron-down': status.role, 'fa-chevron-right': !status.role}"></i>
			<span>Roles</span>
		</uib-accordion-heading>
		<div id="roleGrid" ui-grid="roleDetailsGridOptions" ui-grid-exporter ui-grid-edit ui-grid-selection ui-grid-pinning
		 ui-grid-resize-columns ui-grid-move-columns class="roleGrid">
		</div>
	</div>

</uib-accordion>

<hr />
<div class="owl">
	<span class="white">ONAP SDN-R | ONF Wireless for @distversion@ - Build: @buildtime@</span>
</div>

<!-- <div id="security">
   <h2>Users</h2>
   <table class="table">
     <thead>
       <tr>
         <th>UserID</th>
         <th>Name</th>
         <th>Description</th>
         <th>Enabled</th>
         <th>eMail</th>
		     <th>Domain</th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="user in users">
         <td>{{user.userid}}</td>
		   	 <td>{{user.name}}</td>
         <td>{{user.description}}</td>
		   	 <td>{{user.enabled}}</td>
				<td>{{user.email}}</td>
				<td>{{user.domainid}}</td>
				<td>
          <button class="btn btn-sm btn-success" 
                  ng-click="getCurrentUserById(user.userid)">Info</button></td>
       </tr>
     </tbody>
   </table>
<h2>Roles</h2>
<table class="table">
	<thead>
		<tr>
			<th>RoleID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Domain</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="role in roles">
			<td>{{role.roleid}}</td>
			<td>{{role.name}}</td>
			<td>{{role.description}}</td>
			<td>{{role.domainid}}</td>
		</tr>
	</tbody>
</table>
</div> -->
