<alarm-status></alarm-status>
<mwtn-select-network-element></mwtn-select-network-element>

<div id="mwtnConfig">
  
  <div class="container" style="width: 100%"  ng-hide="networkElements.length > 0 && onfNetworkElement">
    <div ng-show="loading">
      <i class="fa fa-spinner fa-pulse mwtnLight" aria-hidden="true"></i>
      <span>{{ 'MWTN_LOADING' | translate }}</span>
    </div>
    <div ng-show="unexpected">
      <div class="owl">
        <span>UNEXPECTED BEHAVIOR: Even the NETCONF server is connected and supports the correct control and management interface, there is not a valid response. Please check the NETCONF interface of the node. </span>
      </div>
      <pre>{{error | json}}</pre>
    </div>
  </div>
  <div class="container" style="width: 100%"  ng-show="networkElements.length > 0 && onfNetworkElement">
		<uib-accordion close-others="oneAtATime">

		<div class="row">
			<div class="col-md-12">
				<div uib-accordion-group class="panel-primary"
					is-open="status.ne">
					<uib-accordion-heading>
					    <i class="pull-left fa" ng-class="{'fa-chevron-down': status.ne, 'fa-chevron-right': !status.ne}"></i>
					    <span>{{'MWTN_NETWORKELEMENT' | translate}} '{{onfNetworkElement.getName()}}'</span>
						<i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.ne"></i>
					</uib-accordion-heading>

						<div class="container" style="width:100%" path="path" parameters="onfNetworkElement.getData()" >
						</div>
				
					
					<div uib-accordion-group class="panel-default"
			      is-open="status.neCurrentProblems" ng-show="neCurrentProblems">
			      <uib-accordion-heading>
			          <i class="pull-left fa" ng-class="{'fa-chevron-down': status.neCurrentProblems, 'fa-chevron-right': !status.neCurrentProblems}"></i>
			          <span>{{'MWTN_CURRENT_PROBLEM_LIST' | translate}}</span>
			          <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner.neCurrentProblems"></i>
			      </uib-accordion-heading>
            <div id="neCurrentProblemsGrid" 
                 ui-grid="neCurrentProblemsGridOptions" 
                 ui-grid-exporter 
                 ui-grid-selection 
                 ui-grid-pinning 
                 ui-grid-resize-columns 
                 ui-grid-move-columns
                 class="mwtnNeCurrentProblemsGrid"></div>
			    </div>
					

					<div ng-repeat="ltp in onfLtps" uib-accordion-group
						class="panel-default"
						heading=""
						is-open="status['ltp' + separator + ltp.getData().uuid]">
						<uib-accordion-heading>
						    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['ltp' + separator + ltp.getData().uuid], 'fa-chevron-right': !status['ltp' + separator + ltp.getData().uuid]}"></i>
						    <span>{{'LTP' | translate}}({{ltp.getLayerProtocols()[0].getItuLabel().toUpperCase()}}) -> '{{ltp.getId()}}'</span>
						    <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner[ ['ltp', ltp.getData().uuid].join(separator)]"></i>
						</uib-accordion-heading>
						<div class="container" style="width:100%" path="path" parameters="ltp.getData()" >
						
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div ng-class="{ 'col-md-12': containers.length === 1, 'col-md-6': containers.length === 2, 'col-md-4': containers.length > 2 }" ng-repeat="container in containers">
				<div uib-accordion-group class="panel-primary"
					is-open="status['container' + separator + container.layerProtocol]">
					<uib-accordion-heading>
					    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['container' + separator + container.layerProtocol], 'fa-chevron-right': !status['container' + separator + container.layerProtocol]}"></i>
					    <span>Container '{{container.layerProtocol}}'</span>
					</uib-accordion-heading>
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" 
						is-open="status['container' + separator +  container.layerProtocol + separator + part]">
						<uib-accordion-heading>
						    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['container' + separator +  container.layerProtocol + separator + part], 'fa-chevron-right': !status['container' + separator +  container.layerProtocol + separator + part]}"></i>
						    <span>{{part}}</span>
						    <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner[ ['container', container.layerProtocol, part].join(separator)]"></i>
						</uib-accordion-heading>
 						<div ng-show="part === 'Configuration'" class="container" style="width:100%">
   					      <i class="pull-right fa fa-pencil-square-o pointer" aria-hidden="true" ng-click="openConfigView({list:'containers', lp:container.layerProtocol})" ></i>
						</div>
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in container[part]" path="path" parameters="parameters" >
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-class="{ 'col-md-12': structures.length === 1, 'col-md-6': structures.length === 2, 'col-md-4': structures.length > 2 }" ng-repeat="structure in structures">
				<div uib-accordion-group class="panel-primary"
					is-open="status['structure' + separator + structure.layerProtocol]">
					<uib-accordion-heading>
					    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['structure' + separator + structure.layerProtocol], 'fa-chevron-right': !status['structure' + separator + structure.layerProtocol]}"></i>
					    <span>Structure '{{structure.layerProtocol}}'</span>
					</uib-accordion-heading>
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" 
						is-open="status['structure' + separator + structure.layerProtocol + separator + part]">
						<uib-accordion-heading>
						    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['structure' + separator + structure.layerProtocol + separator + part], 'fa-chevron-right': !status['structure' + separator + structure.layerProtocol + separator + part]}"></i>
						    <span>{{part}}</span>
						    <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner[ ['structure', structure.layerProtocol, part].join(separator)]"></i>
						</uib-accordion-heading>
 						<!-- <div ng-show="part === 'Configuration'" class="container" style="width:100%">
   					      <i class="pull-right fa fa-pencil-square-o pointer" aria-hidden="true" ng-click="openConfigView({list:'structures', lp:structure.layerProtocol})" ></i>
						</div>  -->
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in structure[part]" path="path" parameters="parameters" >
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div ng-class="{ 'col-md-12': airinterfaces.length === 1, 'col-md-6': airinterfaces.length === 2, 'col-md-4': airinterfaces.length > 2 }" ng-repeat="airinterface in airinterfaces">
				<div uib-accordion-group class="panel-primary"
					is-open="status['airinterface' + separator + airinterface.layerProtocol]">
					<uib-accordion-heading>
					    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['airinterface' + separator + airinterface.layerProtocol], 'fa-chevron-right': !status['airinterface' + separator + airinterface.layerProtocol]}"></i>
					    <span>Air interface '{{airinterface.layerProtocol}}'</span>
					</uib-accordion-heading>
					<div ng-repeat="part in parts" uib-accordion-group
						class="panel-default" 
						is-open="status['airinterface' + separator + airinterface.layerProtocol + separator + part]">
						<uib-accordion-heading>
						    <i class="pull-left fa" ng-class="{'fa-chevron-down': status['airinterface' + separator + airinterface.layerProtocol + separator + part], 'fa-chevron-right': !status['airinterface' + separator + airinterface.layerProtocol + separator + part]}"></i>
						    <span>{{part}}</span>
						    <i class="pull-right fa fa-spinner fa-pulse" ng-show="spinner[ ['airinterface', airinterface.layerProtocol, part].join(separator)]"></i>
 						</uib-accordion-heading>
 						<div ng-show="part === 'Configuration'" class="container" style="width:100%">
   					      <i class="pull-right fa fa-pencil-square-o pointer" aria-hidden="true" ng-click="openConfigView({list:'airinterfaces', lp:airinterface.layerProtocol})" ></i>
						</div>
						<div class="container" style="width:100%" ng-repeat="(part2, parameters) in airinterface[part]" path="path" parameters="parameters" >
						</div>
					</div>
				</div>
			</div>
		</div>

		</uib-accordion>
	</div>
</div>
<!--<pre>{{jsonData | json}}</pre>-->
<hr />
<div class="owl">
	<span class="white">ONF Wireless for OpenDaylight Boron-SR1 - Build: @buildtime@</span>
</div>