<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{ data.el.Name }}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-3"><span>Name:</span></div>
    <div class="col-md-9">
    	<input type="text" class="form-control" ng-model="mediator.name" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"><span>DeviceType:</div>
    <div class="col-md-9">
    	<select class="form-control" ng-model="mediator.devicetype" >
    		<option ng-repeat="option in options.nedevicetype" value="{{option.Value}}">{{option.Name}}</option>
    	</select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"><span>IP address:</div>
    <div class="col-md-9">
    	<input type="text" ng-model="mediator.remoteip" class="form-control" style="display:inline-block;width:70%;"/>
    	<span>&nbsp;:&nbsp;</span>
    	<input type="text" ng-model="mediator.remoteport" class="form-control" style="display:inline-block;width:25%;float:right;"/>

    </div>
  </div>
  <div class="row">
    <div class="col-md-3"><span>TrapsPort:</div>
    <div class="col-md-9">
    	<input type="number" class="form-control" ng-model="mediator.trapsport" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"><span>NetconfPort:</div>
    <div class="col-md-9">
    <input type="number" class="form-control" ng-model="mediator.ncport" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"><span>NeModel:</div>
    <div class="col-md-9">
    	<select class="form-control" ng-model="mediator.nexml">
    		<option ng-repeat="option in options.nexmlmodel" value="{{option}}">{{option}}</option>
    	</select>
    </div>
  </div>
  <hr class="row" />
  <div class="row">
	<uib-accordion close-others="oneAtATime">
		<div uib-accordion-group class="panel-default"	is-open="false">
		<uib-accordion-heading>
		    <i class="pull-left fa" ng-class="{'fa-chevron-down': false, 'fa-chevron-right': true}"></i>
		    <span>{{'ODL Connection Config' | translate}}</span>
		</uib-accordion-heading>
		<div class="" style="position:relative;">
			<button class="btn btn-default" ng-click="odledit()" style="position:absolute;top:1rem;right:1rem;"><i class="fa fa-edit"></i></button>
			<div class="row">
				<div class="col-md-3"><span >Hostname:</span></div>
				<div class="col-md-6"><input ng-disabled="!odlsavebtn.enabled" class="form-control" type="text" ng-model="odlconfig.Server" /></div>
			</div>
			<div class="row">
				<div class="col-md-3"><span >Port:</span></div>
				<div class="col-md-6"><input ng-disabled="!odlsavebtn.enabled" class="form-control" type="text" ng-model="odlconfig.Port" /></div>
			</div>
			<div class="row">
				<div class="col-md-3"><span >Username:</span></div>
				<div class="col-md-6"><input ng-disabled="!odlsavebtn.enabled" class="form-control" type="text" ng-model="odlconfig.User" /></div>
			</div>
			<div class="row">
				<div class="col-md-3"><span >Password:</span></div>
				<div class="col-md-6"><input ng-disabled="!odlsavebtn.enabled" class="form-control" type="text" ng-model="odlconfig.Password" /></div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6"><button class="btn btn-default" ng-click="odlsave()" ng-disabled="!odlsavebtn.enabled">Save</button></div>
			</div>

		</div>
</div>
	</uib-accordion>
  </div>
  <div class="row">
  	<div class="col-md-12">
  		<span style="display:block;text-align:right;color:#0F0;">{{statusmessage}}</span>
  		<span style="display:block;text-align:right;color:#F00;">{{errormessage}}</span>
  	</div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">
    <span>{{'MWTN_MED_ADD' | translate}}</span>
  </button>
  <button class="btn btn-danger" type="button" ng-show="true" ng-click="cancel()">
    <i class="fa fa-trash" aria-hidden="true"></i>
    <span>{{'MWTN_CANCEL' | translate}}...</span>
  </button>
</div>
