<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{ data.el.Name }}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
     <div class="col-xs-3"><span>DeviceType:</span></div>
     <div class="col-xs-9"><span>{{data.el.DeviceTypeString}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>DeviceIP:</span></div>
     <div class="col-xs-9"><span>{{data.el.DeviceIp}}:{{data.el.DevicePort}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>TrapsPort:</span></div>
     <div class="col-xs-9"><span>{{data.el.TrapsPort}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>NetconfPort:</span></div>
     <div class="col-xs-9"><span>{{data.el.NetconfPort}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>NeXMLModel:</span></div>
     <div class="col-xs-9"><span>{{data.el.NeModel}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>Status:</span></div>
     <div class="col-xs-9">
     	<span class="mwtnMediatorStatusRunning" ng-show="{{data.el.PID}}>0">running ({{data.el.PID}})</span>
    	<span class="mwtnMediatorStatusNotRunning" ng-show="{{data.el.PID}}==0">stopped</span>
    </div>
  </div>
   <div class="row">
     <div class="col-xs-3"><span>Locked:</span></div>
     <div class="col-xs-9"><span>{{data.el.IsLocked}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>NetconfConnected:</span></div>
     <div class="col-xs-9"><span>{{data.el.IsNetConfConnected}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>NEConnected:</span></div>
     <div class="col-xs-9"><span>{{data.el.IsNetworkElementConnected}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>Firewall Configured:</span></div>
     <div class="col-xs-9"><span>{{data.el.FirewallRuleActive}}</span></div>
  </div>
  <div class="row">
     <div class="col-xs-3"><span>Autorun:</span></div>
     <div class="col-xs-9"><span>{{data.el.Autorun}}</span></div>
  </div>
  <div class="row">
	<uib-accordion close-others="oneAtATime" class="acc-mediatorlog">
		<div uib-accordion-group class="panel-default"	is-open="false">
		<uib-accordion-heading>
		    <i class="pull-left fa" ng-class="{'fa-chevron-down': false, 'fa-chevron-right': true}"></i>
		    <span>{{'Logs' | translate}}</span>
		</uib-accordion-heading>
			<div id="mwtnLogGrid"
				ui-grid="logGridOptions"
				ui-grid-exporter
				ui-grid-selection
				ui-grid-pinning
				ui-grid-resize-columns
				ui-grid-move-columns
				class="mwtnLogGrid"></div>

</div>
	</uib-accordion>
  </div>
  <div class="row">
  	<div class="col-md-12">
  		<span style="display:block;text-align:right;color:#0F0;">{{statusmessage}}</span>
  		<span style="display:block;text-align:right;color:#F00;">{{errormessage}}</span>
  	</div>
  </div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-show="{{data.el.IsLocked}}" ng-click="unlock()">
	<i class="fa fa-lock" aria-hidden="true"></i>
	<span>{{'Unlock' | translate}}</span>
	</button>
	<button class="btn btn-danger" type="button" ng-show="true" ng-click="delete()">
    <i class="fa fa-trash" aria-hidden="true"></i>
    <span>{{'MWTN_MED_DELETE' | translate}}...</span>
  </button>
	<button class="btn btn-primary" type="button" ng-show="true" ng-click="start()">
    <span>{{'MWTN_MED_START' | translate}}...</span>
  </button>
  <button class="btn btn-primary" type="button" ng-show="true" ng-click="stop()">
    <span>{{'MWTN_MED_STOP' | translate}}...</span>
  </button>
	<button class="btn btn-primary" type="button" ng-click="ok()">
    <span>{{'MWTN_MED_CLOSE' | translate}}</span>
  </button>
</div>
