<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{ data.el.Name }}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
   	<div class="col-xs-12 col-lg-6">
   		<h3>MediatorServers:</h3>
   		<ul id="mediatorserver-list" >
   		</ul>
   	</div>
     <div class="col-xs-6 col-lg-6">
     	<h3>Configuration:</h3>
     	<div id="mediatorserver-details">
			<div class="row">
				<div class="col-xs-5"><span style="float:right;">Id:</span></div>
				<div class="col-xs-7"><input type="text" id="tbx_mediatorserver-id" name="mediatorserver-id" value="" /></div>
			</div>
			<div class="row">
				<div class="col-xs-5"><span style="float:right;">Name:</span></div>
				<div class="col-xs-7"><input type="text" id="tbx_mediatorserver-name" name="mediatorserver-name" value="" /></div>
			</div>
			<div class="row">
				<div class="col-xs-5"><span style="float:right;">Host:</span></div>
				<div class="col-xs-7"><input type="text" id="tbx_mediatorserver-host" name="mediatorserver-host" value="" /></div>
			</div>
			<div class="row">
				<div class="col-xs-5"><span style="float:right;">Version:</span></div>
				<div class="col-xs-7"><input type="text" id="tbx_mediatorserver-version" name="mediatorserver-version" value="" /></div>
			</div>
			<div class="row">
				<div class="col-xs-5"><span style="float:right;">MediatorVersion:</span></div>
				<div class="col-xs-7"><input type="text" id="tbx_mediatorserver-medversion" name="mediatorserver-medversion" value="" /></div>
			</div>
     	</div>
     </div>
 </div>
 <hr class="row" />
 <div class="row">
 	<button class="btn btn-primary" ng-click="close()">Close</button>
 </div>
</div>