
<div class="container">
  <form role="form">
    <div class="row">
      <div class="col-md-2">
        <b>{{'SITELINK' | translate}}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">{{'Z_INDEX' | translate}}:</div>
      <div class="col-md-2">
        <input type="range" min="0" max="100" step="1" class="bar" ng-model="profile.siteLink.shape.zIndex"></input>
      </div>
      <div class="col-md-1">
        <span>{{profile.siteLink.zIndex}}</span>
      </div>
    </div>
    <!-- SITELINK NORMAL -->
    <div class="row">
      <div class="col-md-2">
        <b>{{'SITELINK' | translate}}, {{'NORMAL' | translate}}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">{{'COLOR' | translate}}:</div>
      <div class="col-md-2">
        <input class="form-control" type="color" ng-model="profile.siteLink.normal.stroke.color"></input>
      </div>
      <div class="col-md-1">
        <span>{{profile.siteLink.normal.stroke.color}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">{{'OPACITY' | translate}}:</div>
      <div class="col-md-2">
        <input type="range" min="0" max="1" step="0.1" class="bar" ng-model="profile.siteLink.normal.stroke.opacity"></input>
      </div>
      <div class="col-md-1">
        <span>{{profile.siteLink.normal.stroke.opacity}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">{{'WIDTH' | translate}}:</div>
      <div class="col-md-2">
        <input type="range" min="0" max="10" class="bar" ng-model="profile.siteLink.normal.stroke.width"></input>
      </div>
      <div class="col-md-1">
        <span>{{profile.siteLink.normal.stroke.width}}</span>
      </div>
    </div>
                                    <div class="row">
                                        <div class="col-md-2 text-right">{{'TYPE' | translate}}:</div>
                                        <div class="col-md-2">
                                            <select class="form-control" ng-model="profile.siteLink.normal.stroke.type">
                                                <option ng-repeat="type in stroke.types" value="{{type}}">{{type | uppercase | translate}}</option>
                                            </select>
                                        </div>
                                    </div>
    <!-- SITE HOVER -->
    <div class="row">
      <div class="col-md-2">
        <b>{{'SITELINK' | translate}}, {{'HOVER' | translate}}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">{{'COLOR' | translate}}:</div>
      <div class="col-md-2">
        <input class="form-control" type="color" ng-model="profile.siteLink.hover.stroke.color"></input>
      </div>
      <div class="col-md-1">
        <span>{{profile.siteLink.hover.stroke.color}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">{{'OPACITY' | translate}}:</div>
      <div class="col-md-2">
        <input type="range" min="0" max="1" step="0.1" class="bar" ng-model="profile.siteLink.hover.stroke.opacity"></input>
      </div>
      <div class="col-md-1">
        <span>{{profile.siteLink.hover.stroke.opacity}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">{{'WIDTH' | translate}}:</div>
      <div class="col-md-2">
        <input type="range" min="0" max="10" class="bar" ng-model="profile.siteLink.hover.stroke.width"></input>
      </div>
      <div class="col-md-1">
        <span>{{profile.siteLink.hover.stroke.width}}</span>
      </div>
    </div>
                                    <div class="row">
                                        <div class="col-md-2 text-right">{{'TYPE' | translate}}:</div>
                                        <div class="col-md-2">
                                            <select class="form-control" ng-model="profile.siteLink.hover.stroke.type">
                                                <option ng-repeat="type in stroke.types" value="{{type}}">{{type | uppercase | translate}}</option>
                                            </select>
                                        </div>
                                    </div>
  </form>
</div>
