<div class="htProfile">
  <div class="container">
    <ht-header headline="RACKLAYOUT"></ht-header>
    <div class="row">
      <div class="col-md-3">
        <div style="margin: 10px 0px 10px; float: left;">
          <canvas id="canvas"></canvas>
        </div>
      </div>
      <div class="col-md-9">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td class="text-right">{{'SITE'|translate}}:</td>
              <td class="text-left">
                <a href='/ux/#/sites/{{siteIndex}}/{{siteId}}' target='_self'>
                  <b>{{siteId}}</b>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-right">{{'LOCATION'|translate}}:</td>
              <td class="text-left">
                <a href="/ux/modules/networkMap/map.html#/{{siteIndex}}?site={{siteId}}" target="htNetworkMap">
                  <b>{{ site.geoLocation.location.lat | coordinateFilter:'toDMS':'lat'}} | {{ site.geoLocation.location.lon | coordinateFilter:'toDMS':'lon'}}</b>
                  <span class="glyphicon glyphicon-map-marker"></span>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-right">{{'AMSL_GRD'|translate}}:</td>
              <td class="text-left">
                <b> {{site.geoLocation.location.amslGrd | number:2 }} </b>
                <span> m</span>
              </td>
            </tr>
            <tr>
              <td class="text-right">is Aggregator:</td>
              <td class="text-left">
                <b> {{site.isAggregator }} </b>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <span>Scale:</span>
              <!-- 
                <input type="range" min="0" max="32" class="input bar" ng-model="scale"></input>
-->
              <select class="form-control" ng-model="scale" ng-change="update()" ng-options="opt for opt in options.step"></select>
            </div>
          </div>
        </div>
        <table class="table table-striped" ng-show="site.networkElements.length">
          <thead>
            <tr>
              <th>Type</th>
              <th>Eth capable</th>
              <th>Status</th>
              <th>Merge status</th>
              <th>Position [U]</th>
              <th>Height [U]</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ne in networkElements">
              <td class="text-left">{{ne.inventory.type}}</td>
              <td class="text-left">{{ne.inventory.isIubPS}}</td>
              <td class="text-left">{{ne.inventory.status.name}}</td>
              <td class="text-left">{{ne.inventory.goldenGridStatus}}</td>
              <td class="text-right">{{ne.position}}</td>
              <td class="text-right">{{ne.height}}</td>
            </tr>
          </tbody>
        </table>
        <!--  <p>{{site}}</p>  -->
        <p>{{selection.top}}</p>
      </div>
    </div>
    <hr style="clear: both" />
    <ht-footer></ht-footer>
  </div>
</div>