html { 
	height: 100%; 
}
body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%; 
}
.angular-google-map-container { 
	height: 100vh; 
}
.labelClass {
    color:#EEE; 
    text-align: center;
} 
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}
.table i {
    color: #CC0000;
}
.table a i {
    color: #000000;
}
.providera {
    color: #0CF;
}
.telefonica {
    color: #0CF;
}
.eplus {
    color: #0F3;
}
.provider1 {
    color: #0F3;
}
.mix {
    color: #00FFFF;
}

.new-loslink {
    background-color: RGBA(127,0,0,127);
}

.pointer {
	cursor: pointer;
}
.left20 { 
	margin-left: 20px; 
}
#text {margin:50px auto; width:500px}
.hotspot {color:#ffffff; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block;}
#tttop {display:block; height:5px; margin-left:5px; overflow:hidden}
#ttcont {display:block; padding: 2px 5px; margin-left:5px; background:#000; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; overflow:hidden}

i.btn-accordion {
	margin-right: 5px;
}
div.control {
	margin: 10px;
}
div.sitesCtrl {
	height: 100%;
}
div.htPopUpPlane {
	color: #666666;
	padding: 6px 10px;
    max-width: 300px;
	z-index: -200;
    border-radius: 5px;
	background: rgba(255, 255, 255, 0.90); 
}
/* overwrite */
.gm-style {
	font-size: 14px;
}