<div class="owl">
  <div class="row text-right">
    <div class="form-group">
      <button class="btn btn-default" type="button" clipboard supported="myClipboard.supported" text="myClipboard.getJson()"
        on-copied="myClipboard.copyToClipboard()" on-error="myClipboard.error(err)">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
      </button>
      <button class="btn btn-default" type="button" ng-if="replace">
        <i class="fa fa-pencil-square-o pointer" aria-hidden="true" ng-click="openConfigView()" ></i>
      </button>
    <div>
  </div>
</div>
<div class="owl">

<!--
  <div class="row" ng-repeat="(key, value) in viewData track by $index" ng-show="value.value !== undefined">
    <span class="owl-dark">{{key | json}}</span><br/>
    <span class="owl-dark">{{value | json}}</span><br/>
    <span class="owl-dark">{{viewData[key].labelId | translate}}</span>
    <span class="owl-dark">{{viewData['instance-number'].labelId | translate}}</span>
  </div> -->

  <!-- instance-number - ->
  <div class="row">
    <div class="col col-md-3 text-right" title="{{viewData['instance-number'].description}}">
      <span class="owl-dark">{{viewData['instance-number'].labelId | translate}}</span>
    </div>
    <div class="col col-md-4">
      <b>{{viewData['instance-number'].value}}</b>
    </div>
  </div> -->

  <!-- current-ds -->
  <div class="row">
    <div class="column col-md-6 text-left" title="{{viewData['default-ds'].description}}">
      <b>{{viewData['default-ds'].labelId | translate}}</b>
      <i class="fa fa-pencil-square-o pointer" aria-hidden="true" ng-click="show(viewData['default-ds'].value)"></i>
      <br/>
      <mwtn-json-viewer network-element="networkElement" data="viewData['default-ds'].value" no-buttons="true" ng-if="viewData['default-ds'].value"></mwtn-json-viewer>
      <hr/>
    </div>

    <div class="column col-md-6 text-left" title="{{viewData['parent-ds'].description}}">
      <b>{{viewData['parent-ds'].labelId | translate}}</b>
      <br/>
      <mwtn-json-viewer network-element="networkElement" data="viewData['parent-ds'].value" no-buttons="true" ng-if="viewData['parent-ds'].value"></mwtn-json-viewer>
      <hr/>
    </div>

    <div class="column col-md-6 text-left" ng-repeat="key in ['current-ds', 'time-properties-ds']" title="{{viewData[key].description}}">
      <b>{{viewData[key].labelId | translate}}</b>
      <br/>
      <mwtn-json-viewer network-element="networkElement" data="viewData[key].value" no-buttons="true" ng-if="viewData[key].value"></mwtn-json-viewer>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-12 text-left" >
        <b>{{'MWTN_PORT_DS_LIST' | translate}}</b>
        <br/>
        <mwtn-ptp-ports network-element="networkElement" data="viewData['port-ds-list'].value" path="path"></mwtn-ptp-ports>
    </div>
  </div>
</div>