<div ng-show="!siteLink.data._source.mwrLinkRevisionVariants.length">{{'ZERO_RECORDS' | translate}}</div>
<table class='table table-striped' ng-show="siteLink.data._source.mwrLinkRevisionVariants.length">
  <thead>
    <tr>
      <th class='text-left'>{{'MWR_LINK_ID' | translate}} </th>
      <th class='text-left'>{{'REVISION' | translate}} </th>
      <th class='text-left'>{{'SITE' | translate}} (high)</th>
      <th class='text-left'>{{'SITE' | translate}}  (low)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='link in siteLink.data._source.mwrLinkRevisionVariants'>
      <td class='text-left'>
        <span>{{link.mwrLinkId}}</span>
        <a href="/ux/#/mwrLinkRevision/{{siteLinkIndex}}/{{link.siteLinkId.high}}/{{link.siteLinkId.low}}/{{link.mwrLinkId}}/{{link.revision}}"
          title="{{'MWR_LINK_REVISION' | translate }}" target="htSolutions"
        >
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </a>
        <a href="/ux/modules/networkMap/map.html#/{{siteLinkIndex}}?sitelink={{link.siteLinkId.high}}-{{link.siteLinkId.low}}" target="htNetworkMap">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </a>
      </td>
      <td class='text-left'>
        <span>{{link.revision}}</span>
        <a href="/ux/#/revisionStatus/{{siteLinkIndex}}/{{link.siteLinkId.high}}/{{link.siteLinkId.low}}/{{link.mwrLinkId}}/{{link.revision}}"
          title="{{'MWR_LINK_REVISION' | translate }}" target="htSolutions"
        >
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </a>
      </td>
      <td class='text-left'>
        <span>{{link.siteLinkId.high}}</span>
        <a href="/ux/#/mwrLinkRevision/{{siteLinkIndex}}/{{link.siteLinkId.high}}/{{link.siteLinkId.low}}/{{link.mwrLinkId}}/{{link.revision}}"
          title="{{'MWR_LINK_REVISION' | translate }}" target="htSolutions"
        >
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </a>
        <a href="/ux/modules/networkMap/map.html#/{{siteLinkIndex}}?site={{link.siteLinkId.high}}" target="htNetworkMap">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </a>
      </td>
      <td class='text-left'>
        <span>{{link.siteLinkId.low}}</span>
        <a href="/ux/#/mwrLinkRevision/{{siteLinkIndex}}/{{link.siteLinkId.high}}/{{link.siteLinkId.low}}/{{link.mwrLinkId}}/{{link.revision}}"
          title="{{'MWR_LINK_REVISION' | translate }}" target="htSolutions"
        >
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </a>
        <a href="/ux/modules/networkMap/map.html#/{{siteLinkIndex}}?site={{link.siteLinkId.low}}" target="htNetworkMap">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
