<div ng-show="!ng-show="site.model.siteLinks.length"">{{'ZERO_RECORDS' | translate}}</div>
<table class='table table-striped' ng-show="site.model.siteLinks.length">
  <thead>
    <tr>
      <th class='text-left'>Site-Link-Name</th>
      <th class='text-right'>Azimuth A [°]</th>
      <th class='text-right'>Azimuth B [°]</th>
      <th class='text-right'>Length [km]</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='siteLink in detailedSiteLinks'>
      <td class='text-left'>
        <a href='/ux/#/siteLinks/{{dbIndex}}/{{siteLink._source.id.low}}/{{siteLink._source.id.high}}' target='htSolutions'>{{siteLink._source.name}}</a>
      </td>
      <td class='text-right'>{{siteLink._source.azimuthA | number:1}}</td>
      <td class='text-right'>{{siteLink._source.azimuthB | number:1}}</td>
      <td class='text-right'>{{siteLink._source.length | number:3 }}</td>
    </tr>
  </tbody>
</table>