/**
 *  Add your application related css here
 */

hr.mwtn {
    border: solid orange 1px;
}

.angular-google-map-container { height: 400px; }

.topoBlue {
  color: #00aaff;
}

.topoRed {
  color: #ff0000;
}
