/**
 *  Add your application related css here
 *  width: 1260px;
 */

h3.modal-title {
  color: #393939;
}

.modal-body span {
  color: #393939;
}

.panel-group .panel-warning span {
  color: #393939;
}

.panel-group .panel-default span {
  color: #393939;
}
 
.requiredNesGrid {
  height: 700px;
  background-color: white;
}

.requiredNesGrid span {
  color: #393939;
}

.unknownNesGrid {
  height: 700px;
  background-color: white;
}

.unknownNesGrid span {
  color: #393939;
}

